.form-item.form-type-textfield.form-item-field-mr-date-and-time-und-0-value2-date {
	input,
	label,
	div.description {
		color: silver;
	}
}
div.clientside-error label.error {
	color: white;
}
a#apl_logo {
    float: left;
    margin-right: 30px;
    margin-top: -18px;
}
