.DS_Store
.buildpath
.project
.settings
/backup
settings.php
sites/default/settings.php
sites/default/files
sites/default/files/css
sites/default/files/js
sites/default/files/xmlsitemap
sites/default/locfiles
/tmp
tmp/*
bu/*
pvt/*
files/*
/themes
.svn