@import "colors";

p {
	margin-bottom: 10px;
}

body {
div#apl_footer {
	background-color: darken($ahc_olive, 25%);
}
#bottom {
//	background-color: darken($ahc_olive, 40%);
//	background-color: darken($ahc_olive, 40%);
}



//	a,
//	a:hover,
//	a:link,
	h1 {
		color: darken($ahc_olive, 25%);
	}
}

div.overlogodiv {
	background: transparent url("../../apl_blanco/images/apl_logo_color.png") no-repeat 10px 10px;
	width: 125px;
	height: 85px;
}
li.apl-mnav-link.ahc > a {
	font-weight: 800;
}
div#highlight {
	margin-left: 0;
}
