@import "colors";

#highlight ul,
#highlight ul ul {
  z-index: 5;
  position: relative;
}

#highlight {
	line-height: 16px;
	div.menu-block-wrapper {
		background-color: $ahc_olive;
		border-bottom-right-radius: 5px;
	}
	ul {
	li.active,
	a.active {
		background-color: $ahc_olive;
		font-weight: bold;
//		color: $yellow;
	&:hover {
		background-color: lighten($ahc_olive, 10%) !important;
	}
		li a {
			font-weight: normal;
		}
	}
	padding-left: 0;

	li ul,
	li a:hover ul,
	li li a:hover ul,
	li li li a:hover ul,
	li li li li a:hover ul {
		visibility: visible;
		li {
			width: 200px;
			background-color: silver;
		}
	}

	li ul ul,
	li a:hover ul ul,
	li a:hover ul ul ul,
	li a:hover li:hover ul ul,
	li a:hover li:hover ul ul ul,
	li a:hover li:hover li:hover ul ul,
	li a:hover li:hover li:hover ul ul ul {
		visibility: hidden;
	}
	
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	ul {
		position: absolute;
		visibility: hidden;
	}
	li {
		ul {
			border-left: 10px solid $ahc_olive;
			border-top-right-radius: 10px;
			border-top: 1px solid silver;
                        li {
                        &.first {
                                border-top-right-radius: 10px;
                        a,
			a:hover {
                                border-top-right-radius: 10px;
                        }
                        }
                                margin-left: 0;
                        }
		}
		display: block;
		float: left;
		border-right: 1px solid white;
		&.over ul {
			visibility: visible;
		}	
		position: relative;
		a {
			display: block;

			color: white;
			background-color: darken($ahc_olive, 25%);
			padding: 5px;
			text-decoration: none;
		&:hover {
			background-color: $ahc_olive !important;
		}
		}
	}
}
}
