/* line 4, ../sass/ahc.scss */
body div#footer {
  background-color: #666a40;
}
/* line 7, ../sass/ahc.scss */
body #bottom {
  background-color: #383a23;
}
/* line 16, ../sass/ahc.scss */
body h1 {
  color: #666a40;
}

/* line 21, ../sass/ahc.scss */
div.overlogodiv {
  background: transparent url("../../apl_blanco/images/apl_logo_color.png") no-repeat 10px 10px;
  width: 125px;
  height: 85px;
}

/* line 26, ../sass/ahc.scss */
li.apl-mnav-link.ahc > a {
  font-weight: 800;
}

/* line 29, ../sass/ahc.scss */
div#highlight {
  margin-left: 0;
}
