/* line 6, ../sass/ahc_submenu.scss */
#header ul#nice-menu-1 > li:nth-child(7) a {
  font-weight: bold;
}

/* line 13, ../sass/ahc_submenu.scss */
#highlight ul,
#highlight ul ul {
  z-index: 5;
  position: relative;
}

/* line 18, ../sass/ahc_submenu.scss */
#highlight ul {
  padding-left: 0;
  /* Show submenus when over their parents. */
  /* Hide sub-menus initially. */
}
/* line 26, ../sass/ahc_submenu.scss */
#highlight ul li ul,
#highlight ul li a:hover ul,
#highlight ul li li a:hover ul,
#highlight ul li li li a:hover ul,
#highlight ul li li li li a:hover ul {
  visibility: visible;
}
/* line 29, ../sass/ahc_submenu.scss */
#highlight ul li ul li,
#highlight ul li a:hover ul li,
#highlight ul li li a:hover ul li,
#highlight ul li li li a:hover ul li,
#highlight ul li li li li a:hover ul li {
  width: 200px;
  background-color: silver;
  border: 1px solid silver;
}
/* line 43, ../sass/ahc_submenu.scss */
#highlight ul li ul ul,
#highlight ul li a:hover ul ul,
#highlight ul li a:hover ul ul ul,
#highlight ul li a:hover li:hover ul ul,
#highlight ul li a:hover li:hover ul ul ul,
#highlight ul li a:hover li:hover li:hover ul ul,
#highlight ul li a:hover li:hover li:hover ul ul ul {
  visibility: hidden;
}
/* line 47, ../sass/ahc_submenu.scss */
#highlight ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 54, ../sass/ahc_submenu.scss */
#highlight ul ul {
  position: absolute;
  visibility: hidden;
}
/* line 58, ../sass/ahc_submenu.scss */
#highlight ul li {
  display: block;
  float: left;
  margin-right: 0;
  border: 1px solid silver;
  position: relative;
}
/* line 63, ../sass/ahc_submenu.scss */
#highlight ul li.over ul {
  visibility: visible;
}
/* line 67, ../sass/ahc_submenu.scss */
#highlight ul li a {
  display: block;
  /*Default to Blue, but override as necessary*/
  color: white;
  background-color: #666a40;
  padding: 5px;
  text-decoration: none;
}
/* line 75, ../sass/ahc_submenu.scss */
#highlight ul li a:hover {
  background-color: #aaaf7a;
}
