/* line 4, ../sass/submenu.scss */
#highlight ul,
#highlight ul ul {
  z-index: 5;
  position: relative;
}

/* line 10, ../sass/submenu.scss */
#highlight div.menu-block-wrapper {
  background-color: #aaaf7a;
  min-height: 30px;
}
/* line 15, ../sass/submenu.scss */
#highlight ul {
  padding-left: 0;
  /* Show submenus when over their parents. */
  /* Hide sub-menus initially. */
}
/* line 17, ../sass/submenu.scss */
#highlight ul li.active,
#highlight ul a.active {
  background-color: #aaaf7a;
  font-weight: bold;
}
/* line 21, ../sass/submenu.scss */
#highlight ul li.active:hover,
#highlight ul a.active:hover {
  background-color: #bec29a !important;
}
/* line 24, ../sass/submenu.scss */
#highlight ul li.active li a,
#highlight ul a.active li a {
  font-weight: normal;
}
/* line 35, ../sass/submenu.scss */
#highlight ul li ul,
#highlight ul li a:hover ul,
#highlight ul li li a:hover ul,
#highlight ul li li li a:hover ul,
#highlight ul li li li li a:hover ul {
  visibility: visible;
}
/* line 38, ../sass/submenu.scss */
#highlight ul li ul li,
#highlight ul li a:hover ul li,
#highlight ul li li a:hover ul li,
#highlight ul li li li a:hover ul li,
#highlight ul li li li li a:hover ul li {
  width: 200px;
  background-color: silver;
}
/* line 52, ../sass/submenu.scss */
#highlight ul li ul ul,
#highlight ul li a:hover ul ul,
#highlight ul li a:hover ul ul ul,
#highlight ul li a:hover li:hover ul ul,
#highlight ul li a:hover li:hover ul ul ul,
#highlight ul li a:hover li:hover li:hover ul ul,
#highlight ul li a:hover li:hover li:hover ul ul ul {
  visibility: hidden;
}
/* line 56, ../sass/submenu.scss */
#highlight ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 63, ../sass/submenu.scss */
#highlight ul ul {
  position: absolute;
  visibility: hidden;
}
/* line 67, ../sass/submenu.scss */
#highlight ul li {
  display: block;
  float: left;
  margin-right: 1px;
  position: relative;
}
/* line 68, ../sass/submenu.scss */
#highlight ul li ul {
  border-left: 10px solid #aaaf7a;
  border-top-right-radius: 10px;
  border-top: 1px solid silver;
}
/* line 72, ../sass/submenu.scss */
#highlight ul li ul li {
  margin-left: 0;
}
/* line 73, ../sass/submenu.scss */
#highlight ul li ul li.first {
  border-top-right-radius: 10px;
}
/* line 76, ../sass/submenu.scss */
#highlight ul li ul li.first a,
#highlight ul li ul li.first a:hover {
  border-top-right-radius: 10px;
}
/* line 87, ../sass/submenu.scss */
#highlight ul li.over ul {
  visibility: visible;
}
/* line 91, ../sass/submenu.scss */
#highlight ul li a {
  display: block;
  /*Default to Blue, but override as necessary*/
  color: white;
  background-color: #666a40;
  padding: 5px;
  text-decoration: none;
}
/* line 99, ../sass/submenu.scss */
#highlight ul li a:hover {
  background-color: #aaaf7a !important;
}
