/* line 5, ../sass/submenu.scss */
#block-nice-menus-1:after, #block-nice-menus-1:before {
  display: none;
}

/* line 11, ../sass/submenu.scss */
#highlight ul,
#highlight ul ul {
  z-index: 5;
  position: relative;
}

/* line 16, ../sass/submenu.scss */
#highlight {
  position: relative;
  line-height: 16px;
}
/* line 17, ../sass/submenu.scss */
#highlight .views-field-field-slide-image {
  height: 110px;
}
/* line 20, ../sass/submenu.scss */
#highlight div.panel-separator {
  height: 0;
  display: none;
}
/* line 25, ../sass/submenu.scss */
#highlight:before {
  position: absolute;
  border-color: transparent transparent #383a23;
  border-style: solid;
  border-width: 0 22px 22px 0;
  content: "";
  right: -32px;
  bottom: 0;
  z-index: 10;
}
/* line 35, ../sass/submenu.scss */
#highlight:after {
  position: absolute;
  border-color: #383a23 #383a23 transparent;
  border-style: solid;
  border-width: 11px;
  height: 200px;
  content: "";
  right: -32px;
}
/* line 47, ../sass/submenu.scss */
#highlight div.menu-block-wrapper {
  background-color: #666a40;
  margin-left: -10px;
  width: 960px;
}
/* line 51, ../sass/submenu.scss */
#highlight div.menu-block-wrapper > ul {
  margin-left: 5px;
}
/* line 56, ../sass/submenu.scss */
#highlight ul {
  padding-left: 0;
}
/* line 58, ../sass/submenu.scss */
#highlight ul li.active,
#highlight ul a.active {
  font-weight: bold;
  color: #fdb813;
}
/* line 62, ../sass/submenu.scss */
#highlight ul li.active:hover,
#highlight ul a.active:hover {
  color: black;
}
/* line 66, ../sass/submenu.scss */
#highlight ul li.active li a,
#highlight ul a.active li a {
  font-weight: normal;
}
/* line 76, ../sass/submenu.scss */
#highlight ul li ul,
#highlight ul li a:hover ul,
#highlight ul li li a:hover ul,
#highlight ul li li li a:hover ul,
#highlight ul li li li li a:hover ul {
  visibility: visible;
}
/* line 78, ../sass/submenu.scss */
#highlight ul li ul li,
#highlight ul li a:hover ul li,
#highlight ul li li a:hover ul li,
#highlight ul li li li a:hover ul li,
#highlight ul li li li li a:hover ul li {
  width: 200px;
  background-color: silver;
}
/* line 90, ../sass/submenu.scss */
#highlight ul li ul ul,
#highlight ul li a:hover ul ul,
#highlight ul li a:hover ul ul ul,
#highlight ul li a:hover li:hover ul ul,
#highlight ul li a:hover li:hover ul ul ul,
#highlight ul li a:hover li:hover li:hover ul ul,
#highlight ul li a:hover li:hover li:hover ul ul ul {
  visibility: hidden;
}
/* line 94, ../sass/submenu.scss */
#highlight ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 101, ../sass/submenu.scss */
#highlight ul ul {
  position: absolute;
  visibility: hidden;
}
/* line 105, ../sass/submenu.scss */
#highlight ul li {
  display: block;
  float: left;
  padding-right: 10px;
  position: relative;
}
/* line 106, ../sass/submenu.scss */
#highlight ul li ul {
  border-left: 10px solid #aaaf7a;
  border-top-right-radius: 10px;
  border-top: 1px solid #e7e8da;
}
/* line 110, ../sass/submenu.scss */
#highlight ul li ul li {
  margin-left: 0;
}
/* line 111, ../sass/submenu.scss */
#highlight ul li ul li.first {
  border-top-right-radius: 10px;
}
/* line 114, ../sass/submenu.scss */
#highlight ul li ul li.first a,
#highlight ul li ul li.first a:hover {
  border-top-right-radius: 10px;
}
/* line 117, ../sass/submenu.scss */
#highlight ul li ul li.first li a {
  border-top-right-radius: 0;
}
/* line 121, ../sass/submenu.scss */
#highlight ul li ul li.first li.first,
#highlight ul li ul li.first li.first a {
  border-top-right-radius: 10px;
}
/* line 126, ../sass/submenu.scss */
#highlight ul li ul li ul {
  margin-left: 200px;
}
/* line 135, ../sass/submenu.scss */
#highlight ul li ul {
  border-right: none;
}
/* line 138, ../sass/submenu.scss */
#highlight ul li.over ul {
  visibility: visible;
}
/* line 142, ../sass/submenu.scss */
#highlight ul li a {
  display: block;
  color: white;
  background-color: #666a40;
  padding: 3px 5px;
  text-decoration: none;
}
/* line 149, ../sass/submenu.scss */
#highlight ul li a:hover {
  background-color: #aaaf7a !important;
}
