@charset "utf-8";
/* IE 7 & Below CSS Document */


/* Add Space Header Banner */
#header-banner {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Add Space Above Footer Blocks */
#footer-blocks {
	margin-top: 50px;
	padding-top: 35px;
	padding-bottom: 15px;
}

/* Add Space Above Footer Menu */
#footer-menu {
	margin-top: 20px !important;
	margin-bottom: 0px;
}


#footer-blocks {

}