/* line 7, ../sass/apl_global_search.scss */
#header h2.block-title,
#header #form_catalog,
#header #form_site,
#header #form_articles {
  display: none;
}
/* line 10, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 {
  float: right;
  width: 340px;
  margin-right: 10px;
  margin-top: 10px;
}
/* line 15, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 input {
  padding: 5px;
  float: right;
}
/* line 19, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 input#search_input {
  width: 258px;
  padding: 5px;
  border-bottom-left-radius: 5px;
}
/* line 24, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 input.search_button {
  background-color: #0069aa;
  border: none;
  border-top-right-radius: 5px;
  color: white;
  font-weight: bold;
  width: 70px;
  padding: 5px;
}
/* line 33, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 .searchOptions {
  float: left;
  clear: both;
  margin-top: 5px;
}
/* line 37, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 .searchOptions input {
  float: left;
}
/* line 40, ../sass/apl_global_search.scss */
#header #aplCustomSearchWrapper2 .searchOptions label {
  font-weight: normal;
  float: left;
  margin: -2px 15px 0 2px;
}
