/* line 3, ../sass/austin_city_header.scss */
body {
  margin: 0;
}

/* line 6, ../sass/austin_city_header.scss */
#austin_city_header {
  background-color: #001421;
}
/* line 8, ../sass/austin_city_header.scss */
#austin_city_header h2.pane-title {
  display: none;
}
/* line 11, ../sass/austin_city_header.scss */
#austin_city_header div {
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/austin_city_header.scss */
#austin_city_header ul.menu {
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: medium none;
  list-style: none outside none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 8px;
  font-weight: normal;
  text-align: center;
}
/* line 28, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li:nth-child(3) a {
  color: #fdb813;
  font-weight: bold;
}
/* line 32, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li {
  display: inline;
  float: none;
  margin: 0;
  margin: 0 0 0 0.5em;
  list-style: none outside none;
  font-size: 1.2em;
}
/* line 39, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li a {
  letter-spacing: 1px;
  border-right: 1px solid rgba(189, 189, 189, 0.8);
  color: #BDBDBD;
  font-size: 1.1em;
  padding: 0 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 47, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li a:hover {
  text-decoration: underline;
}
/* line 50, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li a.active {
  color: #fdb813;
  font-weight: bold;
}
/* line 55, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li.first {
  padding-left: 0;
}
/* line 58, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li.last a {
  border-right: none;
}
/* line 62, ../sass/austin_city_header.scss */
#austin_city_header ul.menu li.expanded, #austin_city_header ul.menu li.collapsed, #austin_city_header ul.menu li.leaf {
  margin: 0;
  padding: 0.2em 0 0 0;
}
