/* line 3, ../sass/blogs.scss */
.apl-blog-entry-wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 6, ../sass/blogs.scss */
.apl-blog-entry-wrapper .views-field-body {
  margin-left: 1em;
}
/* line 9, ../sass/blogs.scss */
.apl-blog-entry-wrapper .views-field-title {
  font-size: 20px;
  font-weight: bold;
}
/* line 13, ../sass/blogs.scss */
.apl-blog-entry-wrapper img {
  margin: 0 .5em .5em 0;
}
/* line 16, ../sass/blogs.scss */
.apl-blog-entry-wrapper p {
  padding-right: 1em;
}
/* line 19, ../sass/blogs.scss */
.apl-blog-entry-wrapper .views-field-title {
  font-size: 1.2em;
}
/* line 22, ../sass/blogs.scss */
.apl-blog-entry-wrapper .views-field-title-1 {
  text-align: right;
  clear: both;
}
/* line 25, ../sass/blogs.scss */
.apl-blog-entry-wrapper .views-field-title-1 span {
  clear: both;
  display: block;
}

/* line 32, ../sass/blogs.scss */
.blEntryWrapper .blMEDImage {
  width: auto !important;
}

/* line 36, ../sass/blogs.scss */
.bTitleLink {
  font-weight: bold;
  color: #0069aa;
  font-size: 1.1em;
  margin: 0;
}

/* line 43, ../sass/blogs.scss */
.blEntryWrapper {
  width: 100%;
  clear: both;
  padding: 8px 0px 8px 0px;
}

/* line 49, ../sass/blogs.scss */
.blMEDImage {
  width: 100px;
  float: left;
  margin-right: 8px;
  height: auto;
  clear: right;
}

/* line 57, ../sass/blogs.scss */
.blAuthorName {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1em;
}

/* line 63, ../sass/blogs.scss */
.basic_book_list_book_desc {
  height: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}

/* line 69, ../sass/blogs.scss */
.views-field-body div.field-content {
  margin-top: 1em;
}
