/* line 3, ../sass/events.scss */
h3 {
  margin-top: 1em;
}

/* line 6, ../sass/events.scss */
.views-field.views-field-field-time {
  margin-left: 5px;
  width: 60px;
  float: left;
}

/* line 14, ../sass/events.scss */
body.page-locations
span.views-field.views-field-field-time + .views-field.views-field-title {
  font-weight: normal;
  display: block;
  margin: 1px 0 0 60px;
}

/* line 22, ../sass/events.scss */
body.front .pane-events-panel-pane-1 .views-field.views-field-title {
  padding-left: 2em;
}

/* line 25, ../sass/events.scss */
ul.pager {
  margin-top: 1em;
}

/* line 28, ../sass/events.scss */
.views-label.views-label-field-date {
  width: 100%;
}

/* line 37, ../sass/events.scss */
body.front div.view-events div.views-row, body.page-locations div.view-events div.views-row, body.page-adult-events div.view-events div.views-row, body.page-youth-events div.view-events div.views-row, body.page-events div.view-events div.views-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: .5em;
}

/* line 45, ../sass/events.scss */
body.node-type-event .views-field.views-field-field-time {
  margin-left: 0;
  width: 100%;
}
/* line 49, ../sass/events.scss */
body.node-type-event div.views-field-field-date .field-content > br {
  display: none;
}
/* line 52, ../sass/events.scss */
body.node-type-event span.date-display-single {
  clear: both;
  display: block;
  margin-top: .5em;
}
