/* line 52, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul {
  height: 2em;
  margin: 0 auto !important;
  padding: 0 !important;
}
/* line 57, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li {
  float: left;
  margin: 0 0 0 2px;
  border: 4px solid #e1eaf0;
  list-style-type: none;
  background-color: #0069aa;
}
/* line 66, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li a {
  padding: 4px 8px;
  color: #fdb813;
  font-weight: bold;
}
/* line 75, ../sass/info-guides.scss */
div#info-guides ul {
  padding-left: 2em;
  margin-bottom: 2em;
}
/* line 78, ../sass/info-guides.scss */
div#info-guides ul li {
  margin-top: 0.75em;
}
/* line 80, ../sass/info-guides.scss */
div#info-guides ul li ul {
  margin-top: -0.75em;
}
/* line 85, ../sass/info-guides.scss */
div#info-guides div.panel-separator {
  margin: 0;
  max-height: 0;
  display: none;
}
/* line 91, ../sass/info-guides.scss */
div#info-guides div.panel-col-first {
  max-width: 25%;
}
/* line 17, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside {
  max-width: 100%;
  margin: 5px !important;
}
/* line 19, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside img, div#info-guides div.panel-col-first div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 24, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside div.pane-content {
  width: auto;
  padding: 5px !important;
}
/* line 96, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 4px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 101, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body {
  margin-bottom: 2em !important;
  padding: 4px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 105, ../sass/info-guides.scss */
div#info-guides div.panel-col {
  max-width: 49%;
}
/* line 17, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside {
  max-width: 100%;
  margin: 5px !important;
}
/* line 19, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside img, div#info-guides div.panel-col div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 24, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside div.pane-content {
  width: auto;
  padding: 5px !important;
}
/* line 110, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-title,
div#info-guides div.panel-col div.pane-node-field-center-box-2-title,
div#info-guides div.panel-col div.pane-node-field-center-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 4px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 115, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-body,
div#info-guides div.panel-col div.pane-node-field-center-box-2-body,
div#info-guides div.panel-col div.pane-node-field-center-box-3-body {
  margin-bottom: 2em !important;
  padding: 4px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 119, ../sass/info-guides.scss */
div#info-guides div.panel-col-last {
  max-width: 25%;
}
/* line 17, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside {
  max-width: 100%;
  margin: 5px !important;
}
/* line 19, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside img, div#info-guides div.panel-col-last div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 24, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside div.pane-content {
  width: auto;
  padding: 5px !important;
}
/* line 124, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 4px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 129, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body {
  margin-bottom: 2em !important;
  padding: 4px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
