/* line 49, ../sass/info-guides.scss */
body.page-new-information-guides div#content-area,
body.section-information-guide-subjects div#content-area {
  margin-top: 10px;
}
/* line 50, ../sass/info-guides.scss */
body.page-new-information-guides div#content-area p.nav,
body.section-information-guide-subjects div#content-area p.nav {
  background-color: #e8e8e8;
  display: inline-block;
  padding: 5px;
}
/* line 57, ../sass/info-guides.scss */
body.page-new-information-guides div.panels-flexible-region,
body.section-information-guide-subjects div.panels-flexible-region {
  width: 940px;
  padding: 0;
  margin: 0;
}
/* line 62, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row,
body.section-information-guide-subjects div.views-row {
  float: left;
  display: block;
  margin-right: 20px;
  width: 220px;
}
/* line 63, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row:nth-child(4n),
body.section-information-guide-subjects div.views-row:nth-child(4n) {
  margin-right: 0 !important;
}
/* line 70, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a,
body.section-information-guide-subjects div.views-row div a {
  background-color: #e8e8e8;
  border: 1px solid silver;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  padding: 10px;
  font-size: large;
  width: 200px;
  min-height: 200px;
  margin: 0 20px 20px 0;
}
/* line 71, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:hover,
body.section-information-guide-subjects div.views-row div a:hover {
  background-color: #0088dd;
  color: white;
}
/* line 84, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a span.field-content,
body.section-information-guide-subjects div.views-row div a span.field-content {
  background-color: #e8e8e8;
  border-bottom: 1px dotted red;
  border-top-right-radius: 10px;
  display: block;
  padding: 5px;
}
/* line 91, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a div,
body.section-information-guide-subjects div.views-row div a div {
  margin: 0;
  padding: 0;
}
/* line 95, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(2n),
body.section-information-guide-subjects div.views-row div a:nth-child(2n) {
  background-color: silver;
}
/* line 98, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(3n),
body.section-information-guide-subjects div.views-row div a:nth-child(3n) {
  background-color: green;
}
/* line 101, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(4n),
body.section-information-guide-subjects div.views-row div a:nth-child(4n) {
  background-color: yellow;
}
/* line 104, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(5n),
body.section-information-guide-subjects div.views-row div a:nth-child(5n) {
  margin-right: 0 !important;
  background-color: red;
  float: right;
}

/* line 113, ../sass/info-guides.scss */
div#info-guides p.nav {
  background-color: #e8e8e8;
  display: inline-block;
  padding: 5px;
}
/* line 121, ../sass/info-guides.scss */
div#info-guides .pane-new-information-guides-panel-pane-1 {
  margin-bottom: 20px;
}
/* line 124, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul {
  margin: 0 auto !important;
  padding: 0 !important;
}
/* line 127, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li {
  float: left;
  margin: 0 0 0 2px;
  border: 4px solid #e1eaf0;
  list-style-type: none;
  background-color: #0069aa;
}
/* line 133, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li:hover {
  background-color: #0088dd;
}
/* line 136, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li a {
  padding: 5px 10px;
  color: #fdb813;
  font-weight: bold;
}
/* line 143, ../sass/info-guides.scss */
div#info-guides ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 147, ../sass/info-guides.scss */
div#info-guides ul li {
  margin-top: 10px;
  border-bottom: 1px dotted #e1eaf0;
}
/* line 150, ../sass/info-guides.scss */
div#info-guides ul li ul {
  margin-top: -10px;
}
/* line 155, ../sass/info-guides.scss */
div#info-guides div.panel-separator {
  margin: 0;
  max-height: 0;
  display: none;
}
/* line 160, ../sass/info-guides.scss */
div#info-guides div.panel-col-first {
  max-width: 25%;
  margin-right: 20px;
  width: 225px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside img, div#info-guides div.panel-col-first div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 170, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 175, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 177, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body ul li,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body ul li,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 178, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body ul li:nth-last-child(1),
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body ul li:nth-last-child(1),
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body ul li:nth-last-child(1) {
  border-bottom: 0px solid white;
}
/* line 185, ../sass/info-guides.scss */
div#info-guides div.panel-col {
  max-width: 49%;
  width: 440px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside img, div#info-guides div.panel-col div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 194, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-title,
div#info-guides div.panel-col div.pane-node-field-center-box-2-title,
div#info-guides div.panel-col div.pane-node-field-center-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 199, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-body,
div#info-guides div.panel-col div.pane-node-field-center-box-2-body,
div#info-guides div.panel-col div.pane-node-field-center-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 201, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-body ul li,
div#info-guides div.panel-col div.pane-node-field-center-box-2-body ul li,
div#info-guides div.panel-col div.pane-node-field-center-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 206, ../sass/info-guides.scss */
div#info-guides div.panel-col-last {
  max-width: 25%;
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside img, div#info-guides div.panel-col-last div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 214, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 219, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 221, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body ul li,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body ul li,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 222, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body ul li:nth-last-child(1),
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body ul li:nth-last-child(1),
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body ul li:nth-last-child(1) {
  border-bottom: 0px solid white;
}
