/* line 3, ../sass/locations.scss */
p#other-location-links {
  float: left;
}

/* line 6, ../sass/locations.scss */
form#by-zip {
  float: right;
}

/* line 10, ../sass/locations.scss */
.views-field-nothing.holiday-schedule {
  margin-bottom: 1em;
}

/* line 13, ../sass/locations.scss */
.views-field.views-field-description {
  margin-bottom: 1em;
}

/* line 17, ../sass/locations.scss */
span.days {
  display: block;
  float: left;
  margin-right: 0.5em;
  text-align: left;
  width: 175px;
}

/* line 24, ../sass/locations.scss */
div.library-hours {
  margin-left: -5px;
}
/* line 26, ../sass/locations.scss */
div.library-hours div {
  border-bottom: 1px dotted #e1eaf0;
  padding: 2px 5px;
  width: 275px;
}
/* line 30, ../sass/locations.scss */
div.library-hours div span.hours {
  text-align: right;
  display: block;
}
/* line 35, ../sass/locations.scss */
div.library-hours div.last {
  border-bottom: none;
}

/* line 42, ../sass/locations.scss */
.views-field.views-field-field-library-image,
.views-field.views-field-field-library-image-1 {
  float: right;
}

/* line 45, ../sass/locations.scss */
div.street-block {
  margin-left: 0 !important;
}

/* line 53, ../sass/locations.scss */
.views-field.views-field-field-address,
.views-field-field-phone-num,
.views-field.views-field-description,
.views-field.holiday-schedule {
  clear: left !important;
  float: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* line 60, ../sass/locations.scss */
.views-field.holiday-schedule {
  max-width: 200px;
}

/* line 64, ../sass/locations.scss */
.views-field-field-geofield,
.views-field-field-phone-num {
  margin-bottom: 1em;
  clear: both;
}

/* line 69, ../sass/locations.scss */
body.page-locations .views-field-description-1 {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e1eaf0;
}

/* line 75, ../sass/locations.scss */
div#block-panels_mini-library_locations div.center-wrapper {
  clear: both;
}
/* line 79, ../sass/locations.scss */
div#block-panels_mini-library_locations div.panel-col-last,
div#block-panels_mini-library_locations div.panel-col-first {
  width: 50% !important;
  border: 1px solid #0069aa;
}
/* line 83, ../sass/locations.scss */
div#block-panels_mini-library_locations div.panel-col-first {
  float: none;
}

/* line 100, ../sass/locations.scss */
div.panel-col-last div.thoroughfare,
body.page-all-locations div.thoroughfare {
  float: none;
}
/* line 106, ../sass/locations.scss */
div.panel-col-last span.locality,
div.panel-col-last span.state,
div.panel-col-last span.postal-code,
div.panel-col-last div.locality-block,
body.page-all-locations span.locality,
body.page-all-locations span.state,
body.page-all-locations span.postal-code,
body.page-all-locations div.locality-block {
  visibility: hidden;
  max-height: 0;
}
