/* line 3, ../sass/locations.scss */
#apl_locations_menu {
  float: left;
}

/* line 7, ../sass/locations.scss */
#apl_locations_form {
  float: right;
  clear: none;
}
/* line 10, ../sass/locations.scss */
#apl_locations_form #apl_locations_input {
  min-height: 12px;
  padding: 6px 0;
  text-indent: 6px;
  width: 14em;
  border: 1px solid #0069aa;
  border-bottom-left-radius: 5px;
  float: left;
}
/* line 13, ../sass/locations.scss */
#apl_locations_form #apl_locations_button {
  background-color: #0069aa;
  color: white;
  height: 30px;
  padding: 4px 10px 5px;
  vertical-align: middle;
  float: left;
  border-width: 0;
  font-size: 1em;
  font-weight: bold;
  border-top-right-radius: 5px;
}
/* line 255, /var/www/websites/alis.dev/seeds07/sites/all/themes/apl_blanco/sass/_colors.scss */
#apl_locations_form #apl_locations_button:hover {
  background-color: #0088dd;
}

/* line 20, ../sass/locations.scss */
.views-field-nothing.holiday-schedule {
  margin-bottom: 1em;
}

/* line 23, ../sass/locations.scss */
.views-field.views-field-description {
  margin-bottom: 1em;
}

/* line 27, ../sass/locations.scss */
span.days {
  display: block;
  float: left;
  margin-right: 0.5em;
  text-align: left;
  width: 175px;
}

/* line 34, ../sass/locations.scss */
div.library-hours {
  margin-left: -5px;
}
/* line 36, ../sass/locations.scss */
div.library-hours div {
  border-bottom: 1px dotted #e1eaf0;
  padding: 2px 5px;
  width: 275px;
}
/* line 267, /var/www/websites/alis.dev/seeds07/sites/all/themes/apl_blanco/sass/_colors.scss */
div.library-hours div.last, div.library-hours div.views-row-last {
  border-bottom: none;
}
/* line 42, ../sass/locations.scss */
div.library-hours div span.hours {
  text-align: right;
  display: block;
}

/* line 54, ../sass/locations.scss */
.views-field.views-field-field-library-image,
.views-field.views-field-field-library-image-1 {
  float: right;
}

/* line 57, ../sass/locations.scss */
div.street-block {
  margin-left: 0 !important;
}

/* line 65, ../sass/locations.scss */
.views-field.views-field-field-address,
.views-field-field-phone-num,
.views-field.views-field-description,
.views-field.holiday-schedule {
  clear: left !important;
  float: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* line 72, ../sass/locations.scss */
.views-field.holiday-schedule {
  max-width: 200px;
}

/* line 76, ../sass/locations.scss */
.views-field-field-geofield,
.views-field-field-phone-num {
  margin-bottom: 1em;
  clear: both;
}

/* line 81, ../sass/locations.scss */
body.page-locations .views-field-description-1 {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e1eaf0;
}

/* line 87, ../sass/locations.scss */
div#block-panels_mini-library_locations div.center-wrapper {
  clear: both;
}
/* line 91, ../sass/locations.scss */
div#block-panels_mini-library_locations div.panel-col-last,
div#block-panels_mini-library_locations div.panel-col-first {
  width: 50% !important;
  border: 1px solid #0069aa;
}
/* line 95, ../sass/locations.scss */
div#block-panels_mini-library_locations div.panel-col-first {
  float: none;
}

/* line 112, ../sass/locations.scss */
div.panel-col-last div.thoroughfare,
body.page-all-locations div.thoroughfare {
  float: none;
}
/* line 118, ../sass/locations.scss */
div.panel-col-last span.locality,
div.panel-col-last span.state,
div.panel-col-last span.postal-code,
div.panel-col-last div.locality-block,
body.page-all-locations span.locality,
body.page-all-locations span.state,
body.page-all-locations span.postal-code,
body.page-all-locations div.locality-block {
  visibility: hidden;
  max-height: 0;
}
