/* line 5, ../sass/master.scss */
#page {
  width: 950px;
  margin: 0 auto;
  line-height: 1.5em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 960px;
  background-color: white;
}

/* line 13, ../sass/master.scss */
body {
  background-color: #e8e8e8;
}
/* line 16, ../sass/master.scss */
body #content-area,
body #footer,
body #bottom {
  position: relative;
  z-index: -6;
}
/* line 22, ../sass/master.scss */
body div#content-area div.panel-display {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 27, ../sass/master.scss */
body div#content-area div.panel-col-first {
  float: left;
  width: 580px;
  clear: both;
}
/* line 32, ../sass/master.scss */
body div#content-area div.panel-col-last {
  float: right;
  width: 340px;
}
/* line 39, ../sass/master.scss */
body > div {
  background-color: transparent;
}

/* line 44, ../sass/master.scss */
.clearfix {
  display: inline-block;
}

/* line 48, ../sass/master.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 56, ../sass/master.scss */
* html .clearfix {
  height: 1%;
}

/* line 60, ../sass/master.scss */
.clearfix {
  display: block;
}

/* line 64, ../sass/master.scss */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 68, ../sass/master.scss */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 72, ../sass/master.scss */
.clear, .clearboth, .clearall {
  clear: both;
}

/* line 76, ../sass/master.scss */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 81, ../sass/master.scss */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* line 86, ../sass/master.scss */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 95, ../sass/master.scss */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* line 101, ../sass/master.scss */
div.view div.views-admin-links {
  width: auto;
}

/* line 105, ../sass/master.scss */
div.block {
  position: relative;
}
/* line 107, ../sass/master.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 122, ../sass/master.scss */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 129, ../sass/master.scss */
div.block:hover .edit {
  display: block;
}

/* line 148, ../sass/master.scss */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 152, ../sass/master.scss */
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 156, ../sass/master.scss */
.with-wireframes .block {
  margin-bottom: 3px;
}
/* line 162, ../sass/master.scss */
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
/* line 165, ../sass/master.scss */
.with-wireframes div#footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 170, ../sass/master.scss */
.with-wireframes #navigation {
  height: 50px;
}
/* line 175, ../sass/master.scss */
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}

/* line 182, ../sass/master.scss */
#main {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 715px;
  /*issues with whitespace beneath #bottom */
  height: auto !important;
  /*issues with whitespace beneath #bottom */
  background-color: white;
  width: 960px;
}

/* line 192, ../sass/master.scss */
#content {
  float: left;
  width: 940px;
  margin-left: 10px;
}

/* line 200, ../sass/master.scss */
#content-inner {
  position: relative;
  margin-top: 0px;
}

/* line 207, ../sass/master.scss */
.panel-col-first {
  float: left;
}
/* line 210, ../sass/master.scss */
.panel-col-first .views-field-title {
  font-size: 12px;
}
/* line 213, ../sass/master.scss */
.panel-col-first .view-faq-views {
  margin-bottom: 0px;
}
/* line 216, ../sass/master.scss */
.panel-col-first .pane-title {
  padding: 5px 5px 0 0;
  margin: 5px 0 !important;
  border-bottom: 1px solid #bfd3df;
}
/* line 219, ../sass/master.scss */
.panel-col-first .inside {
  padding: 0;
  margin: 0 !important;
  margin-right: 0px !important;
}
/* line 223, ../sass/master.scss */
.panel-col-first .inside .panel-pane {
  padding: 0;
  margin: 0 !important;
}
/* line 226, ../sass/master.scss */
.panel-col-first .inside .panel-pane h2.pane-title-OLD {
  height: 27px;
  margin-top: 10px;
}
/* line 230, ../sass/master.scss */
.panel-col-first .inside .panel-pane .pane-content {
  margin: 0 !important;
  padding: 0 0 0 5px;
}

/* line 243, ../sass/master.scss */
.panel-col-last {
  float: left;
  margin-bottom: 20px;
  margin-left: 0px;
}
/* line 248, ../sass/master.scss */
.panel-col-last .views-field-title {
  font-size: 14px;
  font-weight: bold;
}
/* line 252, ../sass/master.scss */
.panel-col-last .pane-title {
  padding: 5px 5px 0 0;
  margin: 5px 0 !important;
  border-bottom: 1px solid #bfd3df;
}
/* line 255, ../sass/master.scss */
.panel-col-last .inside {
  padding: 0;
  margin: 0 !important;
}
/* line 259, ../sass/master.scss */
.panel-col-last .inside .panel-pane {
  padding: 0;
  margin: 0 !important;
}
/* line 262, ../sass/master.scss */
.panel-col-last .inside .panel-pane h2.pane-title-OLD {
  height: 27px;
  padding-bottom: -1em;
  margin-top: 10px;
}
/* line 267, ../sass/master.scss */
.panel-col-last .inside .panel-pane .pane-content {
  padding: 0 0 0 5px;
  margin: 0 !important;
}
/* line 274, ../sass/master.scss */
.panel-col-last .inside .panel-pane .pane-content p {
  margin-bottom: 0px;
}

/* line 283, ../sass/master.scss */
.panel-col-bottom .pane-title {
  padding: 5px 5px 0 0;
  margin: 5px 0 !important;
  border-bottom: 1px solid #bfd3df;
}

/* line 288, ../sass/master.scss */
h2.pane-title {
  padding: 5px 5px 0 0;
  margin: 5px 0 !important;
  border-bottom: 1px solid #bfd3df;
}

/* line 292, ../sass/master.scss */
.panel-2col {
  margin-top: 2px;
  margin-left: 0px;
}

/* line 301, ../sass/master.scss */
#header,
div#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 306, ../sass/master.scss */
.two-sidebars .center,
.announcements .center {
  margin-left: 190px;
}

/* line 310, ../sass/master.scss */
#announcements {
  width: 190px;
  margin-right: -190px;
}

/* line 316, ../sass/master.scss */
.two-sidebars .center,
.secondary-navigation .center {
  margin-right: 200px;
}

/* line 320, ../sass/master.scss */
.inner {
  padding: 0;
}

/* line 324, ../sass/master.scss */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

/* line 333, ../sass/master.scss */
.page-locations > .views-field-name {
  font-weight: bold;
}

/* line 339, ../sass/master.scss */
#header a,
#secondary-navigation a {
  text-decoration: none;
}
/* line 343, ../sass/master.scss */
#header a:link, #header a:visited, #header a:active,
#secondary-navigation a:link,
#secondary-navigation a:visited,
#secondary-navigation a:active {
  color: #fff;
}
/* line 346, ../sass/master.scss */
#header a:hover,
#secondary-navigation a:hover {
  color: #FFEAC4;
}

/* line 352, ../sass/master.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 362, ../sass/master.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 367, ../sass/master.scss */
#edit-delete {
  color: #cc0000;
}

/* line 371, ../sass/master.scss */
#system-themes-form img {
  width: 100px;
}

/* line 375, ../sass/master.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 383, ../sass/master.scss */
div#footer {
  background: #efefef;
}

/* line 387, ../sass/master.scss */
#announcements {
  background: #edf0ff;
  width: 890px;
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 10px;
}
/* line 393, ../sass/master.scss */
#announcements p {
  line-height: 5px;
}
/* line 396, ../sass/master.scss */
#announcements h2 {
  margin-bottom: 0px;
  color: #900;
}

/* line 402, ../sass/master.scss */
.announce-wrap {
  width: 900px;
}

/* line 406, ../sass/master.scss */
.announce-top {
  width: 940px;
  height: 10px;
  background-image: url(../images/apl_announcement_top.jpg);
  float: left;
}

/* line 413, ../sass/master.scss */
.announce-bottom {
  width: 940px;
  height: 10px;
  background-image: url(../images/apl_announcement_bottom.jpg);
  float: left;
}

/* line 421, ../sass/master.scss */
#secondary-navigation {
  width: 940px;
  height: 29px;
  margin-top: 2px;
  background-image: url(../images/apl_secnav_bg.png);
}
/* line 426, ../sass/master.scss */
#secondary-navigation ul {
  margin-left: -1.65em;
  color: #ccc;
  float: left;
}
/* line 431, ../sass/master.scss */
#secondary-navigation li {
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  float: left;
  margin-top: 2px;
  margin-left: 7px;
  color: #ccc;
}

/* line 442, ../sass/master.scss */
#navigation {
  background: #feffa5;
}

/* line 446, ../sass/master.scss */
#content {
  padding-top: 0px;
}

/*
body.front {
	.panel-col-last {
		width: 300px !important;
	}
	.panel-col-first {
		width: 600px !important;
	}
}
*/
/* line 465, ../sass/master.scss */
#mini-panel-front_page_highlighted_area .panel-col-last {
  width: 387px !important;
  float: right;
}
/* line 469, ../sass/master.scss */
#mini-panel-front_page_highlighted_area .panel-col-first {
  width: 504px !important;
}

/* line 476, ../sass/master.scss */
#highlight .panel-col-first .inside .panel-pane .pane-content {
  padding-left: 0px;
  padding-right: 0px;
  width: 504px;
  height: 174px;
}

/* line 484, ../sass/master.scss */
.breadcrumb {
  margin-bottom: -0.5em;
}

/* line 488, ../sass/master.scss */
.overlogodiv {
  width: 160px;
  height: 75px;
  float: left;
  cursor: pointer;
  z-index: 10;
}

/* line 496, ../sass/master.scss */
.node-blog {
  width: 890px;
  margin-left: 5px;
}

/* line 502, ../sass/master.scss */
.page-locations .views-field-name {
  font-weight: bold;
}
/* line 506, ../sass/master.scss */
.page-locations .locality-block,
.page-locations .street-block {
  float: left;
  padding-right: 2px;
}
/* line 510, ../sass/master.scss */
.page-locations .views-field-field-phone-num {
  display: block;
  clear: both;
  width: 350px;
}
/* line 517, ../sass/master.scss */
.page-locations .country,
.page-locations .locality,
.page-locations .state {
  display: none;
}

/* line 522, ../sass/master.scss */
.views-field-field-lib-image {
  position: relative;
  top: 0;
  clear: both;
}
/* line 526, ../sass/master.scss */
.views-field-field-lib-image img {
  width: 125px;
}

/* line 537, ../sass/master.scss */
.views-field-field-monday,
.views-field-field-tuesday,
.views-field-field-wednesday,
.views-field-field-thursday,
.views-field-field-friday,
.views-field-field-saturday,
.views-field-field-sunday {
  float: left;
  position: relative;
  right: 0px;
}
/* line 541, ../sass/master.scss */
.views-field-field-monday div,
.views-field-field-tuesday div,
.views-field-field-wednesday div,
.views-field-field-thursday div,
.views-field-field-friday div,
.views-field-field-saturday div,
.views-field-field-sunday div {
  float: right;
  width: 150px;
  position: relative;
  right: 75px;
  clear: right;
}

/* line 557, ../sass/master.scss */
.views-field-field-monday,
.views-field-field-tuesday,
.views-field-field-wednesday,
.views-field-field-thursday,
.views-field-field-friday,
.views-field-field-saturday,
.views-field-field-sunday,
.views-field-nothing {
  width: 300px;
  clear: both;
}

/* line 562, ../sass/master.scss */
.search-results {
  margin-right: 20px;
}
