/* line 2, ../sass/merci.scss */
div.node-merci-reservation div.form-item.form-type-item {
  display: none;
}
/* line 5, ../sass/merci.scss */
div.node-merci-reservation div.existing-items-table-header {
  margin-top: 1em;
}

/* line 9, ../sass/merci.scss */
div.field-label {
  margin-top: 1em;
}

/* line 14, ../sass/merci.scss */
div.field,
span.submitted {
  margin-bottom: 1em;
  display: block;
}

/* line 19, ../sass/merci.scss */
ul.action-links {
  margin: 2em 0;
  font-size: large;
}

/* line 26, ../sass/merci.scss */
div#edit-field-merci-date-und-0-value input,
div#edit-field-merci-date-und-0-value2 input,
.page-admin-merci input[type=text] {
  display: block;
  height: auto;
  width: 110px !important;
}

/* line 34, ../sass/merci.scss */
div#edit-field-merci-date-und-0-value div.description,
div#edit-field-merci-date-und-0-value2 div.description,
.page-admin-merci div.description {
  width: 200px;
  margin-bottom: 10px;
}

/* line 39, ../sass/merci.scss */
.page-admin-merci #edit-reset {
  left: 0;
}

/* line 43, ../sass/merci.scss */
input#edit-field-merci-date-field-merci-date-button {
  display: none;
}

/* line 48, ../sass/merci.scss */
.page-node-add-merci-reservation input[type=submit],
.page-admin-merci input[type=submit] {
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

/* line 54, ../sass/merci.scss */
#merci-choice-wrapper thead {
  display: none;
}

/* line 63, ../sass/merci.scss */
.page-node-add-merci-reservation table,
.page-node-add-merci-reservation td,
.page-node-add-merci-reservation tr,
.page-node-add-merci-reservation tbody,
.page-node-add-merci-reservation th {
  border: none !important;
}

/* line 70, ../sass/merci.scss */
#toolbar-link-admin-merci-manage,
#edit-merci-reservation-status div:nth-child(3),
#edit-merci-reservation-status div:nth-child(4) {
  display: none;
}

/* line 76, ../sass/merci.scss */
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  margin-bottom: 1px !important;
}

/* line 97, ../sass/merci.scss */
td.single-day[data-date="2013-01-01"] div.inner:before, td.single-day[data-date="2013-01-21"] div.inner:before, td.single-day[data-date="2013-02-18"] div.inner:before, td.single-day[data-date="2013-03-31"] div.inner:before, td.single-day[data-date="2013-05-25"] div.inner:before, td.single-day[data-date="2013-05-26"] div.inner:before, td.single-day[data-date="2013-05-27"] div.inner:before, td.single-day[data-date="2013-07-04"] div.inner:before, td.single-day[data-date="2013-08-31"] div.inner:before, td.single-day[data-date="2013-09-01"] div.inner:before, td.single-day[data-date="2013-09-02"] div.inner:before, td.single-day[data-date="2013-11-11"] div.inner:before, td.single-day[data-date="2013-11-28"] div.inner:before, td.single-day[data-date="2013-11-29"] div.inner:before, td.single-day[data-date="2013-12-24"] div.inner:before, td.single-day[data-date="2013-12-25"] div.inner:before {
  content: "Closed for APL Holiday" !important;
  padding: 0 !important;
  font-style: italic;
  font-size: .9em;
  margin-bottom: 1em !important;
  display: block;
}

/* line 160, ../sass/merci.scss */
td.single-day[data-date="2013-01-01"] div.inner,
td.single-day[data-date="2013-01-21"] div.inner,
td.single-day[data-date="2013-02-18"] div.inner,
td.single-day[data-date="2013-03-31"] div.inner,
td.single-day[data-date="2013-05-25"] div.inner,
td.single-day[data-date="2013-05-26"] div.inner,
td.single-day[data-date="2013-05-27"] div.inner,
td.single-day[data-date="2013-07-04"] div.inner,
td.single-day[data-date="2013-08-31"] div.inner,
td.single-day[data-date="2013-09-01"] div.inner,
td.single-day[data-date="2013-09-02"] div.inner,
td.single-day[data-date="2013-11-11"] div.inner,
td.single-day[data-date="2013-11-28"] div.inner,
td.single-day[data-date="2013-11-29"] div.inner,
td.single-day[data-date="2013-12-24"] div.inner,
td.single-day[data-date="2013-12-25"] div.inner,
body.page-reservations-month-howson-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-howson-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-austin-history-center td[headers="Monday"].single-day div.inner,
body.page-reservations-month-carver-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-carver-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-cepeda-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-cepeda-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-hampton-branch-at-oak-hill td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-hampton-branch-at-oak-hill td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-little-walnut-creek-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-manchaca-road-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-milwood-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-milwood-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-north-village-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-north-village-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-old-quarry-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-old-quarry-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-pleasant-hill-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-pleasant-hill-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-ruiz-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-southeast-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-southeast-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-spicewood-springs-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-spicewood-springs-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-terrazas-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-terrazas-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-twin-oaks-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-twin-oaks-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-university-hills-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-university-hills-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-willie-mae-kirk-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-willie-mae-kirk-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-windsor-park-branch td[headers="Sunday"].single-day div.inner,
body.page-reservations-month-windsor-park-branch td[headers="Thursday"].single-day div.inner,
body.page-reservations-month-yarborough-branch td[headers="Friday"].single-day div.inner,
body.page-reservations-month-yarborough-branch td[headers="Sunday"].single-day div.inner {
  background-color: #cc6666 !important;
  color: white;
  border-radius: 5px !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px !important;
  margin-bottom: 5px !important;
  font-weight: 700;
  text-align: left;
  line-height: normal !important;
}

/* line 210, ../sass/merci.scss */
body.page-reservations-month-howson-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-howson-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-austin-history-center td.single-day[headers="Monday"] div.inner:before,
body.page-reservations-month-carver-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-carver-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-cepeda-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-cepeda-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-hampton-branch-at-oak-hill td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-hampton-branch-at-oak-hill td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-little-walnut-creek-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-manchaca-road-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-milwood-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-milwood-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-north-village-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-north-village-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-old-quarry-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-old-quarry-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-pleasant-hill-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-pleasant-hill-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-ruiz-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-southeast-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-southeast-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-spicewood-springs-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-spicewood-springs-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-terrazas-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-terrazas-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-twin-oaks-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-twin-oaks-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-university-hills-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-university-hills-branch td.single-day[headers="Friday"] div.inner:before,
body.page-reservations-month-willie-mae-kirk-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-willie-mae-kirk-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-windsor-park-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-windsor-park-branch td.single-day[headers="Thursday"] div.inner:before,
body.page-reservations-month-yarborough-branch td.single-day[headers="Sunday"] div.inner:before,
body.page-reservations-month-yarborough-branch td.single-day[headers="Friday"] div.inner:before {
  content: "Location Closed";
  padding: 0 !important;
  font-size: .9em;
  font-style: italic;
}

/* line 253, ../sass/merci.scss */
body.page-reservations-month-howson-branch td div.inner ul,
body.page-reservations-month-little-walnut-creek-branch td div.inner ul,
body.page-reservations-month-austin-history-center td div.inner ul,
body.page-reservations-month-cepeda-branch td div.inner ul,
body.page-reservations-month-hampton-branch-at-oak-hill td div.inner ul,
body.page-reservations-month-manchaca-road-branch td div.inner ul,
body.page-reservations-month-north-village-branch td div.inner ul,
body.page-reservations-month-old-quarry-branch td div.inner ul,
body.page-reservations-month-spicewood-springs-branch td div.inner ul,
body.page-reservations-month-terrazas-branch td div.inner ul,
body.page-reservations-month-willie-mae-kirk-branch td div.inner ul,
body.page-reservations-month-yarborough-branch td div.inner ul,
body.page-reservations-day-howson-branch div.dayview ul,
body.page-reservations-day-little-walnut-creek-branch div.dayview ul,
body.page-reservations-day-austin-history-center div.dayview ul,
body.page-reservations-day-cepeda-branch div.dayview ul,
body.page-reservations-day-hampton-branch-at-oak-hill div.dayview ul,
body.page-reservations-day-manchaca-road-branch div.dayview ul,
body.page-reservations-day-north-village-branch div.dayview ul,
body.page-reservations-day-old-quarry-branch div.dayview ul,
body.page-reservations-day-spicewood-springs-branch div.dayview ul,
body.page-reservations-day-terrazas-branch div.dayview ul,
body.page-reservations-day-willie-mae-kirk-branch div.dayview ul,
body.page-reservations-day-yarborough-branch div.dayview ul,
body.page-reservations-day-howson-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-little-walnut-creek-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-austin-history-center div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-cepeda-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-hampton-branch-at-oak-hill div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-manchaca-road-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-north-village-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-old-quarry-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-spicewood-springs-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-terrazas-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-willie-mae-kirk-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li,
body.page-reservations-day-yarborough-branch div.block-inner div.content div.view div.view-content div.calendar-calendar div.day-view div#single-day-container table.full tbody tr td.last div.calendar-agenda-items div.calendar div.inner div.view-item div.calendar div span div.item-list ul li {
  display: none;
}

/* line 257, ../sass/merci.scss */
div.inner div.contents {
  color: #777777;
  font-style: normal;
  font-weight: 400;
}
/* line 261, ../sass/merci.scss */
div.inner div.contents div.views-field-title {
  margin-top: 3px;
}

/* line 266, ../sass/merci.scss */
td.multi-day span.date-display-single {
  color: white;
}

/* line 271, ../sass/merci.scss */
td.single-day ul li,
td.single-day div.views-field-title {
  line-height: normal;
}

/* line 275, ../sass/merci.scss */
td.single-day div.views-field-title {
  padding-bottom: 2px !important;
  border-bottom: 1px dotted #cccc99 !important;
  margin-bottom: 3px;
}

/* line 281, ../sass/merci.scss */
td.single-day ul li {
  margin-left: 0 !important;
  padding-left: 0 !important;
  font-size: xx-small;
}

/* line 287, ../sass/merci.scss */
div.view-footer div.reservation-footer {
  text-align: left;
  margin-top: 1em;
}

/* line 294, ../sass/merci.scss */
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  border: 1px solid #cccc99;
}

/* line 299, ../sass/merci.scss */
td.multi-day .view-item-merci_calendar_view a:link,
td.multi-day .view-item-merci_calendar_view a:visited {
  color: white !important;
}

/* line 303, ../sass/merci.scss */
td.single-day .view-item-merci_calendar_view a:hover {
  color: #0069AA !important;
}

/* line 346, ../sass/merci.scss */
body.page-reservations-month-carver-branch th#Sunday,
body.page-reservations-month-carver-branch th#Friday,
body.page-reservations-month-little-walnut-creek-branch th#Friday,
body.page-reservations-month-manchaca-road-branch th#Friday,
body.page-reservations-month-ruiz-branch th#Friday,
body.page-reservations-month-cepeda-branch th#Sunday,
body.page-reservations-month-cepeda-branch th#Friday,
body.page-reservations-month-milwood-branch th#Sunday,
body.page-reservations-month-milwood-branch th#Friday,
body.page-reservations-month-old-quarry-branch th#Sunday,
body.page-reservations-month-old-quarry-branch th#Friday,
body.page-reservations-month-pleasant-hill-branch th#Sunday,
body.page-reservations-month-pleasant-hill-branch th#Friday,
body.page-reservations-month-university-hills-branch th#Sunday,
body.page-reservations-month-university-hills-branch th#Friday,
body.page-reservations-month-yarborough-branch th#Sunday,
body.page-reservations-month-yarborough-branch th#Friday,
body.page-reservations-month-hampton-branch-at-oak-hill th#Sunday,
body.page-reservations-month-hampton-branch-at-oak-hill th#Thursday,
body.page-reservations-month-howson-branch th#Sunday,
body.page-reservations-month-howson-branch th#Thursday,
body.page-reservations-month-north-village-branch th#Sunday,
body.page-reservations-month-north-village-branch th#Thursday,
body.page-reservations-month-st-john-branch th#Sunday,
body.page-reservations-month-st-john-branch th#Thursday,
body.page-reservations-month-southeast-branch th#Sunday,
body.page-reservations-month-southeast-branch th#Thursday,
body.page-reservations-month-spicewood-springs-branch th#Sunday,
body.page-reservations-month-spicewood-springs-branch th#Thursday,
body.page-reservations-month-terrazas-branch th#Sunday,
body.page-reservations-month-terrazas-branch th#Thursday,
body.page-reservations-month-twin-oaks-branch th#Sunday,
body.page-reservations-month-twin-oaks-branch th#Thursday,
body.page-reservations-month-willie-mae-kirk-branch th#Sunday,
body.page-reservations-month-willie-mae-kirk-branch th#Thursday,
body.page-reservations-month-oak-springs-branch th#Sunday,
body.page-reservations-month-oak-springs-branch th#Thursday,
body.page-reservations-month-windsor-park-branch th#Sunday,
body.page-reservations-month-windsor-park-branch th#Thursday,
body.page-reservations-month-austin-history-center th#Monday {
  font-style: italic;
}

/* line 390, ../sass/merci.scss */
body.page-reservations-month-carver-branch th#Sunday:after,
body.page-reservations-month-carver-branch th#Friday:after,
body.page-reservations-month-little-walnut-creek-branch th#Friday:after,
body.page-reservations-month-manchaca-road-branch th#Friday:after,
body.page-reservations-month-ruiz-branch th#Friday:after,
body.page-reservations-month-cepeda-branch th#Sunday:after,
body.page-reservations-month-cepeda-branch th#Friday:after,
body.page-reservations-month-milwood-branch th#Sunday:after,
body.page-reservations-month-milwood-branch th#Friday:after,
body.page-reservations-month-old-quarry-branch th#Sunday:after,
body.page-reservations-month-old-quarry-branch th#Friday:after,
body.page-reservations-month-pleasant-hill-branch th#Sunday:after,
body.page-reservations-month-pleasant-hill-branch th#Friday:after,
body.page-reservations-month-university-hills-branch th#Sunday:after,
body.page-reservations-month-university-hills-branch th#Friday:after,
body.page-reservations-month-yarborough-branch th#Sunday:after,
body.page-reservations-month-yarborough-branch th#Friday:after,
body.page-reservations-month-hampton-branch-at-oak-hill th#Sunday:after,
body.page-reservations-month-hampton-branch-at-oak-hill th#Thursday:after,
body.page-reservations-month-howson-branch th#Sunday:after,
body.page-reservations-month-howson-branch th#Thursday:after,
body.page-reservations-month-north-village-branch th#Sunday:after,
body.page-reservations-month-north-village-branch th#Thursday:after,
body.page-reservations-month-st-john-branch th#Sunday:after,
body.page-reservations-month-st-john-branch th#Thursday:after,
body.page-reservations-month-southeast-branch th#Sunday:after,
body.page-reservations-month-southeast-branch th#Thursday:after,
body.page-reservations-month-spicewood-springs-branch th#Sunday:after,
body.page-reservations-month-spicewood-springs-branch th#Thursday:after,
body.page-reservations-month-terrazas-branch th#Sunday:after,
body.page-reservations-month-terrazas-branch th#Thursday:after,
body.page-reservations-month-twin-oaks-branch th#Sunday:after,
body.page-reservations-month-twin-oaks-branch th#Thursday:after,
body.page-reservations-month-willie-mae-kirk-branch th#Sunday:after,
body.page-reservations-month-willie-mae-kirk-branch th#Thursday:after,
body.page-reservations-month-oak-springs-branch th#Sunday:after,
body.page-reservations-month-oak-springs-branch th#Thursday:after,
body.page-reservations-month-windsor-park-branch th#Sunday:after,
body.page-reservations-month-windsor-park-branch th#Thursday:after,
body.page-reservations-month-austin-history-center th#Monday:after {
  content: " (Closed)";
}

/* line 395, ../sass/merci.scss */
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
  margin-top: 0;
}

/* line 399, ../sass/merci.scss */
div.content div.view div.view-content div.calendar-calendar div.month-view table.full tbody div.inner div.item div.view-item {
  margin: 0 0 5px 0 !important;
}

/* line 403, ../sass/merci.scss */
#toolbar-link-admin-merci-manage {
  display: none;
}
