/* line 3, ../sass/messages.scss */
div.error, label.error {
  color: #001421 !important;
}

/* line 7, ../sass/messages.scss */
div.messages {
  padding-left: 3em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
/* line 11, ../sass/messages.scss */
div.messages a.close {
  float: right;
  border: 1px solid #fdb813;
  border-radius: 5px;
  background-color: white;
  padding: 0 .5em 0 .5em !important;
}
/* line 17, ../sass/messages.scss */
div.messages a.close:hover {
  border: 1px solid red;
  color: red;
}

/* line 24, ../sass/messages.scss */
.region-help {
  margin: 0;
  padding: 0;
}
/* line 27, ../sass/messages.scss */
.region-help div {
  padding: 0;
  margin: 0;
}
/* line 31, ../sass/messages.scss */
.region-help h2 {
  margin-bottom: .3em;
}

/* line 38, ../sass/messages.scss */
div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
  /* LTR */
}

/* line 46, ../sass/messages.scss */
div.status {
  background-image: url(../../../../../misc/message-24-ok.png);
  border-color: #a6b839;
  background-color: #e7ea7f;
  border: 1px solid #a6b839;
}

/* line 52, ../sass/messages.scss */
div.status,
.ok {
  color: #345729;
}

/* line 56, ../sass/messages.scss */
div.status,
table tr.ok {
  background-color: #e7ea7f;
}

/* line 60, ../sass/messages.scss */
div.warning {
  background-image: url(../../../../../misc/message-24-warning.png);
  border-color: #fcb716;
}

/* line 65, ../sass/messages.scss */
div.warning,
.warning {
  color: #da8c28;
}

/* line 69, ../sass/messages.scss */
div.warning,
table tr.warning {
  background-color: white;
}

/* line 73, ../sass/messages.scss */
div.error {
  background-image: url(../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

/* line 78, ../sass/messages.scss */
div.error,
.error {
  color: #8c2e0b;
}

/* line 82, ../sass/messages.scss */
div.error,
table tr.error {
  background-color: #fef5f1;
}

/* line 85, ../sass/messages.scss */
div.error p.error {
  color: #333333;
}

/* line 89, ../sass/messages.scss */
div.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 93, ../sass/messages.scss */
div.messages ul li {
  list-style-image: none;
}
