/* line 3, ../sass/nice-menus.scss */
#block-nice-menus-1 {
  background-color: #0069aa;
  clear: both;
}
/* line 4, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li a.active {
  color: #fdb813;
}
/* line 9, ../sass/nice-menus.scss */
#block-nice-menus-1:after {
  border-color: transparent #004977;
  border-image: none;
  border-style: solid;
  border-width: 22px 0 0 22px;
  content: "";
  display: block;
  float: right;
  height: 0;
  margin-top: 0;
  position: absolute;
  right: -22px;
  top: 0;
  width: 0;
}
/* line 24, ../sass/nice-menus.scss */
#block-nice-menus-1:before {
  border-color: #004977 #004977 transparent;
  border-image: none;
  border-style: solid;
  border-width: 11px;
  border-radius: 0 0 4px 4px;
  content: "";
  display: block;
  float: right;
  height: 250px;
  margin-top: 0;
  position: absolute;
  right: -22px;
  top: 22px;
  width: 0;
}
/* line 40, ../sass/nice-menus.scss */
#block-nice-menus-1 h2 {
  display: none;
}
/* line 44, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li {
  border: none;
  margin-left: 1px;
}
/* line 45, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li ul {
  clear: both;
  top: 22px;
  border-left: 10px solid #0088dd;
  border-top-right-radius: 10px;
  border-top: 1px solid #aadeff;
}
/* line 52, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li ul li {
  margin-left: 0;
}
/* line 53, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li ul li.first {
  border-top-right-radius: 10px;
}
/* line 55, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li ul li.first > a:hover {
  border-top-right-radius: 10px;
}
/* line 64, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.active-trail {
  font-weight: bold;
}
/* line 66, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.active-trail > a,
#block-nice-menus-1 ul li.active-trail a.active {
  color: #fdb813;
}
/* line 69, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.active-trail ul li a:hover {
  color: white;
}
/* line 72, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.active-trail ul li:active-trail a {
  color: #fdb813;
}
/* line 76, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.active-trail li a {
  font-weight: normal;
}
/* line 86, ../sass/nice-menus.scss */
#block-nice-menus-1 ul.nice-menu a {
  padding: 3px 5px;
}
/* line 89, ../sass/nice-menus.scss */
#block-nice-menus-1 ul.nice-menu-down {
  clear: left;
  float: none;
  margin-left: 4px;
}
/* line 96, ../sass/nice-menus.scss */
#block-nice-menus-1 ul.nice-menu-down > li {
  padding-right: 10px;
}
/* line 100, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li {
  background-color: #0069aa;
}
/* line 101, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.menuparent {
  background-image: none;
}
/* line 103, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li.menuparent a {
  padding: 3px 5px;
}
/* line 108, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li a {
  color: white;
}
/* line 110, ../sass/nice-menus.scss */
#block-nice-menus-1 ul li a:hover {
  background-color: #0088dd;
  color: white;
}
