/* line 4, ../sass/swatch.scss */
div#swatch table {
  border: 5px solid silver;
  margin-bottom: 2em;
}
/* line 7, ../sass/swatch.scss */
div#swatch table h1.new {
  text-transform: none;
}
/* line 10, ../sass/swatch.scss */
div#swatch table h2.new {
  background: #0069aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: .2em .5em 0.2em .5em;
  background: -webkit-gradient(linear, left center, right center, from(#0069aa), to(#0088dd));
  background: -moz-linear-gradient(left, #0069aa, #0088dd);
  background: linear-gradient(270deg, #0088dd, #0069aa);
  -pie-background: linear-gradient(270deg, #0088dd, #0069aa);
  behavior: url(/sites/default/themes/beta/css/PIE.htc);
  margin: .5em .5em .5em 0 !important;
}
/* line 17, ../sass/swatch.scss */
div#swatch tr th,
div#swatch tr td {
  padding: .5em;
  width: 25%;
}
/* line 22, ../sass/swatch.scss */
div#swatch tr td.background {
  background-color: #e8e8e8;
}
/* line 25, ../sass/swatch.scss */
div#swatch tr td.blue {
  background-color: #0069aa;
}
/* line 28, ../sass/swatch.scss */
div#swatch tr td.blue_medium {
  background-color: #bfd3df;
}
/* line 31, ../sass/swatch.scss */
div#swatch tr td.blue_light {
  background-color: #e1eaf0;
}
/* line 34, ../sass/swatch.scss */
div#swatch tr td.blue_medium_old {
  background-color: #cedaec;
}
/* line 37, ../sass/swatch.scss */
div#swatch tr td.blue_light_old {
  background-color: #ebeff7;
}
/* line 40, ../sass/swatch.scss */
div#swatch tr td.silver {
  background-color: #cccccc;
}
/* line 44, ../sass/swatch.scss */
div#swatch tr td.link {
  color: #0069aa;
}
/* line 48, ../sass/swatch.scss */
div#swatch tr td.visited {
  color: #0069aa;
}
/* line 52, ../sass/swatch.scss */
div#swatch tr td.hover {
  color: #999999;
}
/* line 56, ../sass/swatch.scss */
div#swatch tr td.active-link {
  color: #999999;
}
/* line 63, ../sass/swatch.scss */
div#swatch tr th.brand {
  background-color: #0069aa;
}
/* line 66, ../sass/swatch.scss */
div#swatch tr th.action {
  background-color: #a6b839;
}
/* line 69, ../sass/swatch.scss */
div#swatch tr th.function {
  background-color: #f2f2f2;
}
/* line 72, ../sass/swatch.scss */
div#swatch tr th.alert {
  background-color: #fcb716;
}
/* line 77, ../sass/swatch.scss */
div#swatch tr.light td {
  color: white;
}
/* line 79, ../sass/swatch.scss */
div#swatch tr.light td.brand {
  background-color: #0088dd;
}
/* line 83, ../sass/swatch.scss */
div#swatch tr.light td.action {
  color: #001421;
  background-color: #bbcb59;
}
/* line 87, ../sass/swatch.scss */
div#swatch tr.light td.function {
  background-color: white;
  color: #001421;
}
/* line 91, ../sass/swatch.scss */
div#swatch tr.light td.alert {
  background-color: #fdc748;
}
/* line 98, ../sass/swatch.scss */
div#swatch tr.lighter td.brand {
  background-color: #11a4ff;
}
/* line 101, ../sass/swatch.scss */
div#swatch tr.lighter td.action {
  background-color: #cbd87f;
}
/* line 104, ../sass/swatch.scss */
div#swatch tr.lighter td.function {
  background-color: white;
}
/* line 107, ../sass/swatch.scss */
div#swatch tr.lighter td.alert {
  background-color: #fdd67b;
}
/* line 113, ../sass/swatch.scss */
div#swatch tr.dark td {
  color: white;
}
/* line 115, ../sass/swatch.scss */
div#swatch tr.dark td.brand {
  background-color: #004977;
}
/* line 118, ../sass/swatch.scss */
div#swatch tr.dark td.action {
  background-color: #83912d;
}
/* line 121, ../sass/swatch.scss */
div#swatch tr.dark td.function {
  background-color: #d8d8d8;
  color: black;
}
/* line 125, ../sass/swatch.scss */
div#swatch tr.dark td.alert {
  background-color: #dc9b03;
}
/* line 131, ../sass/swatch.scss */
div#swatch tr.darker td {
  color: white;
}
/* line 133, ../sass/swatch.scss */
div#swatch tr.darker td.brand {
  background-color: #002a44;
}
/* line 136, ../sass/swatch.scss */
div#swatch tr.darker td.action {
  background-color: #606a21;
}
/* line 139, ../sass/swatch.scss */
div#swatch tr.darker td.function {
  background-color: #bfbfbf;
}
/* line 142, ../sass/swatch.scss */
div#swatch tr.darker td.alert {
  background-color: #aa7802;
}
