/* line 3, ../sass/ahc.scss */
div.overlogodiv {
  background: url("../images/apl_logo.png") no-repeat scroll 10px center transparent;
}

/* line 7, ../sass/ahc.scss */
#header-region {
  background-color: #8a0617;
  background-image: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 13, ../sass/ahc.scss */
li.apl-mnav-link.ahc > a {
  font-weight: 800;
}
