/* line 4, ../sass/mailchimp.scss */
br.spacer {
  clear: both;
}

/* line 9, ../sass/mailchimp.scss */
body.page-spanish .pane-custom.pane-3,
body.page-spanish .pane-block-13 {
  background-color: #EEF2FA;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 12, ../sass/mailchimp.scss */
body.page-spanish .pane-custom.pane-3 div.pane-content,
body.page-spanish .pane-block-13 div.pane-content {
  width: 100% !important;
}

/* line 19, ../sass/mailchimp.scss */
#mc_embed_signup #signup_box {
  padding-bottom: 0;
}
/* line 22, ../sass/mailchimp.scss */
#mc_embed_signup form {
  display: block;
  padding: 10px;
  margin: 0;
  width: auto;
}
/* line 28, ../sass/mailchimp.scss */
#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}
/* line 34, ../sass/mailchimp.scss */
#mc_embed_signup input {
  border: 1px solid #0069aa;
  -webkit-appearance: none;
}
/* line 37, ../sass/mailchimp.scss */
#mc_embed_signup input.email {
  width: 258px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #0069aa;
  height: 16px;
  float: right;
}
/* line 41, ../sass/mailchimp.scss */
#mc_embed_signup input.button {
  width: 50px;
  background-color: #0069aa;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  color: white;
  font-weight: bold;
  max-height: 30px;
  height: 28px;
  margin: 0;
  float: right;
}
/* line 75, ../sass/_patterns.scss */
#mc_embed_signup input.button:hover {
  background-color: #0088dd;
  cursor: pointer;
}
/* line 48, ../sass/mailchimp.scss */
#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}
/* line 51, ../sass/mailchimp.scss */
#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}
/* line 54, ../sass/mailchimp.scss */
#mc_embed_signup .small-meta {
  font-size: 11px;
}
/* line 57, ../sass/mailchimp.scss */
#mc_embed_signup .nowrap {
  white-space: nowrap;
}
/* line 60, ../sass/mailchimp.scss */
#mc_embed_signup .clear {
  clear: none;
  display: inline;
}
/* line 64, ../sass/mailchimp.scss */
#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #C08C2C;
}
/* line 70, ../sass/mailchimp.scss */
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}
/* line 79, ../sass/mailchimp.scss */
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
/* line 88, ../sass/mailchimp.scss */
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
/* line 97, ../sass/mailchimp.scss */
#mc_embed_signup #mce-error-response {
  display: none;
}
/* line 100, ../sass/mailchimp.scss */
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
