/* line 3, ../sass/style.scss */
#field-display-overview-wrapper,
fieldset#edit-instance {
  margin-top: 4em;
}

/* line 8, ../sass/style.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 26px;
}

/**
 * Generic elements.
 */
/* line 16, ../sass/style.scss */
body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* line 21, ../sass/style.scss */
a {
  color: #0074BD;
  text-decoration: none;
}

/* line 25, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 28, ../sass/style.scss */
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

/* line 35, ../sass/style.scss */
legend {
  font-weight: bold;
}

/* line 43, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}

/* line 47, ../sass/style.scss */
h1 {
  font-size: 1.538em;
}

/* line 50, ../sass/style.scss */
h2 {
  font-size: 1.385em;
}

/* line 53, ../sass/style.scss */
h3 {
  font-size: 1.231em;
}

/* line 56, ../sass/style.scss */
h4 {
  font-size: 1.154em;
}

/* line 60, ../sass/style.scss */
h5,
h6 {
  font-size: 1.077em;
}

/* line 63, ../sass/style.scss */
p {
  margin: 1em 0;
}

/* line 66, ../sass/style.scss */
dl {
  margin: 0 0 20px;
}

/* line 70, ../sass/style.scss */
dl dd,
dl dl {
  margin-left: 20px;
  /* LTR */
  margin-bottom: 10px;
}

/* line 74, ../sass/style.scss */
blockquote {
  margin: 1em 40px;
}

/* line 77, ../sass/style.scss */
address {
  font-style: italic;
}

/* line 81, ../sass/style.scss */
u,
ins {
  text-decoration: underline;
}

/* line 86, ../sass/style.scss */
s,
strike,
del {
  text-decoration: line-through;
}

/* line 89, ../sass/style.scss */
big {
  font-size: larger;
}

/* line 92, ../sass/style.scss */
small {
  font-size: smaller;
}

/* line 95, ../sass/style.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

/* line 100, ../sass/style.scss */
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

/* line 105, ../sass/style.scss */
nobr {
  white-space: nowrap;
}

/* line 109, ../sass/style.scss */
abbr,
acronym {
  border-bottom: dotted 1px;
}

/* line 114, ../sass/style.scss */
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
}

/* line 119, ../sass/style.scss */
.item-list .pager li {
  padding: 0.5em;
}

/* line 124, ../sass/style.scss */
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}

/* line 128, ../sass/style.scss */
ul.menu li {
  margin: 0;
}

/* line 131, ../sass/style.scss */
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;
  /* LTR */
}

/* line 136, ../sass/style.scss */
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png);
  list-style-type: disc;
}

/* line 141, ../sass/style.scss */
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle;
}

/* line 146, ../sass/style.scss */
quote,
code {
  margin: .5em 0;
}

/* line 151, ../sass/style.scss */
code,
pre,
kbd {
  font-size: 1.231em;
}

/* line 154, ../sass/style.scss */
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
/* line 162, ../sass/style.scss */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  /* LTR */
  margin-left: -5.25em;
  /* LTR */
  width: auto;
  z-index: 50;
}

/* line 172, ../sass/style.scss */
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px;
  /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}

/* line 188, ../sass/style.scss */
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
/* line 195, ../sass/style.scss */
#branding {
  overflow: hidden;
  padding: 20px 20px 0 20px;
  /* LTR */
  position: relative;
  background-color: #e0e0d8;
}

/* line 201, ../sass/style.scss */
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}

/* line 205, ../sass/style.scss */
#branding div.block {
  position: relative;
  float: right;
  /* LTR */
  width: 240px;
  padding-left: 10px;
  /* LTR */
  background: #333;
}

/* line 212, ../sass/style.scss */
#branding div.block form label {
  display: none;
}

/* line 215, ../sass/style.scss */
#branding div.block form div.form-item {
  float: left;
  /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 221, ../sass/style.scss */
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px;
  /* LTR */
}

/* line 225, ../sass/style.scss */
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
/* line 233, ../sass/style.scss */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}

/* line 237, ../sass/style.scss */
#help p {
  margin: 0 0 10px;
}

/* line 240, ../sass/style.scss */
#help div.more-help-link {
  text-align: right;
  /* LTR */
}

/**
 * Page title.
 */
/* line 247, ../sass/style.scss */
#page-title {
  padding-top: 20px;
}

/* line 251, ../sass/style.scss */
#branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left;
  /* LTR */
}

/**
 * Console.
 */
/* line 263, ../sass/style.scss */
#console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
/* line 270, ../sass/style.scss */
ul.primary {
  float: right;
  /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  height: 2.60em;
  margin: 0;
  padding-top: 0;
}

/* line 279, ../sass/style.scss */
ul.primary li {
  float: left;
  /* LTR */
  list-style: none;
  margin: 0 2px;
}

/* line 289, ../sass/style.scss */
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  display: block;
  float: left;
  /* LTR */
  height: 2.60em;
  line-height: 2.60em;
  padding: 0 18px 8px;
  background-color: #a6a7a2;
  color: #000;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
}

/* line 309, ../sass/style.scss */
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #c9cac4;
}

/* line 313, ../sass/style.scss */
ul.primary li a:hover {
  color: #fff;
}

/* line 316, ../sass/style.scss */
ul.primary li.active a:hover {
  color: #000;
}

/* line 319, ../sass/style.scss */
.tabs-secondary {
  clear: both;
}

/* line 322, ../sass/style.scss */
ul.secondary {
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
}

/* line 330, ../sass/style.scss */
ul.secondary li {
  margin: 0 5px;
  float: none;
  /* LTR */
}

/* line 334, ../sass/style.scss */
ul.secondary li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
}

/* line 342, ../sass/style.scss */
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 3px 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/* line 351, ../sass/style.scss */
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #666;
}

/* line 355, ../sass/style.scss */
#content {
  clear: left;
}

/**
 * Page layout.
 */
/* line 362, ../sass/style.scss */
#page {
  padding: 20px 0 40px 0;
  /* LTR */
  margin-right: 40px;
  /* LTR */
  margin-left: 40px;
  /* LTR */
  background: #fff;
  position: relative;
  color: #333;
}

/* line 370, ../sass/style.scss */
#secondary-links ul.links li {
  padding: 0 10px 10px 0;
  /* LTR */
}

/* line 373, ../sass/style.scss */
#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 386, ../sass/style.scss */
#secondary-links ul.links li a:hover {
  background: #999;
}

/* line 390, ../sass/style.scss */
ul.links li,
ul.inline li {
  padding-right: 1em;
  /* LTR */
}

/* line 393, ../sass/style.scss */
ul.inline li {
  display: inline;
}

/* line 397, ../sass/style.scss */
#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}

/* line 400, ../sass/style.scss */
ul.admin-list li {
  position: relative;
  padding-left: 30px;
  /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  /* LTR */
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/* line 412, ../sass/style.scss */
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}

/* line 417, ../sass/style.scss */
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}

/* line 421, ../sass/style.scss */
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}

/* line 428, ../sass/style.scss */
ul.admin-list li:last-child {
  border-bottom: none;
}

/* line 431, ../sass/style.scss */
ul.admin-list li a {
  margin-left: -30px;
  /* LTR */
  padding: 0 0 4px 30px;
  /* LTR */
  min-height: 0;
}

/* line 436, ../sass/style.scss */
ul.admin-list.compact li a {
  margin-left: 0;
  /* LTR */
  padding: 0;
}

/* line 440, ../sass/style.scss */
ul.admin-list li div.description a {
  margin-left: 0;
  /* LTR */
  padding: 0;
  min-height: inherit;
}

/* line 445, ../sass/style.scss */
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
/* line 452, ../sass/style.scss */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}

/* line 459, ../sass/style.scss */
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}

/* line 466, ../sass/style.scss */
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}

/* line 472, ../sass/style.scss */
tr.odd {
  background: #fff;
}

/* line 475, ../sass/style.scss */
tr.drag {
  background: #fe7;
}

/* line 478, ../sass/style.scss */
tr.drag-previous {
  background: #ffb;
}

/* line 481, ../sass/style.scss */
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}

/* line 490, ../sass/style.scss */
table th.active {
  background: #bdbeb9;
}

/* line 493, ../sass/style.scss */
table th a {
  display: block;
  position: relative;
}

/* line 497, ../sass/style.scss */
table th.active a {
  padding: 0 25px 0 0;
  /* LTR */
}

/* line 500, ../sass/style.scss */
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
  /* LTR */
}

/* line 505, ../sass/style.scss */
table td.active {
  background: #e9e9dd;
}

/* line 508, ../sass/style.scss */
table tr.odd td.active {
  background: #f3f4ee;
}

/* line 512, ../sass/style.scss */
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}

/* line 516, ../sass/style.scss */
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}

/* line 519, ../sass/style.scss */
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}

/* line 523, ../sass/style.scss */
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}

/* line 527, ../sass/style.scss */
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}

/* line 531, ../sass/style.scss */
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
/* line 539, ../sass/style.scss */
tr td:last-child {
  border-right: 1px solid #bebfb9;
  /* LTR */
}

/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
/* line 562, ../sass/style.scss */
fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
}

/* line 568, ../sass/style.scss */
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px;
  /* LTR */
  position: absolute;
  text-transform: uppercase;
}

/* line 574, ../sass/style.scss */
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
  /* LTR */
}

/* line 577, ../sass/style.scss */
fieldset.collapsed {
  background-color: transparent;
}

/* line 580, ../sass/style.scss */
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

/* line 584, ../sass/style.scss */
fieldset fieldset {
  background-color: #fff;
}

/* line 587, ../sass/style.scss */
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
/* line 594, ../sass/style.scss */
.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}

/* line 600, ../sass/style.scss */
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

/* line 605, ../sass/style.scss */
.form-type-checkbox {
  padding: 0;
}

/* line 608, ../sass/style.scss */
.text-format-wrapper .form-item {
  padding-bottom: 0;
}

/* line 611, ../sass/style.scss */
.form-item label {
  margin: 0;
  padding: 0;
}

/* line 615, ../sass/style.scss */
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}

/* line 619, ../sass/style.scss */
.form-item label.option input {
  vertical-align: middle;
}

/* line 626, ../sass/style.scss */
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
/* line 632, ../sass/style.scss */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}

/* line 636, ../sass/style.scss */
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}

/* line 641, ../sass/style.scss */
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0;
  /* LTR */
}

/* line 647, ../sass/style.scss */
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

/* line 653, ../sass/style.scss */
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
}

/* line 657, ../sass/style.scss */
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
  /* LTR */
}

/* line 661, ../sass/style.scss */
input.form-submit,
a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 683, ../sass/style.scss */
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* line 687, ../sass/style.scss */
input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222222 0 -1px 0;
}

/* line 694, ../sass/style.scss */
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

/* line 704, ../sass/style.scss */
input.form-autocomplete,
input.form-text,
input.form-file,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  width: 160px;
}

/* line 712, ../sass/style.scss */
textarea.form-textarea {
  border: 1px solid #ccc;
}

/* line 718, ../sass/style.scss */
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}

/* line 722, ../sass/style.scss */
html.js input.form-autocomplete {
  background-position: 100% 4px;
}

/* line 725, ../sass/style.scss */
html.js input.throbbing {
  background-position: 100% -16px;
}

/* line 728, ../sass/style.scss */
ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px;
  /* LTR */
  list-style-type: none;
  overflow: hidden;
}

/* line 734, ../sass/style.scss */
ul.action-links li {
  float: left;
  /* LTR */
  margin: 0 1em 0 0;
  /* LTR */
}

/* line 738, ../sass/style.scss */
ul.action-links a {
  padding-left: 15px;
  /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
/* line 746, ../sass/style.scss */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
/* line 754, ../sass/style.scss */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}

/* line 759, ../sass/style.scss */
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}

/* line 763, ../sass/style.scss */
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

/* line 769, ../sass/style.scss */
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
/* line 777, ../sass/style.scss */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}

/* line 781, ../sass/style.scss */
.theme-selector h3 {
  font-weight: normal;
}

/* line 784, ../sass/style.scss */
.theme-default h3 {
  font-weight: bold;
}

/* line 787, ../sass/style.scss */
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
/* line 792, ../sass/style.scss */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}

/* line 800, ../sass/style.scss */
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}

/* line 805, ../sass/style.scss */
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px;
  /* LTR */
  float: left;
  /* LTR */
}

/* line 809, ../sass/style.scss */
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
/* line 815, ../sass/style.scss */
.versions table.version {
  border: none;
}

/* Maintenance theming */
/* line 820, ../sass/style.scss */
body.in-maintenance #sidebar-first {
  float: left;
  /* LTR */
  width: 200px;
}

/* line 824, ../sass/style.scss */
body.in-maintenance #content {
  float: right;
  /* LTR */
  width: 550px;
  padding-right: 20px;
  /* LTR */
  clear: none;
}

/* line 830, ../sass/style.scss */
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}

/* line 836, ../sass/style.scss */
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}

/* line 841, ../sass/style.scss */
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}

/* line 844, ../sass/style.scss */
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}

/* line 849, ../sass/style.scss */
body.in-maintenance .form-submit {
  display: block;
}

/* line 852, ../sass/style.scss */
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}

/* line 856, ../sass/style.scss */
ol.task-list {
  margin-left: 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/* line 861, ../sass/style.scss */
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
  color: #adadad;
}

/* line 865, ../sass/style.scss */
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%;
  /* LTR */
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
  color: #000;
}

/* line 870, ../sass/style.scss */
ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
/* line 876, ../sass/style.scss */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}

/* line 882, ../sass/style.scss */
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}

/* line 885, ../sass/style.scss */
.overlay #page {
  margin: 0;
  padding: 0 20px;
}

/* line 889, ../sass/style.scss */
.overlay #branding div.breadcrumb {
  float: left;
  /* LTR */
  position: relative;
  z-index: 10;
}

/* line 894, ../sass/style.scss */
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}

/* line 900, ../sass/style.scss */
#overlay-tabs li {
  margin: 0 -2px;
}

/* line 903, ../sass/style.scss */
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0;
  /* LTR */
  overflow: visible;
}

/* line 908, ../sass/style.scss */
.overlay #content {
  padding: 0;
}

/* line 911, ../sass/style.scss */
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
/* line 916, ../sass/style.scss */
div.add-or-remove-shortcuts {
  float: left;
  /* LTR */
  padding-top: 6px;
  padding-left: 6px;
  /* LTR */
}

/* Dashboard */
/* line 923, ../sass/style.scss */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}

/* line 926, ../sass/style.scss */
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}

/* line 931, ../sass/style.scss */
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;
  /* LTR */
}

/* line 934, ../sass/style.scss */
#dashboard div.block div.content ul.menu {
  margin-left: 20px;
  /* LTR */
}

/* line 937, ../sass/style.scss */
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */
/* line 943, ../sass/style.scss */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}

/* line 947, ../sass/style.scss */
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}

/* line 950, ../sass/style.scss */
#field-display-overview tr.drag {
  background: #FFEE77;
}

/* line 953, ../sass/style.scss */
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}

/* line 956, ../sass/style.scss */
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}

/* line 959, ../sass/style.scss */
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
/* line 964, ../sass/style.scss */
#dashboard div#block-node-recent div.content {
  padding: 0;
}

/* line 968, ../sass/style.scss */
#block-node-recent table,
#block-node-recent tr {
  border: none;
}

/* line 971, ../sass/style.scss */
#block-node-recent .more-link {
  padding: 0 5px 5px 0;
  /* LTR */
}

/* User login block */
/* line 976, ../sass/style.scss */
#user-login-form .openid-links {
  margin-left: 0;
  /* LTR */
}

/* line 979, ../sass/style.scss */
#user-login-form .openid-links .user-link {
  margin-left: 1.5em;
  /* LTR */
}

/* Disable overlay message */
/* line 984, ../sass/style.scss */
#overlay-disable-message {
  background-color: #addafc;
}

/* line 988, ../sass/style.scss */
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}

/* line 992, ../sass/style.scss */
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}

/* line 996, ../sass/style.scss */
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}

/* line 999, ../sass/style.scss */
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
