/**
 * Generic elements.
 */
/* line 6, ../sass/style-rtl.scss */
dl dd,
dl dl {
  margin-right: 20px;
}

/* line 11, ../sass/style-rtl.scss */
ul,
.block ul,
.item-list ul {
  margin: 0.25em 1.5em 0.25em 0;
}

/* line 14, ../sass/style-rtl.scss */
ol {
  margin: 0.25em 2em 0.25em 0;
}

/**
 * Skip link.
 */
/* line 21, ../sass/style-rtl.scss */
#skip-link {
  right: 50%;
  margin-right: -5.25em;
}

/* line 27, ../sass/style-rtl.scss */
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  padding: 1px 10px 2px 10px;
}

/**
 * Branding.
 */
/* line 34, ../sass/style-rtl.scss */
#branding {
  padding: 20px 20px 0 20px;
}

/* line 38, ../sass/style-rtl.scss */
#branding div.block {
  float: left;
  padding-left: 0;
  padding-right: 10px;
}

/* line 43, ../sass/style-rtl.scss */
#branding div.block form div.form-item {
  float: right;
}

/* line 46, ../sass/style-rtl.scss */
#branding div.block form input.form-text {
  margin-left: 10px;
  margin-right: 0;
}

/**
 * Help.
 */
/* line 54, ../sass/style-rtl.scss */
#help div.more-help-link {
  text-align: left;
}

/**
 * Page title.
 */
/* line 61, ../sass/style-rtl.scss */
#branding h1.page-title {
  float: right;
}

/**
 * Tabs.
 */
/* line 70, ../sass/style-rtl.scss */
ul.primary li,
ul.primary li a:link,
ul.primary li a.active {
  float: right;
}

/* line 74, ../sass/style-rtl.scss */
ul.primary,
ul.secondary {
  float: left;
}

/* line 77, ../sass/style-rtl.scss */
ul.secondary li {
  float: none;
}

/* line 80, ../sass/style-rtl.scss */
ul.primary {
  padding-top: 0;
}

/**
 * Page layout.
 */
/* line 87, ../sass/style-rtl.scss */
#page {
  padding: 20px 0 40px 0;
  margin-left: 40px;
  margin-right: 40px;
}

/* line 92, ../sass/style-rtl.scss */
#secondary-links ul.links li {
  padding: 0 0 10px 10px;
}

/* line 96, ../sass/style-rtl.scss */
ul.links li,
ul.inline li {
  padding-left: 1em;
  padding-right: 0;
}

/* line 100, ../sass/style-rtl.scss */
ul.admin-list li {
  padding: 9px 30px 0 0;
  margin-right: 0;
  background: url(images/list-item-rtl.png) no-repeat right 11px;
}

/* line 105, ../sass/style-rtl.scss */
ul.admin-list li a {
  margin-right: -30px;
  margin-left: 0;
  padding: 0 30px 4px 0;
}

/* line 110, ../sass/style-rtl.scss */
ul.admin-list.compact li a {
  margin-right: 0;
}

/* line 113, ../sass/style-rtl.scss */
ul.admin-list li div.description a {
  margin-right: 0;
}

/**
 * Tables.
 */
/* line 120, ../sass/style-rtl.scss */
table th.active a {
  padding: 0 0 0 25px;
}

/* line 123, ../sass/style-rtl.scss */
table th.active img {
  left: 3px;
  right: auto;
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
/* line 131, ../sass/style-rtl.scss */
tr td:last-child {
  border-left: 1px solid #bebfb9;
  border-right: none;
}

/**
 * Fieldsets.
 */
/* line 139, ../sass/style-rtl.scss */
fieldset {
  padding: 2.5em 0 0 0;
}

/* line 142, ../sass/style-rtl.scss */
fieldset .fieldset-legend {
  padding-right: 15px;
  right: 0;
}

/* line 146, ../sass/style-rtl.scss */
fieldset .fieldset-wrapper {
  padding: 0 15px 13px 13px;
}

/* Filter */
/* line 153, ../sass/style-rtl.scss */
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  padding: 2px 0 0 0;
}

/* line 156, ../sass/style-rtl.scss */
ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}

/* line 160, ../sass/style-rtl.scss */
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 0;
  margin-right: 1.5em;
}

/* line 165, ../sass/style-rtl.scss */
input.form-submit,
a.button {
  margin-left: 1em;
  margin-right: 0;
}

/* line 169, ../sass/style-rtl.scss */
ul.action-links li {
  float: right;
  margin: 0 0 0 1em;
}

/* line 173, ../sass/style-rtl.scss */
ul.action-links a {
  padding-left: 0;
  padding-right: 15px;
  background-position: right center;
}

/* Update options. */
/* line 181, ../sass/style-rtl.scss */
div.admin-options label,
div.admin-options div.form-item {
  margin-left: 10px;
  margin-right: 0;
  float: right;
}

/* Maintenance theming */
/* line 188, ../sass/style-rtl.scss */
body.in-maintenance #sidebar-first {
  float: right;
}

/* line 191, ../sass/style-rtl.scss */
body.in-maintenance #content {
  float: left;
  padding-left: 20px;
  padding-right: 0;
}

/* line 196, ../sass/style-rtl.scss */
ol.task-list {
  margin-right: 0;
}

/* line 199, ../sass/style-rtl.scss */
ol.task-list li {
  padding: 0.5em 20px 0.5em 1em;
}

/* line 202, ../sass/style-rtl.scss */
ol.task-list li.active {
  background: transparent url(images/task-item-rtl.png) no-repeat right 50%;
  padding: 0.5em 20px 0.5em 1em;
}

/* Overlay theming */
/* line 208, ../sass/style-rtl.scss */
.overlay #branding div.breadcrumb {
  float: right;
}

/* line 211, ../sass/style-rtl.scss */
.overlay ul.secondary {
  margin: -1.4em 0 0.3em 0;
}

/* Shortcut theming */
/* line 216, ../sass/style-rtl.scss */
div.add-or-remove-shortcuts {
  float: none;
  padding-left: 0;
  padding-right: 6px;
}

/* Dashboard */
/* line 223, ../sass/style-rtl.scss */
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;
}

/* line 226, ../sass/style-rtl.scss */
#dashboard div.block div.content ul.menu {
  margin-right: 20px;
}

/* Recent content block */
/* line 231, ../sass/style-rtl.scss */
#block-node-recent .more-link {
  padding: 0 0 5px 5px;
}

/* User login block */
/* line 236, ../sass/style-rtl.scss */
#user-login-form .openid-links {
  margin-right: 0;
}

/* line 239, ../sass/style-rtl.scss */
#user-login-form .openid-links .user-link {
  margin-right: 1.5em;
}
