@CHARSET "UTF-8";

div.node-news-release div.content {
	margin: 10px;
	
	}
div.node-news-release div.content div.field {
    font-size: small;
    }
div.node-news-release div.content div.field-name-field-news-release-date div.field-items div.field-item {
    margin-left: 10px;
    }

div.node-news-release div.content div.field-name-field-contact-name-or-title div.field-items div.field-item {
    margin-left: 42px;
    }

div.node-news-release div.content div.field-name-field-email div.field-items div.field-item {
    margin-left: 100px;
    }

div.node-news-release div.content div.field-name-field-phone div.field-items div.field-item {
    margin-left: 100px;
    }    

div.node-news-release div.content div.field field-name-field-news-release-date {
	font-size: small;
	}
	
div.node-news-release div.content div.field-name-field-contact-name-or-title {
     font-size: small;
    }