/* TOP-SEARCH */

#top-search {padding: 0; float: right; margin: 5px -20px -30px 5px;}

#top-search #search-block-form {background: transparent;}

#top-search #block-search-form {
	width: 558px;
	margin: 0 auto 20px auto;
	border: none;
}

#top-search #block-search-form input.form-text {
	width: 420px;
	height: 15px;
	background: url(images/search_icon.jpg) no-repeat left center #E5E5E5;
	padding: 3px;
	padding-left: 25px;
	margin: 0;
}

#top-search #block-search-form input.form-submit {
	background: url(images/btn_search_top.jpg) no-repeat;
	width: 105px;
	height: 25px;
	line-height: 0;
	margin-left: -4px;
	color: transparent;
	border: none;
	text-indent: -9999px;
}




/* ROUNDED CORNERS -- TWO- and THREE-COLUMN LAYOUT */
div.portal-columns {background: url("images/br.jpg") no-repeat scroll right bottom #FFFFFF; font-family: Arial, sans-serif; float: left;}
		
	div.port-col-left {background: #f0eee2 url(images/bl_dark.jpg) no-repeat bottom left;  float: left; width: 200px;}
		div.port-col-left-top {background: #5b595a url(images/tl_dark.jpg) no-repeat top left; height: 33px;}
		div.port-col-left-top h5 {text-align:center;text-transform: uppercase; font-weight: normal; line-height: 33px; color: #ddd;padding: 0; margin: 0; letter-spacing: 1px;}
		
	div.port-col-right {float: right; width: 760px;}
		div.port-col-right-top {background: #767f89 url(images/tr_dark.jpg) no-repeat top right;height: 33px;}
			
		div.port-main-content {float: left;}
		div.port-right-sidebar {float: right; width: 200px;}

	hr.clear {clear: both; visibility: hidden;}

/* ROUNDED CORNERS -- MEDIA CENTER LAYOUT */
div.single-column {background:  #fff url("images/bl.jpg") no-repeat scroll left bottom;}
	
	div.single-column .breadcrumb-left {background: #767f89 url("images/tl_blue.jpg") no-repeat scroll left top; line-height: 33px;}

	div.single-column .breadcrumb {height: 33px;padding: 0 15px;background: #767f89 url("images/tr_blue.jpg") no-repeat scroll right top;margin-left: 15px; line-height: 33px;}

	div.single-column .large-col {background: #fff url("images/br.jpg") no-repeat scroll right bottom;margin-left: 10px; padding: 10px 10px 10px 0;}
	div.single-column .small-col {width: 25%;}

/* BREADCRUMBS */
.breadcrumb {height: 33px;padding: 0 15px;font-size: 15px;color: #FFFFFF;}
.breadcrumb a {line-height: 33px; color: #fff; text-decoration: underline;}



/* ICON-LISTS */
ul.star-list {list-style-image: url(images/star.jpg);padding:  0 0 0 15px;}
ul.star-list li {margin-bottom: 1em;}
ul.star-list a {color: #a85708;text-decoration: none; font-weight: bold;}






/* VIEWS-FIELD & VIEWS-FIELD-TITLE */
#squeeze h2 a {color:#636463;text-decoration: none;}

.views-field {
	/* width:360px; */
	font-size: 13px;
}

/* Video page */
div#mini-panel-video_page .panels-flexible-region {
  padding:10px 0 0 50px;
  width:450px;
  margin: 0 auto;
}

div#mini-panel-video_page p {width:450px;}

div#mini-panel-video_page .pane-7 a {background: none;padding:0px;}



	
/* left col navigation for template node-17 */
.port-col-left-navigation a {
  background: url("images/icons/curved_arrow.jpg") no-repeat scroll left 0 transparent;
  color: #737B82;
  font-weight: bold;
  padding-left: 16px;
  text-decoration: none;	
}

.port-col-left-navigation li {
  font-size: 12px;
  padding-bottom: 6px;  
  list-style: none outside none;
}

.port-col-left-navigation ul {
  padding-left: 15px;
}

input.back_button{
	float: right;
}

input.back_button:hover{
	cursor: pointer;
}

h1#branding { margin: 0; }

/* FOOTER COLUMNS - ROUNDED CORNERS */
div.round-corners-footer {font-family: Arial, sans-serif; font-weight: normal; background: #5f5f5f; width: 180px;}
div.round-corners-footer .content-container { padding: 10px; }
div.round-corners-footer .tl-footer { background: url(images/tl_footer.jpg) no-repeat top left; }
div.round-corners-footer .tr-footer { background: url(images/tr_footer.jpg) no-repeat top right; }
div.round-corners-footer .bl-footer { background: url(images/bl_footer.jpg) no-repeat bottom left; }
div.round-corners-footer .br-footer { background: url(images/br_footer.jpg) no-repeat bottom right; }

/* FOOTER COLUMNS - LISTS */
div.round-corners-footer .content-container p {font-weight: bold; font-size: 14px; color: #fff;margin: 2px 0;}
ul.footer-list {padding: 0; margin: 0;}
	ul.footer-list li {list-style: none; margin: 0; padding: 0;}
	ul.footer-list li a {color: #fff; text-decoration: none;font-size: 12px;}
	ul.footer-list li a:hover {text-decoration: underline;}

/* FOOTER COLUMN 'CONNECT WITH US' - ICON DECLARATIONS */
li#cwu-mobileapps {height: 16px; background: url(images/icons/icon_mobile_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-multimedia {height: 16px; background: url(images/icons/icon_multimedia_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-twitter {height: 16px; background: url(images/icons/icon_twitter_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-facebook {height: 16px; background: url(images/icons/icon_facebook_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-youtube {height: 16px; background: url(images/icons/icon_youtube_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-rss {height: 16px; background: url(images/icons/icon_rss_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}

p#tweet {font-weight: normal; font-size: 12px;}
	p#tweet a {color: #ddd;}
	p#tweet-time {font-size: 10px; font-weight: normal;}
	
/* BIO VIEW - GOVERNMENT BIO PAGE */
.views-field-field-last-name, .views-field-field-first-name {    
    display: inline-block;
    font-size: 14px;
}

.views-field-field-last-name a, .views-field-field-first-name a {    
    text-decoration: none;
	color: #A85708;
}

.views-field-field-image {
    float: left;
    margin-right: 15px;
}

.views-field-field-council-place {
    display: inline-block;
	float: left;
	
}

.views-label-field-council-place{
	padding-right: 2px;
}
.views-field-field-council-place .field-content, .views-label-field-council-place {
	float: left;
}

.views-label-field-council-place {
    display: inline-block;
}

.views-field-title-1 a{
	color: none;
}

.bio {
	background: url("images/bio_bkg.jpg") no-repeat scroll 0 0 transparent;
    height: 107px;
    padding-left: 10px;
    width: 209px;
}

#mayor_bio {
    margin-left: 90px;
}

.mayor {
	background: url("images/mayor_bio_bkg.jpg") no-repeat scroll 0 0 transparent;
    height: 108px;
    padding-left: 10px;
    width: 474px;
}


.view-display-id-block_1 tbody {
	height: 225px;
}

.views-field-field-image img {
	border: 1px solid #A85708;
	padding: 0;
}