/* Table of Content
==================================================
	#TYPOGRAPHY
	#TOP-SEARCH
	#ROUNDED CORNERS - TWO- and THREE-COLUMN LAYOUT
	#ROUNDED CORNERS - LAYOUT
	#BREADCRUMBS
	#ICON-LISTS
	#VIEWS-FIELD & VIEWS-FIELD-TITLE
	#ONLINE SERVICES SELECT LIST
	#Video page
	#left col navigation for template node-17
	#PROMO TILES
	#FOOTER COLUMNS - ROUNDED CORNERS
	#FOOTER COLUMNS - LISTS
	#FOOTER COLUMN 'CONNECT WITH US' - ICON DECLARATIONS
	#BIO VIEW - GOVERNMENT BIO PAGE 
	#DEV VIEW - DEVELOPMENT DEPARTMENT LIST 
	#FULL CALENDAR
	#PANEL LAYOUT
	#TOPIC PANEL ICONS
	#SERVICES (GLOSSARY)
	#TAB BUTTONS
	#CALENDAR
	#DEPARTMENT LIST
	#SHORT CUTS
	*/

	
	*/



/* #TYPOGRAPHY 
================================================== */
#center p, #center ul, #center ol {font-size: 12px;}
#center p a, #center li a {color: #636463 ;text-decoration: none; font-weight: bold;}
#center p a:hover, #center li a:hover {text-decoration: underline;}



/* #TOP-SEARCH 
================================================== */
#top-search {padding: 0; float: right; margin: 5px -20px -30px 5px;}

#top-search #search-block-form {background: transparent;}

#top-search #block-search-form {
	width: 558px;
	margin: 0 auto 20px auto;
	border: none;
}

#top-search #search-block-form #edit-search-block-form--2, #top-search #block-search-form input.form-text {
	width: 420px;
	height: 17px;
	background: url(images/search_icon.jpg) no-repeat left center #FFF;
	padding: 3px;
	padding-left: 25px;
	margin: 0 0 -5px;
}

#top-search #block-search-form input.form-submit {
	background: url(images/btn_search_top.jpg) no-repeat;
	width: 105px;
	height: 25px;
	line-height: 0;
	margin-left: -4px;
	color: transparent;
	border: none;
	text-indent: -9999px;
}



/* #ROUNDED CORNERS -- TWO- and THREE-COLUMN LAYOUT
================================================== */

div.portal-columns {background: url("images/br.jpg") no-repeat scroll right bottom #FFFFFF; font-family: Arial, sans-serif; float: left;}
		
	div.port-col-left {background: #f0eee2 url(images/bl_dark.jpg) no-repeat bottom left;  float: left; width: 200px; padding-left: 15px;}
		div.port-col-left-top {background: #5b595a url(images/tl_dark.jpg) no-repeat top left; height: 33px;}
		div.port-col-left-top h5 {text-align:center;text-transform: uppercase; font-weight: normal; line-height: 33px; color: #ddd;padding: 0; margin: 0; letter-spacing: 1px;}
		
	div.port-col-right {float: right; width: 760px;}
		div.port-col-right-top {background: #767f89 url(images/tr_dark.jpg) no-repeat top right;height: 33px;}
			
		div.port-main-content {float: left;}
		div.port-right-sidebar {float: right; width: 200px;}

	hr.clear {clear: both; visibility: hidden;}

/* #ROUNDED CORNERS -- LAYOUT
================================================== */

div.single-column {background:  #fff url("images/bl.jpg") no-repeat scroll left bottom;}
	
div.single-column .breadcrumb-left {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #626C76;
    background-image: url("/sites/all/themes/austintexas/images/t_page.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    line-height: 33px;
}

div.single-column .breadcrumb {
    height: 33px;
    line-height: 33px;
    margin-left: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}
	
	div.single-column .br {background: #fff url("images/br.jpg") no-repeat scroll right bottom;margin-left: 10px; padding: 10px 10px 10px 0;}
	div.single-column .large-col {width: 100%;}

	.large-col {
	width: 75%;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0EEE2;
    background-image: url("/sites/all/themes/austintexas/images/b_page.png");
    background-origin: padding-box;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
}
		div.single-column .large-col .content {}
	div.single-column .small-col {width: 23%; float: right;}


/* #BREADCRUMBS
================================================== */
.breadcrumb {height: 33px;padding: 0 15px;font-size: 15px;color: #FFFFFF;}
.breadcrumb a {line-height: 33px; color: #fff; text-decoration: underline;}




/* #ICON-LISTS
================================================== */
ul.star-list {list-style-image: url(images/star.png);padding:  0 0 0 15px;}
ul.star-list li {margin-bottom: 1em; line-height: normal;}
ul.star-list a {color: #a85708;text-decoration: none; font-weight: bold;}


/* more-links */
.news-list .more-link {font-size: 12px; text-align: left; text-indent: 15px;}
.news-list .more-link a {color: #a85708;text-decoration: none; font-weight: bold;}


/* #VIEWS-FIELD & VIEWS-FIELD-TITLE
================================================== */
#squeeze h2 a {color:#636463;text-decoration: none;}

.views-field {
	/* width:360px; */
	font-size: 12px;
}

.news-list .more-link {font-size: 12px;text-align: left;text-align: left;text-indent: 15px;}
.news-list .more-link a {color: #a85708;text-decoration: none; font-weight: bold;}


/* #ONLINE SERVICES SELECT LIST
================================================== */
span.customStyleSelectBox {
    background: url("images/icons/form_select_bkg.jpg") no-repeat scroll 0 2px transparent;
    color: #816C5B;
    display: inline-block;
    font-size: 12px;
    height: 15px;
    padding: 5px 0 10px 8px;
}
.customStyleSelectBoxInner {
    background: url("images/icons/drop_arrow.jpg") no-repeat scroll 153px center transparent;
    height: 15px;
    padding: 5px 0;
}
option {background:#ebe8da; border:1px solid #dcd6b3; color:#816c5b;}



/* #Mini Video 
================================================== */

.mini-video {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0E9DC;
    background-image: url("/sites/all/themes/austintexas/images/t_white.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 207px;
}
.mini-video .pane-content {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: url("/sites/all/themes/austintexas/images/b_white.png");
    background-origin: padding-box;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 90px;
    width: 207px;
}


.mini-video .pane-content {
    background: none repeat scroll 0 0 #F0E9DC;
    height: 90px;
    width: 207px;
}

.mini-video .views-field-field-video {
    float: left;
    padding: 6px;
}
.mini-video .views-field-title a {
    color: #A85708;
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
}
.mini-video .views-field-field-video-sum .field-content p {
    color: #636463;
    font-family: "arial";
    font-size: 12px !important;
    font-weight: bold;
    line-height: 20px !important;
    margin-bottom: 0;
    padding-right: 2px;
    padding-top: 3px;
    text-decoration: none;
}


/* #left col navigation for template node-17
================================================== */
.port-col-left-navigation a {
  background: url("images/icons/curved_arrow.jpg") no-repeat scroll left 0 transparent;
  color: #737B82;
  font-weight: bold;
  padding-left: 16px;
  text-decoration: none;	
}

.port-col-left-navigation li {
  font-size: 12px;
  padding-bottom: 6px;  
  list-style: none outside none;
}

.port-col-left-navigation ul {
  padding-left: 15px;
}

input.back_button{
	float: right;
}

input.back_button:hover{
	cursor: pointer;
}

h1#branding { margin: 0; }





/* #PROMO TILES
================================================== */
.promo-tile {margin: 10px 0px 20px;}
	/* top */

.promo-tile .views-field-title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #626C76;
    background-image: url("/sites/all/themes/austintexas/images/t_white.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 207px;
}
		.promo-tile .views-field-title a {color: #fff; text-decoration: none; text-transform: uppercase; font-family: "Univers Light";}
	/* bottom */
.promo-tile .views-field-field-body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0E9DC;
    background-image: url("/sites/all/themes/austintexas/images/b_white.png");
    background-origin: padding-box;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-bottom: 8px;
    width: 207px;
}

	/* bottom */
	.promo-tile .views-field-title-1 {background: url(images/promo_tile_bottom.gif) 0 0 no-repeat; text-align: right; width: 207px; padding: 2px; margin-top: -3px;}
		.promo-tile .views-field-title-1 a {text-decoration: none;color: #a85708; font-weight: bold; padding-right: 10px;}
		
.promo-tile .views-field-field-promo-image {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0E9DC;
    background-image: url("/sites/all/themes/austintexas/images/b_white.png");
    background-origin: padding-box;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-bottom: 8px;
    width: 207px;
}

/* PROMO LIST
- Looking Ahead (User Home Pages)
================================================== */

.promo-list {
    background: url("/sites/all/themes/austintexas/images/b_white.png") no-repeat scroll left bottom #F0E9DC;
    width: 207px;
}
.promo-list h2 {
    background: url("/sites/all/themes/austintexas/images/t_white.png") no-repeat scroll 0 0 #585858;
    color: #DADBDD !important;
    font-weight: normal;
    line-height: 32px;
    padding-left: 15px;
    width: 192px;
}

.promo-list li {
    border-bottom: 1px solid #FFFFFF;
    height: 22px;
	width: 155px;
}
.promo-list .more-link {
    margin: -10px 20px 0 0;
    padding-bottom: 2px;
    padding-top: 2px;
}
.promo-list .more-link a {
    color: #A85708;
    font-family: Univers Bold;
    font-size: 13px;
    text-decoration: none;
}
.promo-list li a:hover {
    text-decoration: underline;
}
.promo-list .pane-content {
    padding-left: 15px;
}


/* #VIEW MINI VIDEOS
================================================== */
.view-mini-videos {
    background-image: url("/sites/all/themes/austintexas/images/t_white.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
}

/* #FOOTER COLUMNS - ROUNDED CORNERS
================================================== */
div.round-corners-footer {font-family: Arial, sans-serif; font-weight: normal; background: #5f5f5f; width: 180px;}
div.round-corners-footer .content-container { padding: 10px; }
div.round-corners-footer .tl-footer { background: url(images/tl_footer.jpg) no-repeat top left; }
div.round-corners-footer .tr-footer { background: url(images/tr_footer.jpg) no-repeat top right; }
div.round-corners-footer .bl-footer { background: url(images/bl_footer.jpg) no-repeat bottom left; }
div.round-corners-footer .br-footer { background: url(images/br_footer.jpg) no-repeat bottom right; }



/* #FOOTER COLUMNS - LISTS
================================================== */
div.round-corners-footer .content-container p {font-weight: bold; font-size: 14px; color: #fff;margin: 2px 0;}
ul.footer-list {padding: 0; margin: 0;}
	ul.footer-list li {list-style: none; margin: 0; padding: 0;}
	ul.footer-list li a {color: #fff; text-decoration: none;font-size: 12px;}
	ul.footer-list li a:hover {text-decoration: underline;}



/* #FOOTER COLUMN 'CONNECT WITH US' - ICON DECLARATIONS
================================================== */

li#cwu-mobileapps {height: 16px; background: url(images/icons/icon_mobile_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-multimedia {height: 16px; background: url(images/icons/icon_multimedia_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-twitter {height: 16px; background: url(images/icons/icon_twitter_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-facebook {height: 16px; background: url(images/icons/icon_facebook_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-youtube {height: 16px; background: url(images/icons/icon_youtube_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}
li#cwu-rss {height: 16px; background: url(images/icons/icon_rss_16.png) 0 0 no-repeat; text-indent: 20px; line-height: 16px;margin: 5px 0;}

p#tweet {font-weight: normal; font-size: 12px;}
	p#tweet a {color: #ddd;}
	p#tweet-time {font-size: 10px; font-weight: normal;}
	


/* #BIO VIEW - GOVERNMENT BIO PAGE
================================================== */
.gov-bio-home .views-field-field-last-name, .views-field-field-first-name {    
    display: inline-block;
    font-size: 14px;
	font-weight: bold;
	margin-top: 18px;
}

.gov-bio-home .views-field-field-last-name a, .views-field-field-first-name a {    
    text-decoration: none;
	color: #A85708;
}

.gov-bio-home .views-field-field-image {
    float: left;
    margin-right: 15px;
}

.gov-bio-home .views-field-field-council-place {
    display: inline-block;
	float: left;
	font-size: 11px;
}

.gov-bio-home .views-label-field-council-place{
	display: inline-block;
	padding-right: 2px;
	font-size: 11px;
}

.gov-bio-home .views-label-field-council-place .field-content {
	font-size: 11px;
}

.gov-bio-home .views-field-field-council-place .field-content, .views-label-field-council-place {
	float: left;
}

.gov-bio-home .views-label-field-council-place {
    display: inline-block;
}

.gov-bio-home .views-field-title-1 a{
	color: none;
}

.gov-bio-home .bio {
	background: url("images/bio_bkg.jpg") no-repeat scroll 0 0 transparent;
    height: 107px;
    padding-left: 10px;
    width: 209px;
}

.gov-bio-home .views-field-field-quote {
	color: #7D4E3D;
    font-size: 17px;
    height: auto;
    margin-left: 197px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 218px;
}	

#mayor_bio {
    margin-left: 221px;
}

.mayor {
	background: url("images/mayor_bio_bkg.jpg") no-repeat scroll 0 0 transparent;
    height: 109px;
    padding-left: 10px;
    width: 430px;
}

#gov_bio_title {
	position: absolute;
    text-align: center;
    width: 200px;
}

#gov_bio_title h2{
	font-size: 18px !important;
	margin-top: 30px;
}

.view-display-id-block_1 tbody {
	height: 225px;
}

.bio img {
	border: 1px solid #A85708;
	padding: 0;
}

/* CITY MANAGER LIST */

.list a {
	font-size: 14px;
	text-decoration: none;
	color:#A85708;
}

.list ul {
	list-style: disc;

}

.views-field-field-quote:before {content: "\""; font-family: Georgia, serif !important; font-size: 3em; display: block; float: left;margin-top: -10px;color: #ccc;}
.views-field-field-quote:after {content: "\""; font-family: Georgia, serif !important; font-size: 3em; display: block; float: right;margin-top: -10px;color: #ccc;}


/* #DEV VIEW - DEVELOPMENT DEPARTMENT LIST 
================================================== */

.dev-list {
	float: left;
	width: 150px;
	padding-left: 15px;
}

.dev-list h3 a{
	text-decoration: none;
	color:#A85708;
	font-family: "Univers Light";
    font-size: 20px;
    text-transform: uppercase;
}

.dev-list ul {
	padding: 0px;
}

.dev-list ul li {
	padding: 0px;

	margin-left: 15px;
}

.video_link a {
    background: url("images/icons/flip_page.jpg") no-repeat scroll left 0 transparent;
    color: #A85708;
    font-family: Univers Bold;
    font-size: 13px;
    padding-left: 12px;
    text-decoration: none;
}

.video_link {
    margin-right: 20px;
	float:left;
}



/* #FULL CALENDAR 
================================================== */
.fc-content {clear: none;}


/* #Panel Layout
================================================== */
.panel-width {
    width: 970px;
}

.panel-center {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("/sites/all/themes/austintexas/images/b_page.png");
    background-origin: padding-box;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 715px;
}

.panel-center a {
    color: #636463;
	font-weight:bold;
}
.panel-center h2 {
    text-transform: none !important;
    margin-bottom: 1px;
	font-size: 1.2em !important;
}

.panel-center-left-region {
    float: left;
    width: 480px;
}

.panel-center-right-region {
    float: left;
    width: 200px;
}
.large-col {
	background: #F0EEE2;
}

.topic-items-pane {
	margin-bottom: 30px;
}

/* #Topic Panel Icons
================================================== */

.topic-housing h3{
    background: url("images/icons/topic-house.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-energy h3{
    background: url("images/icons/topic-energy.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-water h3{
    background: url("images/icons/topic-water.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-garbage h3{
    background: url("images/icons/topic-garbage.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-tax h3{
    background: url("images/icons/topic-tax.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-garden h3{
    background: url("images/icons/topic-gardening.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-improve h3{
    background: url("images/icons/topic-improve.jpg")no-repeat 0;
    padding-left: 25px;
}

.topic-money h3{
    background: url("images/icons/topic-money.jpg")no-repeat 0;
    padding-left: 22px;
}

.topic-pets h3{
    background: url("images/icons/topic-pets.jpg")no-repeat 0;
    padding-left: 30px;
}





/* #SERVICES (GLOSSARY) 
================================================== */
.services-table .services-table {padding: 10px;margin:5px 10px 10px 10px;}
.services-table .services-table a {color: #a85708;text-decoration: none; font-weight: bold;}

.services-table table thead {background:#767f88;}
.services-table table thead a {color: #fff;text-decoration: none; font-weight: bold; padding: 5px;}
.services-table table td {padding: 10px;background: #fff;}
.services-table table a {color: #a85708;text-decoration: none; font-weight: bold; }



/* #SEND EMAIL FORM
================================================== */
span.field-content h2 {font-family: Arial, sans-serif;color: #000;}

#table1 {width: 80%;}
#table1 td, table, tbody {border: none;}
#table1 tr {padding: 5px;}

#table1 td {padding: 15px 5px;border-bottom: 1px solid #ddd;color: #666;}
#table1 input, #table1 textarea {border: 1px solid #ddd; padding: 5px; width: 60%;}
#table1 input[type="submit"] {border-radius: 15px; width: 100px;background: #a85708; color: #fff;cursor: pointer;}

/* #TAB BUTTONS
================================================== */

div#tabs-wrapper {}
ul.tabs {float: right;margin: 0 30px -2px 0;border: none; font-size: 12px;} ul.tabs li a {border: none; border-radius: 8px 8px 0 0; padding: 8px 20px;} ul.tabs li a.active {background-color: #fff;}
	
/* #CALENDAR
================================================== */

#paramDayDate {border-bottom: 1px solid #ccc;color: #666;border-top: 1px solid #888;padding: 10px 0;margin-bottom: 20px;}

.fullcalendar-week {} /* this is the main container for bottom calendar info */ .fullcalendar-week h3 {background: #eee;padding: 5px 10px;border-bottom: 1px solid #e6e6e6;text-shadow: 1px 1px 0px #fff;} .views-field-field-event-date {margin: 5px 0 10px 0; border-top: 1px dotted #ccc;border-bottom: 1px dotted #ccc;padding: 5px 0;} .fullcalendar-week span.field-content a {color: #a85708;text-decoration: none; font-weight: bold;} .date-display-start, .date-display-end {color: #666;} span.views-field-field-image img {border: 2px solid #666;padding: 2px;}

.date-display-separator {display:none;}

/* #DEPARTMENT
================================================== */

.views-field-field-prog-icon img {
    float: left;
    height: 80px;
    margin-right: 15px;
    width: 80px;
}
.view-topic-sticky p {
    line-height: 20px !important;
    margin: 0 !important;
}


/* #ITEM LIST
================================================== */

.item-list ul li {
    margin: 0 0 0.25em !important;
    padding-left: 10px;
}

.item-list li a {
    font-weight: bold;

}

/* #SHORTCUTS
================================================== */

.f-left {
	float: left;
}

.f-right {
	float: right;

}


