/* line 3, ../sass/events.scss */
h3 {
  margin-top: 1em;
}

/* line 6, ../sass/events.scss */
.views-field.views-field-field-time {
  margin-left: 1em;
}

/* line 10, ../sass/events.scss */
.views-label-field-event-loc a,
.views-field-field-event-loc span.field-content a {
  font-style: normal;
  text-decoration: none;
  color: #000a10;
}
/* line 14, ../sass/events.scss */
.views-label-field-event-loc a:link,
.views-field-field-event-loc span.field-content a:link {
  color: #000a10;
}
/* line 17, ../sass/events.scss */
.views-label-field-event-loc a:hover,
.views-field-field-event-loc span.field-content a:hover {
  text-decoration: underline;
  color: #0069aa;
}
/* line 20, ../sass/events.scss */
.views-label-field-event-loc a:hover:visited,
.views-field-field-event-loc span.field-content a:hover:visited {
  color: #0069aa;
}
