@import "colors";
$width: 100%;

div#mini-panel-austin_history_center_bottom {
	div.panel-col {
		width: 33%;
	}
}


div#mini-panel-clone_of_messages {
	text-align: center;
	p {
		margin-bottom: 0;
	}
span.field-content {
	padding: 5px 20px;
	display: block;
}
	div {
	&.error {
		background-color: #B73939;
		background-image: none;
		color: white;
		padding: 5px 20px;
	}
	&.warning {
		background-color: $yellow;
		background-image: none;
		color: white;
		border: none;
		a {
			color: $blue_black;
		}
	}
	}
}
div#mini-panel-apl_2014_top {

.panel-col-top {
	width: 100%;
	div.inside {
		padding-top: 3px !important;
		margin: 0 auto;
		min-width: 980px;
	}
}
.panel-col-bottom {
	width: 100%;
	div.inside {
		padding-top: 3px !important;
		margin: 0 auto;
		width: 980px;
	}
}
.panel-col-bottom {
	margin-top: 10px;
	height: 25px;
}
.center-wrapper {
	.panel-col-first {
		min-width: 580px;
		width: 580px;
		border: 1px dotted white;
		float: left;
	}
	.panel-col-last {
		float: right;
		margin-left: 20px;
		width: 340px;
	}
}
	background-color: white;
	.panel-col-top {
		background-color: $blue_black;
		ul.menu {
			margin-left: 8px;
			height: 18px;
			max-height: 18px;
			li:nth-child(3) a {
				color: $yellow;
				font-weight:bold;
			}
			li:last-child a {
				border-right: none;
			}
			li a {
				text-transform: uppercase;
				border-right: 1px solid fade-out(#BDBDBD, 0.6);
				padding: 0 0.75em;
				letter-spacing: 1px;
				font-weight: bold;
			}
		}
	}
	.center-wrapper {
		width: 980px;
		margin: 0 auto;
		height: 72px;
		margin-top: 5px;
	}
	.panel-col-first {
		float: left;
		position: relative;
		.inside {
			position: absolute;
			left: 20px;
			top: 2px;
		}
	}
	.panel-col-last {
		float: right;
		.inside {
			float: right;
		}
	}
	.panel-col-bottom {
		background-color: $blue;
		border-top: 3px solid $blue;
		ul.menu {
			overflow: visible;
			text-align: left;
			margin-left: 15px;
			margin-top: -3px;
			li {
				display: inline-block;
				margin-top: 1px;
			}
		li a {
			color: white;
			font-size: 1.4em;
			text-transform: none;
//			padding: 0 0.5em;
			padding: 2px 9px 5px !important;
			margin-left: -3px;
			&:hover,
			&.qtip-hover {
				background-color: white;
				text-decoration: none;
				color: $blue;
			}
		
		}
		}
	}
}

#city-header {
	h2.pane-title {
		display: none;
	}
	div {
		margin: 0;
		padding: 0;
	}
	
	
	ul.menu {
		width: $width;    
		height: 30px;
		line-height: 30px;
		margin: 0 auto;
		padding: 0;
		text-align: center;    
		border: medium none;
		list-style: none outside none;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 62.5%;
	    font-weight: normal;
	    text-align: center;
		li:nth-child(3) a {
			color: $yellow;
		}
		li {
			display: inline;
			float: none;
			margin: 0;
			margin: 0 0 0 0.5em;
			list-style: none outside none;
			font-size: 1.2em;	
			a {
				letter-spacing: 1px;
				border-right: 1px solid fade-out(#BDBDBD, 0.2);
				color: #BDBDBD;
				font-size: 1.1em;
				padding: 0 0.75em;
				text-decoration: none;
				text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
			&.active {
				color: $yellow;
				font-weight: bold;
			}
			}	    
		&.first {
			padding-left: 0;
		}
		&.last a {
			border-right: none;
		}
		}
		li.expanded, li.collapsed, li.leaf {
		    margin: 0;
		    padding: 0.2em 0 0 0;
		}
	}
}
