@import "colors";

body {
	#content-area,
	#footer,
	#bottom {
		position: relative;
		z-index: -6;
	}
	#mini-panel-ahc_banner ul {
		z-index: 1000;
		float: left;
		margin-left: 0;
		margin-top: 0;
		li {
			ul {
				top: 28px;
//				left: 0;
				ul {
					top: -1px;
				}
			}
			margin-left: 0;
			a {	
				color: white;
			&:hover {
				text-decoration: none;
				background-color: lighten($arr_green, 10%);
			}
			}
//			background-color: $ahc_olive !important;
			background-color: darken($ahc_olive, 25%);

		}
	}
}

#block-nice-menus-1 {
//#mini-panel-ahc_banner {
	h2 {
		display:none;
	}
	ul {
		&.nice-menu a {
			padding: 5px;
		}
		&.nice-menu-down {
			clear: right;
			float: right;
			margin: 5px 10px;
		}
		li {
			&.menuparent {
				background-image: none;
				a {
					padding: 5px;
				}
			}
			background-color: $arr_green;
			a {
				color: white;
				&:hover {
					background-color: lighten($arr_green, 10%);
					color: $yellow;
				}
			}
		}
	}
}
