@import "colors";

#header {
        h2.block-title,
        #form_catalog,
        #form_site,
        #form_articles {
                display: none;
        }
#aplCustomSearchWrapper2 {
	float: right;
	width: 340px;
	margin-right: 10px;
	margin-top: 10px;
	input {
		padding: 5px;
		float: right;
	}
	input#search_input {
		width: 258px;
		padding: 5px;
		border-bottom-left-radius: 5px;
	}
	input.search_button {
		background-color: $blue;
		border: none;
		border-top-right-radius: 5px;
		color: white;
		font-weight: bold;
		width: 70px;
		padding: 5px;
	}
	.searchOptions {
		float: left;
		clear: both;
		margin-top: 5px;
		input {
			float: left;
		}
		label {
			font-weight: normal;
			float: left;
			margin: -2px 15px 0 2px;
		}
	}
}
}
