@import "colors";

#block-nice-menus-1 {
	h2 {
		display:none;
	}
	ul {
        li.active-trail {
                a {
                        color: $yellow;
                }
                font-weight: bold;
                li a {
                        color: white;
                        &:hover {
                                color: $yellow;
                        }
                        font-weight: normal;
                }
        }

		&.nice-menu a {
			padding: 5px;
		}
		&.nice-menu-down {
			clear: right;
			float: right;
			margin: 5px 10px;
		}
		li {
			&.menuparent {
				background-image: none;
				a {
					padding: 5px;
				}
			}
			background-color: $blue;
			a {
				color: white;
				&:hover {
					background-color: lighten($blue, 10%);
					color: white;
				}
			}
		}
	}
}
