@import "colors";

#block-nice-menus-1 {
	h2 {
		display:none;
	}
	ul {
		&.nice-menu a {
			padding: 5px;
		}
		&.nice-menu-down {
			clear: right;
			float: right;
			margin: 5px 10px;
		}
		li {
			&.menuparent {
				background-image: none;
				a {
					padding: 5px;
				}
			}
			background-color: $blue;
			a {
				color: white;
				&:hover {
					background-color: lighten($blue, 10%);
					color: white;
				}
			}
		}
	}
}
