@import "colors";

#block-nice-menus-1 {
	background-color: $blue;
	clear: both;
	&:after {
    border-color: transparent darken($blue,10%);
    border-image: none;
    border-style: solid;
    border-width: 26px 0 0 26px;
    content: "";
    display: block;
    float: right;
    height: 0;
    margin-top: 0;
    position: absolute;
    right: -26px;
    top: 0;
    width: 0;
	}
	&:before {
    border-color: darken($blue,10%) darken($blue,10%) transparent;
    border-image: none;
    border-style: solid;
    border-width: 13px;
    border-radius: 0 0 4px 4px;
    content: "";
    display: block;
    float: right;
    height: 250px;
    margin-top: 0;
    position: absolute;
    right: -26px;
    top: 26px;
    width: 0;
	}
h2 {
	display:none;
}
ul {
        li {
		ul {
			clear: both;
			top: 26px;
			border-left: 10px solid lighten($blue, 10%);
			border-top-right-radius: 10px;
			border-top: 1px solid lighten($blue, 50%);
//			border-right: 2px solid lighten($blue, 40%);
			li {
			&.first {
				border-top-right-radius: 10px;
			> a:hover {
				border-top-right-radius: 10px;
			}
			}
				margin-left: 0;	
			}
		}
	border: none;
	margin-left: 1px;
	&.active-trail {
                > a,
		a.active {
                        color: $yellow;
                }
		ul li a:hover {
			color: white;
		}
		ul li:active-trail a {
			color: $yellow;
		}
                font-weight: bold;
                li a {
//                        color: white;
                        &:hover {
                     //           color: $yellow;
                        }
                        font-weight: normal;
                }
        }
	}

		&.nice-menu a {
			padding: 5px;
		}
		&.nice-menu-down {
//			clear: right;
			clear: left;
//			float: right;
			float: none;
			//margin: 5px 10px;
			margin-left: 4px;
			> li.menuparent {
				padding-right: 10px;
			}
		}
		li {
			&.menuparent {
				background-image: none;
				a {
					padding: 5px;
				}
			}
			background-color: $blue;
			a {
				color: white;
				&:hover {
					background-color: lighten($blue, 10%);
					color: white;
				}
			}
		}
	}
}
