/* line 1, ../sass/coa-header.scss */
#block-menu-menu-coa-header li a {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 6, ../sass/coa-header.scss */
.center-coa-brandbar {
  width: 990px;
  margin: 0 auto;
}

/* line 11, ../sass/coa-header.scss */
#block-menu-menu-coa-header {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}
/* line 16, ../sass/coa-header.scss */
#block-menu-menu-coa-header ul li {
  list-style: none outside none;
  float: left;
  margin-top: 4px;
}
/* line 20, ../sass/coa-header.scss */
#block-menu-menu-coa-header ul li a {
  border-right: 1px solid #BDBDBD;
  color: #BDBDBD;
  font-size: 11px;
  letter-spacing: 1px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 30, ../sass/coa-header.scss */
#block-menu-menu-coa-header ul li.last a {
  border: medium none;
}

/* line 37, ../sass/coa-header.scss */
#city-header {
  width: 100%;
  background: black;
}
