/* line 3, ../sass/master.scss */
#page {
  width: 950px;
  margin: 0 auto;
  line-height: 1.5em;
}

/* line 7, ../sass/master.scss */
body {
  background: url("../images/content_bg.jpg") center center repeat-y #ffeac4;
}
/* line 9, ../sass/master.scss */
body > div {
  background-color: transparent;
}

/* line 14, ../sass/master.scss */
.clearfix {
  display: inline-block;
}

/* line 18, ../sass/master.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 26, ../sass/master.scss */
* html .clearfix {
  height: 1%;
}

/* line 30, ../sass/master.scss */
.clearfix {
  display: block;
}

/* line 34, ../sass/master.scss */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 38, ../sass/master.scss */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 42, ../sass/master.scss */
.clear, .clearboth, .clearall {
  clear: both;
}

/* line 46, ../sass/master.scss */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 51, ../sass/master.scss */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* line 56, ../sass/master.scss */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 65, ../sass/master.scss */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* line 71, ../sass/master.scss */
div.view div.views-admin-links {
  width: auto;
}

/* line 75, ../sass/master.scss */
div.block {
  position: relative;
}
/* line 77, ../sass/master.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 92, ../sass/master.scss */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 99, ../sass/master.scss */
div.block:hover .edit {
  display: block;
}

/* line 118, ../sass/master.scss */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 122, ../sass/master.scss */
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 126, ../sass/master.scss */
.with-wireframes .block {
  margin-bottom: 3px;
}
/* line 132, ../sass/master.scss */
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
/* line 135, ../sass/master.scss */
.with-wireframes div#footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 140, ../sass/master.scss */
.with-wireframes #navigation {
  height: 50px;
}
/* line 145, ../sass/master.scss */
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}

/* line 152, ../sass/master.scss */
#main {
  min-height: 715px;
  /*issues with whitespace beneath #bottom */
  height: auto !important;
  /*issues with whitespace beneath #bottom */
}

/* line 157, ../sass/master.scss */
#content {
  float: left;
  width: 900px;
  margin-right: -100%;
  padding: 0;
}

/* line 164, ../sass/master.scss */
#content-inner {
  width: 100%;
  padding: 0 25px;
  position: relative;
  margin-top: 0px;
}

/* line 171, ../sass/master.scss */
.panel-col-first {
  float: left;
  width: 600px !important;
}
/* line 174, ../sass/master.scss */
.panel-col-first .views-field-title {
  font-size: 12px;
}
/* line 177, ../sass/master.scss */
.panel-col-first .view-faq-views {
  margin-bottom: 0px;
}
/* line 180, ../sass/master.scss */
.panel-col-first .pane-title {
  background: #0069aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: .2em .5em 0.2em .5em;
  background: -webkit-gradient(linear, left center, right center, from(#0069aa), to(#0088dd));
  background: -moz-linear-gradient(left, #0069aa, #0088dd);
  background: linear-gradient(270deg, #0088dd, #0069aa);
  -pie-background: linear-gradient(270deg, #0088dd, #0069aa);
  behavior: url(/sites/default/themes/beta/css/PIE.htc);
  margin: .5em .5em .5em 0 !important;
}
/* line 183, ../sass/master.scss */
.panel-col-first .inside {
  padding: 0;
  margin: 0 !important;
  margin-right: 0px !important;
}
/* line 187, ../sass/master.scss */
.panel-col-first .inside .panel-pane {
  padding: 0;
  margin: 0 !important;
}
/* line 190, ../sass/master.scss */
.panel-col-first .inside .panel-pane h2.pane-title-OLD {
  height: 27px;
  margin-top: 8px;
}
/* line 194, ../sass/master.scss */
.panel-col-first .inside .panel-pane .pane-content {
  padding: 0 5px;
  margin: 0 !important;
  padding-left: 8px;
  padding-top: 0px;
  width: 579px;
}

/* line 205, ../sass/master.scss */
.panel-col-last {
  float: left;
  width: 300px !important;
  margin-bottom: 8px;
  margin-left: 0px;
}
/* line 210, ../sass/master.scss */
.panel-col-last .views-field-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 215, ../sass/master.scss */
.panel-col-last .pane-title {
  background: #0069aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: .2em .5em 0.2em .5em;
  background: -webkit-gradient(linear, left center, right center, from(#0069aa), to(#0088dd));
  background: -moz-linear-gradient(left, #0069aa, #0088dd);
  background: linear-gradient(270deg, #0088dd, #0069aa);
  -pie-background: linear-gradient(270deg, #0088dd, #0069aa);
  behavior: url(/sites/default/themes/beta/css/PIE.htc);
  margin: .5em .5em .5em 0 !important;
}
/* line 218, ../sass/master.scss */
.panel-col-last .inside {
  padding: 0;
  margin: 0 !important;
  margin-left: 5px !important;
}
/* line 222, ../sass/master.scss */
.panel-col-last .inside .panel-pane {
  padding: 0;
  margin: 0 !important;
}
/* line 225, ../sass/master.scss */
.panel-col-last .inside .panel-pane h2.pane-title-OLD {
  height: 27px;
  padding-bottom: -1em;
  margin-top: 8px;
}
/* line 230, ../sass/master.scss */
.panel-col-last .inside .panel-pane .pane-content {
  padding: 0 5px;
  margin: 0 !important;
  padding-left: 8px;
  padding-top: 0px;
  padding-right: 8px;
  width: 275px;
}
/* line 237, ../sass/master.scss */
.panel-col-last .inside .panel-pane .pane-content p {
  margin-bottom: 0px;
}

/* line 246, ../sass/master.scss */
.panel-col-bottom .pane-title {
  background: #0069aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: .2em .5em 0.2em .5em;
  background: -webkit-gradient(linear, left center, right center, from(#0069aa), to(#0088dd));
  background: -moz-linear-gradient(left, #0069aa, #0088dd);
  background: linear-gradient(270deg, #0088dd, #0069aa);
  -pie-background: linear-gradient(270deg, #0088dd, #0069aa);
  behavior: url(/sites/default/themes/beta/css/PIE.htc);
  margin: .5em .5em .5em 0 !important;
}

/* line 251, ../sass/master.scss */
h2.pane-title {
  background: #0069aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: .2em .5em 0.2em .5em;
  background: -webkit-gradient(linear, left center, right center, from(#0069aa), to(#0088dd));
  background: -moz-linear-gradient(left, #0069aa, #0088dd);
  background: linear-gradient(270deg, #0088dd, #0069aa);
  -pie-background: linear-gradient(270deg, #0088dd, #0069aa);
  behavior: url(/sites/default/themes/beta/css/PIE.htc);
  margin: .5em .5em .5em 0 !important;
}

/* line 255, ../sass/master.scss */
.panel-2col {
  margin-top: 2px;
  margin-left: 0px;
}

/* line 264, ../sass/master.scss */
#header,
div#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 269, ../sass/master.scss */
.two-sidebars .center,
.announcements .center {
  margin-left: 190px;
}

/* line 273, ../sass/master.scss */
#announcements {
  width: 190px;
  margin-right: -190px;
}

/* line 279, ../sass/master.scss */
.two-sidebars .center,
.secondary-navigation .center {
  margin-right: 200px;
}

/* line 283, ../sass/master.scss */
.inner {
  padding: 0;
}

/* line 287, ../sass/master.scss */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

/* line 296, ../sass/master.scss */
.page-locations > .views-field-name {
  font-weight: bold;
}

/* line 302, ../sass/master.scss */
#header a,
#secondary-navigation a {
  text-decoration: none;
}
/* line 306, ../sass/master.scss */
#header a:link, #header a:visited, #header a:active,
#secondary-navigation a:link,
#secondary-navigation a:visited,
#secondary-navigation a:active {
  color: #fff;
}
/* line 309, ../sass/master.scss */
#header a:hover,
#secondary-navigation a:hover {
  color: #FFEAC4;
}

/* line 315, ../sass/master.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 325, ../sass/master.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 330, ../sass/master.scss */
#edit-delete {
  color: #cc0000;
}

/* line 334, ../sass/master.scss */
#system-themes-form img {
  width: 100px;
}

/* line 338, ../sass/master.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 346, ../sass/master.scss */
div#footer {
  background: #efefef;
}

/* line 350, ../sass/master.scss */
#announcements {
  background: #edf0ff;
  width: 890px;
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 8px;
}
/* line 356, ../sass/master.scss */
#announcements p {
  line-height: 5px;
}
/* line 359, ../sass/master.scss */
#announcements h2 {
  margin-bottom: 0px;
  color: #900;
  text-transform: uppercase;
}

/* line 366, ../sass/master.scss */
.announce-wrap {
  width: 900px;
}

/* line 370, ../sass/master.scss */
.announce-top {
  width: 900px;
  height: 10px;
  background-image: url(../images/apl_announcement_top.jpg);
  float: left;
}

/* line 377, ../sass/master.scss */
.announce-bottom {
  width: 900px;
  height: 10px;
  background-image: url(../images/apl_announcement_bottom.jpg);
  float: left;
}

/* line 385, ../sass/master.scss */
#secondary-navigation {
  width: 900px;
  height: 29px;
  margin-top: 2px;
  background-image: url(../images/apl_secnav_bg.png);
}
/* line 390, ../sass/master.scss */
#secondary-navigation ul {
  margin-left: -1.65em;
  color: #ccc;
  float: left;
}
/* line 395, ../sass/master.scss */
#secondary-navigation li {
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  float: left;
  margin-top: 2px;
  margin-left: 7px;
  color: #ccc;
}

/* line 406, ../sass/master.scss */
#navigation {
  background: #feffa5;
}

/* line 410, ../sass/master.scss */
#block-system-main-menu {
  height: 86px;
  margin: 18px auto 0px;
  width: 900px;
}
/* line 414, ../sass/master.scss */
#block-system-main-menu ul {
  margin-left: 285px;
  padding-top: 58px;
}
/* line 418, ../sass/master.scss */
#block-system-main-menu li {
  border-right: 1px solid white;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  list-style: none;
}
/* line 424, ../sass/master.scss */
#block-system-main-menu li a {
  color: white;
}
/* line 427, ../sass/master.scss */
#block-system-main-menu li.last {
  border: none;
}

/* line 433, ../sass/master.scss */
#content {
  padding-top: 0px;
}

/* line 436, ../sass/master.scss */
#content-area {
  width: 902px;
}

/* line 443, ../sass/master.scss */
#mini-panel-front_page_highlighted_area .panel-col-last {
  width: 390px !important;
}
/* line 446, ../sass/master.scss */
#mini-panel-front_page_highlighted_area .panel-col-first {
  width: 504px !important;
}

/* line 451, ../sass/master.scss */
#highlight .panel-col-first .inside .panel-pane .pane-content {
  padding-left: 0px;
  padding-right: 0px;
  width: 504px;
  height: 174px;
}

/* line 458, ../sass/master.scss */
.breadcrumb {
  margin-bottom: -0.5em;
}

/* line 462, ../sass/master.scss */
.overlogodiv {
  width: 100px;
  height: 75px;
  float: left;
  cursor: pointer;
  z-index: 10;
}

/* line 470, ../sass/master.scss */
.node-blog {
  width: 890px;
  margin-left: 8px;
}

/* line 476, ../sass/master.scss */
.page-locations .views-field-name {
  font-weight: bold;
}
/* line 480, ../sass/master.scss */
.page-locations .locality-block,
.page-locations .street-block {
  float: left;
  padding-right: 2px;
}
/* line 484, ../sass/master.scss */
.page-locations .views-field-field-phone-num {
  display: block;
  clear: both;
  width: 350px;
}
/* line 491, ../sass/master.scss */
.page-locations .country,
.page-locations .locality,
.page-locations .state {
  display: none;
}

/* line 496, ../sass/master.scss */
.views-field-field-lib-image {
  position: relative;
  top: 0;
  clear: both;
}
/* line 500, ../sass/master.scss */
.views-field-field-lib-image img {
  width: 125px;
}

/* line 511, ../sass/master.scss */
.views-field-field-monday,
.views-field-field-tuesday,
.views-field-field-wednesday,
.views-field-field-thursday,
.views-field-field-friday,
.views-field-field-saturday,
.views-field-field-sunday {
  float: left;
  position: relative;
  right: 0px;
}
/* line 515, ../sass/master.scss */
.views-field-field-monday div,
.views-field-field-tuesday div,
.views-field-field-wednesday div,
.views-field-field-thursday div,
.views-field-field-friday div,
.views-field-field-saturday div,
.views-field-field-sunday div {
  float: right;
  width: 150px;
  position: relative;
  right: 75px;
  clear: right;
}

/* line 531, ../sass/master.scss */
.views-field-field-monday,
.views-field-field-tuesday,
.views-field-field-wednesday,
.views-field-field-thursday,
.views-field-field-friday,
.views-field-field-saturday,
.views-field-field-sunday,
.views-field-nothing {
  width: 300px;
  clear: both;
}

/* line 536, ../sass/master.scss */
.search-results {
  margin-right: 20px;
}
