/* line 3, ../sass/messages.scss */
div.error, label.error {
  color: black !important;
}

/* line 7, ../sass/messages.scss */
div.messages {
  padding-left: 3em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
/* line 11, ../sass/messages.scss */
div.messages a.close {
  float: right;
  border: 1px solid #fdb813;
  border-radius: 5px;
  background-color: white;
  padding: 0 .5em;
}
/* line 17, ../sass/messages.scss */
div.messages a.close:hover {
  border: 1px solid red;
  color: red;
}
/* line 22, ../sass/messages.scss */
div.messages ul {
  margin: 2em 3em !important;
}

/* line 27, ../sass/messages.scss */
.region-help {
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/messages.scss */
.region-help div {
  padding: 0;
  margin: 0;
}
/* line 34, ../sass/messages.scss */
.region-help h2 {
  margin-bottom: .3em;
}

/* line 41, ../sass/messages.scss */
div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
  /* LTR */
}

/* line 49, ../sass/messages.scss */
div.status {
  background-image: url(../../../../../misc/message-24-ok.png);
  border-color: #bbee77;
}

/* line 54, ../sass/messages.scss */
div.status,
.ok {
  color: #234600;
}

/* line 58, ../sass/messages.scss */
div.status,
table tr.ok {
  background-color: #f8fff0;
}

/* line 62, ../sass/messages.scss */
div.warning {
  background-image: url(../../../../../misc/message-24-warning.png);
  border-color: #eedd55;
}

/* line 67, ../sass/messages.scss */
div.warning,
.warning {
  color: #884400;
}

/* line 71, ../sass/messages.scss */
div.warning,
table tr.warning {
  background-color: #fffce5;
}

/* line 75, ../sass/messages.scss */
div.error {
  background-image: url(../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

/* line 80, ../sass/messages.scss */
div.error,
.error {
  color: #8c2e0b;
}

/* line 84, ../sass/messages.scss */
div.error,
table tr.error {
  background-color: #fef5f1;
}

/* line 87, ../sass/messages.scss */
div.error p.error {
  color: #333333;
}

/* line 91, ../sass/messages.scss */
div.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 95, ../sass/messages.scss */
div.messages ul li {
  list-style-image: none;
}
