/* line 3, ../sass/search.scss */
.customSearch_formContainer {
  height: 120px;
  width: 390px;
  background-image: url("../images/apl_bannerhead_searchbox_bg.png");
  background-repeat: repeat-y;
  background-position: left;
  border-top: 1px solid #b2b2b2;
  margin: 0;
  margin-top: 26px;
}

/* line 14, ../sass/search.scss */
.customSearch_formContainer > form > label {
  font-size: .85em;
}

/* line 18, ../sass/search.scss */
.CustomSearchLbl {
  visibility: hidden;
}

/* line 22, ../sass/search.scss */
.customSearch_formContainer > form > a {
  display: block;
  font-size: .8em;
}

/* line 27, ../sass/search.scss */
.customSearch_lgTxtFld {
  margin-left: 0;
}

/* line 31, ../sass/search.scss */
.customSearchTab {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1em;
  font-size: .95em;
  margin-right: 2px;
  text-transform: uppercase;
}
/* line 42, ../sass/search.scss */
.customSearchTab li {
  float: left;
  margin: 0 0;
  padding: 0 .5em;
  height: 26px;
  clear: right;
  margin-right: 3px;
}
/* line 50, ../sass/search.scss */
.customSearchTab a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0.25em 0em;
  height: 26px;
  margin-top: 3px;
}

/* line 61, ../sass/search.scss */
.aplCustomSearchContainer {
  width: 390px;
  height: 124px;
  font-size: 12px;
  float: left;
  padding: 0px;
  margin-left: -18px;
  margin-top: 8px;
  background-image: none;
  z-index: 500;
}
/* line 71, ../sass/search.scss */
.aplCustomSearchContainer form {
  width: 360px;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 12px;
}

/* line 79, ../sass/search.scss */
.aplCustomSearchContainer_bottom {
  width: 390px;
  height: 12px;
  float: left;
  background-image: url("../images/apl_bannerhead_searchbox_bottom.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -1px;
}

/* line 89, ../sass/search.scss */
.cst {
  background: #cccccc;
  margin: 0;
  padding: 0;
  border-left: 1px solid #b2b2b2;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 8px;
}
/* line 102, ../sass/search.scss */
.cst:hover {
  background: white;
}

/* line 107, ../sass/search.scss */
.customSearchTab_active {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  margin: 0;
  border-left: 1px solid #b2b2b2;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 8px;
}

/* line 125, ../sass/search.scss */
.initialHidden {
  display: none;
  background: #D4DDEE;
}
