@import "colors";
@import "patterns";

// dimensions

$img_w: 435px;
//$span_w: 49.2%;
$span_w: $img_w;
$img_h: 175px;
$pad: 5px;

body.section-library-service-category,
body.section-library-service-audience,
body.section-services {
	div.panel-col {
		div.content div.field {
			margin-bottom: 0;
		}
		width: $pad+$img_w+$pad !important;
		margin-top: 1em;
		div.field-item {
			padding: $pad;
			img {
				max-width: 100%;
				max-height: $img_h;
				width: $img_w - $pad*2; 
				@include rhombus;
				margin: $pad*2 0;
			}
		}
		div.view-content,
		div.field-items
		 {
			//padding: 0 $pad*2 $pad*4;
			padding: 0 $pad*2 0;
		}
		div.field-label {
			margin-left: $pad;
		}
		div.field-items {
		}
		@include section-border;
		div.views-field-title {
			padding: $pad;
		}
		div.field-type-image div.field-label {
			display: none;
		}
		div.taxonomy-term-description {
			margin: $pad*3 $pad*3 $pad*4;
		}
	}
}

body.page-libraryservices {
	h1.title {
		margin-bottom: 1em;
	}
	div.view-grouping-content {
		margin: 0 $pad*2 $pad*4;
	}
	div.services-grouping {
		padding: $pad;
	}
	div.view-grouping {
		div.view-grouping-header {
			font-size: 1.5em;
			margin: $pad*2 $pad*2 0;
		}
	//	width: $pad+$img_w+$pad !important;
		width: $span_w;
		margin-bottom: $pad*5;
		@include section-border;
		&:nth-child(1), 
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7),
		&:nth-child(9),
		&:nth-child(11),
		&:nth-child(13),
		&:nth-child(15),
		&:nth-child(17),
		&:nth-child(19) {
			float: left;
			clear: both;
		}
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(8),
		&:nth-child(10),
		&:nth-child(12),
		&:nth-child(14),
		&:nth-child(16),
		&:nth-child(18),
		&:nth-child(20) {
			float: right;
			margin-right: 1px;
		}
		img {
			max-width: 100%;
			max-height: $img_h;
			width: $img_w; 
			@include rhombus;
			margin-bottom: $pad*4;
		}
	}
}
