/* line 7, ../sass/submenu.scss */
.block-nice-menus:after, .block-nice-menus:before,
#block-nice-menus-1:after,
#block-nice-menus-1:before,
#block-nice-menus-2:after,
#block-nice-menus-2:before {
  display: none;
}

/* line 13, ../sass/submenu.scss */
#highlight ul,
#highlight ul ul {
  z-index: 5;
  position: relative;
}

/* line 18, ../sass/submenu.scss */
#highlight {
  position: relative;
  line-height: 16px;
}
/* line 19, ../sass/submenu.scss */
#highlight .views-field-field-slide-image {
  height: 110px;
}
/* line 22, ../sass/submenu.scss */
#highlight div.panel-separator {
  height: 0;
  display: none;
}
/* line 27, ../sass/submenu.scss */
#highlight:before {
  position: absolute;
  border-color: transparent transparent #4e3c64;
  border-style: solid;
  border-width: 0 22px 22px 0;
  content: "";
  right: -32px;
  bottom: 0;
  z-index: 10;
}
/* line 38, ../sass/submenu.scss */
#highlight:after {
  position: absolute;
  border-color: #4e3c64 #4e3c64 transparent;
  border-style: solid;
  border-width: 11px;
  height: 200px;
  content: "";
  right: -32px;
}
/* line 51, ../sass/submenu.scss */
#highlight div.menu-block-wrapper {
  background-color: #674f84;
  margin-left: -10px;
  width: 960px;
}
/* line 56, ../sass/submenu.scss */
#highlight div.menu-block-wrapper > ul {
  margin-left: 5px;
}
/* line 61, ../sass/submenu.scss */
#highlight ul {
  padding-left: 0;
}
/* line 63, ../sass/submenu.scss */
#highlight ul li.active,
#highlight ul a.active {
  font-weight: bold;
}
/* line 69, ../sass/submenu.scss */
#highlight ul li.active li a,
#highlight ul a.active li a {
  font-weight: normal;
}
/* line 79, ../sass/submenu.scss */
#highlight ul li ul,
#highlight ul li a:hover ul,
#highlight ul li li a:hover ul,
#highlight ul li li li a:hover ul,
#highlight ul li li li li a:hover ul {
  visibility: visible;
}
/* line 81, ../sass/submenu.scss */
#highlight ul li ul li,
#highlight ul li a:hover ul li,
#highlight ul li li a:hover ul li,
#highlight ul li li li a:hover ul li,
#highlight ul li li li li a:hover ul li {
  width: 200px;
  background-color: #674f84;
}
/* line 94, ../sass/submenu.scss */
#highlight ul li ul ul,
#highlight ul li a:hover ul ul,
#highlight ul li a:hover ul ul ul,
#highlight ul li a:hover li:hover ul ul,
#highlight ul li a:hover li:hover ul ul ul,
#highlight ul li a:hover li:hover li:hover ul ul,
#highlight ul li a:hover li:hover li:hover ul ul ul {
  visibility: hidden;
}
/* line 98, ../sass/submenu.scss */
#highlight ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 105, ../sass/submenu.scss */
#highlight ul ul {
  position: absolute;
  visibility: hidden;
}
/* line 109, ../sass/submenu.scss */
#highlight ul li {
  display: block;
  float: left;
  position: relative;
}
/* line 110, ../sass/submenu.scss */
#highlight ul li ul {
  border-left: 10px solid #9a84b5;
  border-top: 1px solid #cec4db;
}
/* line 114, ../sass/submenu.scss */
#highlight ul li ul li {
  margin-left: 0;
}
/* line 121, ../sass/submenu.scss */
#highlight ul li ul li.first li a {
  border-top-right-radius: 0;
}
/* line 130, ../sass/submenu.scss */
#highlight ul li ul li ul {
  margin-left: 200px;
}
/* line 139, ../sass/submenu.scss */
#highlight ul li ul {
  border-right: none;
}
/* line 142, ../sass/submenu.scss */
#highlight ul li.over ul {
  visibility: visible;
}
/* line 146, ../sass/submenu.scss */
#highlight ul li a {
  display: block;
  color: white;
  padding: 3px 5px;
  text-decoration: none;
}
/* line 152, ../sass/submenu.scss */
#highlight ul li a.active {
  background-color: #9a84b5;
}
/* line 157, ../sass/submenu.scss */
#highlight ul li a:hover {
  background-color: #9a84b5 !important;
}
