@font-face {
  font-family: Lim;
  src: url(http://alis.dev/y20130725b/sites/default/files/fonts/DK%20Limoen.ttf);
  font-weight: 400;
}

/* line 25, ../sass/wordart.scss */
#childrens-services-blog h2 {
  font-family: Lim, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: green;
}
