
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}


/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* remove 'auto' and the width to switch to a fluid width */
/* line 15, ../sass/layout.sass */
#page {
  width: 950px;
  margin: 0 auto;
}

#city-header{
	width:100%;
	background:black;
}

#header {
  width: 900px;
  margin: 0 25px;
}

	#header-region {}

	#block-system-main-menu{}
	

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 20, ../sass/layout.sass */
#main {
  min-height: 715px;  /*issues with whitespace beneath #bottom */
  height: auto !important; /*issues with whitespace beneath #bottom */
}

#content {
  float: left;
  width: 900px; /* was 100% */
  margin-right: -100%;
  padding: 0;
}

#content-inner {
  width: 100%;
  padding: 0 25px;
  position: relative;
  margin-top:0px;
}

/* line 29, ../sass/layout.sass */
#secondary-navigation {
}

/* line 32, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
  width: 950px;
}

.region-footer{}

#bottom {
  float: none;
  clear: both;
  width: 950px;
  height: 5em;  /*issues with whitespace beneath #bottom */
}

.panel-col-first {
  /* margin-left: 0; /* LTR */
  /* margin-right: -587px; /* LTR */ /* Negative value of #content's width + left margin. */
  float: left;
}

.panel-col-first .pane-title { 
  background: url("../images/left_col_head.jpg");
  background-repeat: no-repeat;
  color: white;
}

.panel-col-last {
  float: left; /* LTR */
  /* margin-left: 0; /* LTR */
  /* margin-right: -293px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  /* padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.panel-col-last .pane-title { 
  background: url("../images/right_col_head.jpg");
  background-repeat: no-repeat;
}

.panel-col-bottom .pane-title { 
  background: url("../images/apl_fullwidth_head.jpg");
  background-repeat: no-repeat;
  margin-top:8px;
}   

h2.pane-title { 
  font-size: 1em;
  padding: 5px 0 0 10px !important;
  text-transform: uppercase;  
  color: white;
}

/*Panel Layout*/

.panel-2col {
  margin-top: 2px;
  margin-left:0px;
}



.panel-col-first {  width: 600px !important; float: left; }

.panel-col-first .inside {
  padding: 0; 
  margin: 0 !important;
  margin-right: 0px !important; 
}

.panel-col-first .inside .panel-pane {padding: 0; margin: 0 !important;}

.panel-col-first .inside .panel-pane h2.pane-title {}

.panel-col-first .inside .panel-pane .pane-content {padding: 0 5px; margin: 0 !important;}


.panel-col-last {  width: 300px !important; float: left;}

.panel-col-last .inside { 
  padding: 0; 
  margin: 0  !important;
  margin-left: 5px !important; 
}

.panel-col-last .inside .panel-pane {padding: 0; margin: 0 !important;}

.panel-col-last .inside .panel-pane h2.pane-title {}

.panel-col-last .inside .panel-pane .pane-content {padding: 0 5px; margin: 0 !important;}




/* Layout Helpers */
/* line 37, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 * Make sure you keep negative values as negative values.
 * For example, if I want to increase the width of the left sidebar
 * to 300px, I would have to change each '190' to '300'. */
/* line 55, ../sass/layout.sass */
.two-sidebars .center,
.announcements .center {
  margin-left: 190px;
}

/* line 59, ../sass/layout.sass */
#announcements {
  width: 190px;
  margin-right: -190px;
}

/* line 65, ../sass/layout.sass */
.two-sidebars .center,
.secondary-navigation .center {
  margin-right: 200px;
}

/* line 69, ../sass/layout.sass */
#secondary-navigation {
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 76, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Navigation styles
 * -----------------
 * The navigation is loaded after the content, so we need to make space
 * for it, equal to its height, so if you change the height of the navigation,
 * remember to adapt the margin top of the content and sidebars. */
/* line 84, ../sass/layout.sass */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

.page-locations > .views-field-name
{
	font-weight:bold;
}

/* line 94, ../sass/layout.sass */
.with-navigation #content,
