/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px Arial,Helvetica,sans-serif;
  background-color: #FFEAC4;
  background-image: url("../images/content_bg.jpg");
  background-position: center center;
  background-repeat: repeat-y;
}


#page {
  line-height: 1.5em;  /* 14px x 1.5 = 21px */
}



/* Links */
/* line 11, ../sass/style.sass */
a:link, a:visited {
  color: #0069AA;
  text-decoration: none;
}

/* line 16, ../sass/style.sass */
a:hover, a:active {
  color: #999;
}

#header a:link {color:#fff; text-decoration:none; }
#header a:visited {color: #fff; text-decoration:none;}
#header a:hover {color: #FFEAC4; text-decoration:none;}
#header a:active {color: #fff; text-decoration:none;}

#secondary-navigation a:link {color:#fff; text-decoration:none; }
#secondary-navigation a:visited {color: #fff; text-decoration:none;}
#secondary-navigation a:hover {color: #FFEAC4; text-decoration:none;}
#secondary-navigation a:active {color: #fff; text-decoration:none;}



#footer a:link {color: #333 !important;}
#footer a:visited {color: #333 !important;}
#footer a:hover {color: #fff !important;}
#footer a:active{  color: #333 !important;}


/* Titles. */
/* line 21, ../sass/style.sass */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 28, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 31, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 12px 0 0px 0px;
  margin: 0;
  color:#0069AA;
  text-transform:uppercase;
}

/* line 37, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

/* line 42, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 46, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 50, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 55, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 60, ../sass/style.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 64, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 69, ../sass/style.sass */
table {
  width: 99%;
}

/* line 74, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 77, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 81, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 85, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 93, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 95, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 97, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 99, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 102, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 104, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 106, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 110, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 116, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 120, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 123, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 130, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 134, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 141, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 146, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 151, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 157, ../sass/style.sass */
#header, #footer {
  background: #efefef;
}

/* line 160, ../sass/style.sass */
#announcements {
  background: #edf0ff;
  width:890px;
  padding-left:10px;
  padding-top: 3px;
  margin-top: 8px;
}

.announce-wrap {width:900px;}
.announce-top {width:900px; height:10px; background-image:url(../images/apl_announcement_top.jpg); float:left;}
.announce-bottom {width:900px; height:10px; background-image:url(../images/apl_announcement_bottom.jpg); float:left;}

#announcements P {line-height:5px;
}

#announcements h2 {margin-bottom:0px;
  color:#900;
  text-transform:uppercase;
}

/* line 163, ../sass/style.sass */
#secondary-navigation {
  //background: #ffd075;
  width:900px;
  height:29px;
  margin-top:2px;
  background-image:url(../images/apl_secnav_bg.png);
}

#secondary-navigation ul { margin-left:-1.65em;
  //margin-top:5px;
    color:#ccc;
    float:left;
 
}

#secondary-navigation li {  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  float:left;
  margin-top:2px;
  margin-left:7px;
  color:#ccc;
}

/* line 166, ../sass/style.sass */
#navigation {
  background: #feffa5;
}


/* Begin City Brand Bar */

.center-coa-brandbar {
	width: 990px;
	margin:0 auto;
	}

#block-menu-menu-coa-header {
  background: black;
  font-family: Arial,Helvetica,sans-serif;
}

#block-menu-menu-coa-header {
  height: 30px;
}

#block-menu-menu-coa-header  ul li{
  list-style: none outside none;
  float: left;
  margin-top:4px;
}

#block-menu-menu-coa-header li a {
  border-right: 1px solid #BDBDBD;
  color: #BDBDBD;
  font-size: 11px;
  letter-spacing: 1px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align:middle;
}

#block-menu-menu-coa-header li.last a {
    border: medium none;
}	
/* End City Header */


/* Begin Library Header */
#header {margin-bottom:0px;

}

#header-region {
  background: url("../images/nav_head.jpg");
  background-repeat: no-repeat;
}

#block-system-main-menu {
  height: 86px;
  margin: 18px auto 0px;
  width: 900px;
}	

#block-system-main-menu ul{
  margin-left: 285px;
  padding-top: 58px;

}
#block-system-main-menu li{	
  border-right: 1px solid white;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  list-style: none;
}

#block-system-main-menu li.last{	
  border: none;
}

#block-system-main-menu li a{	
  color: white;
}

/* End Library Header */

/* Begin Library Content*/

#main {}
#content {padding-top:0px;}
#content-area {width:902px;}

/* End Library Content */


/* Begin Library Footer */

#footer{
  background: #CCCCCC;
}

#footer .region-footer {font-size:14px; padding-top:10px; padding-left:-10em;} 

#footer .region-footer #block-menu-menu-footer-menu

#footer .region-footer #block-menu-menu-footer-menu .block-inner

#footer .region-footer #block-menu-menu-footer-menu .block-inner .content

#footer .region-footer #block-menu-menu-footer-menu .block-inner .content .menu


#footer ul {
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
}

#footer ul ul{
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  margin-left:-1.65em;
  margin-top:7px;  
}

#footer ul ul li{
  clear:both;
    font-size:11px;
    line-height:0px;
}

#footer ul ul li li{
  clear:both;
  margin-top:0px;
  line-height:0px;
}

#footer li{
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;  
  float: left;
  padding-bottom: 10px;
  margin-left:-5px;
  margin-right:5px;
}


/* End Library Footer */


/* Begin Library Bottom */

#bottom {
  background: #CCCCCC;
  border-top: 1px solid #333;
  font-size:12px;
  color: #333;
  }

#bottom P {margin-left:19px; margin-top:10px;
}

/* End Library Bottom */


/* */

/*.panel-2col .panel-col-first { */

/*Panel Style*/

.panel-2col {}



.panel-col-first {width:597px;float:left;}

.panel-col-first .inside {margin-top:8px;}

.panel-col-first .inside .panel-pane {}

.panel-col-first .inside .panel-pane h2.pane-title {height:27px;margin-top:8px;}

.panel-col-first .inside .panel-pane .pane-content {padding-left:8px;padding-top:0px; width:579px;}

.panel-col-first .view-faq-views {margin-bottom:0px;}

//.panel-col-first .views-row {border-bottom:1px #999 solid; margin-bottom:15px;}

.panel-col-first .views-field-title {font-size:12px;}



.panel-col-last {margin-bottom:8px;margin-left:0px;float:left;}

.panel-col-last .views-field-title {font-size:14px; text-transform:uppercase; font-weight:bold;}

.panel-col-last .bTitleLink {font-weight:bold; font-size:16px; text-transform:uppercase;   color:#0069AA;}

.panel-col-last .inside {margin-left:0px;}

.panel-col-last .inside .panel-pane {}

.panel-col-last .inside .panel-pane h2.pane-title {height:27px; padding-bottom:-1em;margin-top:8px;}

.panel-col-last .inside .panel-pane .pane-content {padding-left:8px;padding-top:0px; width:275px;}

.panel-col-last .pane-content P {margin-bottom:0px;}


.panel-col-bottom .inside .panel-pane h2.pane-title {height:27px; padding-bottom:-1em;margin-top:8px;}

.panel-col-bottom .inside .panel-pane .pane-content {padding-left:8px;padding-top:0px; padding-right:8px;}


#mini-panel-front_page_highlighted_area .panel-col-last {width:390px !important;}
#mini-panel-front_page_highlighted_area .panel-col-first {width:504px !important;}
#highlight .panel-col-first .inside .panel-pane .pane-content {padding-left:0px; padding-right:0px; width:504px;height:174px;}

.breadcrumb {margin-bottom:-.5em;}

.handler {padding-left:3px;}

.handler_down {padding-left:3px;text-decoration:none;}

.toggle {padding-left:3px;}

.pane-faq-views-panel-pane-1 .views-row-odd {background-color:#D4DDEE; cursor:pointer;}

.pane-faq-views-panel-pane-1 .views-row-even {cursor:pointer;}

.overlogodiv {width:100px; height:75px; float:left; cursor:pointer; z-index:10; /*background-color:#000;*/}

.blEntryWrapper {width: 100%; clear:both; padding: 8px 0px 8px 0px;}

.blMEDImage {width:100px; float:left; margin-right:8px; height:auto; clear:right;}

.bTitleLink {font-weight:bold; font-size:18px; text-transform:uppercase;   color:#0069AA;}

.bTitleLink a:link {color:#0069AA; text-decoration:none; }
.bTitleLink a:visited {color: #0069AA; text-decoration:none;}
.bTitleLink a:hover {color: #999; text-decoration:none;}
.bTitleLink a:active {color: #0069AA; text-decoration:none;}

.blAuthorName {font-weight:bold; font-size:12px;}

.basic_book_list_book_desc {height:auto;margin-bottom:8px; margin-top: 8px;}

/*SEARCH BOX BEGIN*/

.customSearchTab {
	position:relative;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
	line-height:1em;
	font-size:.95em;
	margin-right:2px;
	text-transform:uppercase;
}
.aplCustomSearchContainer
{
	width:390px;
	height:124px;
	font-size:12px;
    float:left;
    padding:0px;
    margin-left:-18px;
    margin-top:8px;
    background-image: none;
}

.aplCustomSearchContainer_bottom
{
	width:390px;
	height:12px;
    float:left;
    background-image:url("../images/apl_bannerhead_searchbox_bottom.png");
    background-repeat: no-repeat;
    background-position:left;
    margin-top:-1px;
}
.aplCustomSearchContainer form
{
	width:360px;
	font-size:14px;
	margin-left:15px;
	margin-top:12px;
}

.customSearchTab li {
	float:left;
	margin:0;
	padding:0;
	height:26px;
	clear: right;
	margin-right:3px;
}
.customSearchTab a {
	display:block;
	color:#0069AA;
	text-decoration:none;
	font-weight:bold;
	margin:0;
	padding:0.25em 1em;
	height:26px;
	margin-top:3px;
}
.customSearchTab_active {
	display:block;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #B2B2B2;
	border-top:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
}


.initialHidden
{
	display:none;
	background:#D4DDEE;


}
.customSearch_formContainer
{
	height:120px;
	width:390px;
	background-image:url("../images/apl_bannerhead_searchbox_bg.png");
    background-repeat: repeat-y;
    background-position:left;
    margin-top:26px;
    border-top:1px solid #B2B2B2;

}

//.aplCustomSearchContainer_top_buttons {width: 390px; heigh:26px; float:left;clear:both;    background-image:none;
}

/*SEARCH BOX END*/

.apl-blog-entry-wrapper .views-field-title {font-size:20px; text-transform:uppercase; font-weight:bold;}
.apl-blog-entry-wrapper  {border-bottom:5px #ccc solid; margin-bottom:15px;}
.node-blog {width:890px;margin-left:8px;}
