/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px Arial,Helvetica,sans-serif;
  background-color: #FFEAC4;
  background-image: url("../images/content_bg.jpg");
  background-position: center center;
  background-repeat: repeat-y;
}


#page {
  line-height: 1.5em;  /* 14px x 1.5 = 21px */
}



/* Links */
/* line 11, ../sass/style.sass */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 16, ../sass/style.sass */
a:hover, a:active {
  color: red;
}

#header a:link {color:#fff; text-decoration:none; }
#header a:visited {color: #fff; text-decoration:none;}
#header a:hover {color: #FFEAC4; text-decoration:none;}
#header a:active {color: #fff; text-decoration:none;}



#footer a:link {color: #333 !important;}
#footer a:visited {color: #333 !important;}
#footer a:hover {color: #fff !important;}
#footer a:active{  color: #333 !important;}


/* Titles. */
/* line 21, ../sass/style.sass */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 28, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 31, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 37, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

/* line 42, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 46, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 50, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 55, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 60, ../sass/style.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 64, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 69, ../sass/style.sass */
table {
  width: 99%;
}

/* line 74, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 77, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 81, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 85, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 93, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 95, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 97, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 99, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 102, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 104, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 106, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 110, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 116, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 120, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 123, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 130, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 134, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 141, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 146, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 151, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 157, ../sass/style.sass */
#header, #footer {
  background: #efefef;
}

/* line 160, ../sass/style.sass */
#announcements {
  background: #e7edff;
}

/* line 163, ../sass/style.sass */
#secondary-navigation {
  background: #ffd075;
}

/* line 166, ../sass/style.sass */
#navigation {
  background: #feffa5;
}


/* Begin City Brand Bar */

.center-coa-brandbar {
	width: 990px;
	margin:0 auto;
	}

#block-menu-menu-coa-header {
  background: black;
  font-family: Arial,Helvetica,sans-serif;
}

#block-menu-menu-coa-header {
  height: 30px;
}

#block-menu-menu-coa-header  ul li{
  list-style: none outside none;
  float: left;
  margin-top:4px;
}

#block-menu-menu-coa-header li a {
  border-right: 1px solid #BDBDBD;
  color: #BDBDBD;
  font-size: 11px;
  letter-spacing: 1px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align:middle;
}

#block-menu-menu-coa-header li.last a {
    border: medium none;
}	
/* End City Header */


/* Begin Library Header */
#header {

}

#header-region {
  background: url("../images/nav_head.jpg");
  background-repeat: no-repeat;
}

#block-system-main-menu {
  height: 86px;
  margin: 18px auto 0;
  width: 900px;
}	

#block-system-main-menu ul{
  margin-left: 195px;
  padding-top: 58px;

}
#block-system-main-menu li{	
  border-right: 1px solid white;
  float: left;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  list-style: none;
}

#block-system-main-menu li.last{	
  border: none;
}

#block-system-main-menu li a{	
  color: white;
}

/* End Library Header */

/* Begin Library Content*/

#main {}
#content {}

/* End Library Content */


/* Begin Library Footer */

#footer{
  background: #CCCCCC;
}

#footer .region-footer {font-size:14px; padding-top:10px; padding-left:-10em;} 

#footer .region-footer #block-menu-menu-footer-menu

#footer .region-footer #block-menu-menu-footer-menu .block-inner

#footer .region-footer #block-menu-menu-footer-menu .block-inner .content

#footer .region-footer #block-menu-menu-footer-menu .block-inner .content .menu


#footer ul {
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
}

#footer ul ul{
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  margin-left:-1.65em;
  margin-top:7px;  
}

#footer ul ul li{
  clear:both;
    font-size:11px;
    line-height:0px;
}

#footer ul ul li li{
  clear:both;
  margin-top:0px;
  line-height:0px;
}

#footer li{
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;  
  float: left;
  padding-bottom: 10px;
  margin-left:-5px;
  margin-right:15px;
}


/* End Library Footer */


/* Begin Library Bottom */

#bottom {
  background: #CCCCCC;
  border-top: 1px solid #333;
  font-size:12px;
  color: #333;
  }

#bottom P {margin-left:19px; margin-top:10px;
}

/* End Library Bottom */


/* */

/*.panel-2col .panel-col-first { */

/*Panel Style*/

.panel-2col {}



.panel-col-first {}

.panel-col-first .inside {}

.panel-col-first .inside .panel-pane {}

.panel-col-first .inside .panel-pane h2.pane-title {height:27px;}

.panel-col-first .inside .panel-pane .pane-content {}


.panel-col-last {}

.panel-col-last .inside {}

.panel-col-last .inside .panel-pane {}

.panel-col-last .inside .panel-pane h2.pane-title {height:27px;}

.panel-col-last .inside .panel-pane .pane-content {}




