@import "colors";

$apl: "http://library.austintexas.gov/sites/default/files/";

@mixin wordart($file) {
	background: url("#{$apl}#{$file}.png") no-repeat scroll left top transparent;
	color: $youth_purple;
	height: 30px;
	margin: 3px 0 5px;
	padding: 0 0 5px;
	text-indent: -9999px;
	border-bottom: 1px solid $youth_purple;
}

#childrens-services-blog {
	h2 {
		@include wordart(childrens-services-blog);
	}
}
