@import "colors";

//$apl: "http://library.austintexas.gov/sites/default/files/";
$apl: 'http://alis.dev/y20130725b/sites/default/files/fonts/';
$font_lim: '#{$apl}DK%20Limoen';
@mixin wordart($file) {
	background: url("#{$apl}#{$file}.png") no-repeat scroll left top transparent;
	color: $youth_purple;
	height: 30px;
	margin: 3px 0 5px;
	padding: 0 0 5px;
	text-indent: -9999px;
	border-bottom: 1px solid $youth_purple;
}


@font-face {
    font-family: 'Lim';
    src: url('#{$font_lim}.eot') format('eot');
    src: url('#{$font_lim}.eot?#iefix') format('embedded-opentype'),
	url('#{$font_lim}.woff') format('woff'),
	url('#{$font_lim}.ttf') format('truetype'),
	url('#{$font_lim}.svg#Lim') format('svg');
    font-weight:400;
}



#childrens-services-blog {
	h2 {
//		@include wordart(childrens-services-blog);
		font-family: Lim, Helvetica, Arial, sans-serif;
		font-size: 25px;
		color: green;
	}
}
