@import "colors";

.youth-banner {
	height: 110px;
}

body.page-ahc-front h1 {
//	display: none;
}

p {
	margin-bottom: 10px;
}

body {
div#apl_footer {
	background-color: darken($youth_purple, 20%);
}
#bottom {
}
	h1 {
		color: darken($youth_purple, 0%);
	}
}

div.overlogodiv {
	background: transparent url("../../apl_blanco/images/apl_logo_color.png") no-repeat 10px 10px;
	width: 125px;
	height: 85px;
}
li.apl-mnav-link.ahc > a {
	font-weight: 800;
}
div#highlight {
	margin-left: 0;
}
