body.page-spanish-home {
	.views-field-field-highlighted-image img {
		width: 940px;
	}
	div.pane-content {
		padding-left: 0 !important;
	}
	div.aplCustomSearchContainer {
		margin-left: -64px;
	}
	div.pane-events-panel-pane-1 h2.pane-title {
		&:after {
			content: "Eventos Destacados";
		}
		span#featured-events {
			display:none;
		}
	}
	div.pane-location-based-blogs-panel-pane-19 h2.pane-title {
		&:after {
			content: "Blog en Espa\00f1ol";
		}
		span {
			display:none;
		}
	}
	div.pane-5 img {
		width: 940px !important;
	}
	div.pane-3 img {
		width: 340px !important;
	}
}
