/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* line 67, ../../sass/layouts/responsive-sidebars.scss */
#page {
  padding: 10px;
}

/*
 * Center the page.
 */
/* line 75, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 95, ../../sass/layouts/responsive-sidebars.scss */
#coa-menu,
#apl-menu,
#header,
#page,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#coa-menu:before, #coa-menu:after,
#apl-menu:before,
#apl-menu:after,
#header:before,
#header:after,
#page:before,
#page:after,
#main2:before,
#main2:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#coa-menu:after,
#apl-menu:after,
#header:after,
#page:after,
#main2:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 899px) {
  /* line 17, ../../sass/layouts/responsive-sidebars.scss */
  #coa-menu {
    display: none;
    max-height: 0;
  }

  /* line 23, ../../sass/layouts/responsive-sidebars.scss */
  #content .panel-2col div.panel-col-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /* line 26, ../../sass/layouts/responsive-sidebars.scss */
  div.panel-col-last {
    visibility: hidden !important;
  }
  /* line 29, ../../sass/layouts/responsive-sidebars.scss */
  div.panel-col-last div.inside,
  div.panel-col-last div#email_render {
    visibility: hidden !important;
  }
}
/*
@media all and (min-width: 900px) {
	#coa-menu {
    		width: $zen-grid-width;
	}	
	#main {
		position: relative;
	}
}
*/
@media all and (min-width: 900px) and (max-width: 959px) {
  /* line 17, ../../sass/layouts/responsive-sidebars.scss */
  #coa-menu {
    display: none;
    max-height: 0;
  }

  /* line 23, ../../sass/layouts/responsive-sidebars.scss */
  #content .panel-2col div.panel-col-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /* line 26, ../../sass/layouts/responsive-sidebars.scss */
  div.panel-col-last {
    visibility: hidden !important;
  }
  /* line 29, ../../sass/layouts/responsive-sidebars.scss */
  div.panel-col-last div.inside,
  div.panel-col-last div#email_render {
    visibility: hidden !important;
  }
}
@media all and (min-width: 960px) {
  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  #coa-menu {
    width: 100%;
  }

  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  #content div.panel-col-first {
    float: left;
    width: 60%;
    margin-left: 0%;
    margin-right: -60%;
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  #content div.panel-col-last {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
  }
}
