.carouselContainer {
	position: relative;
}

.carouselContainer .spinner {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

.carouselContainer .spinner.activeSpinner {
	display: block;
}

.carousel {
	width: 100%;
	overflow: hidden;
	float: left;
	padding: 0;
}

.carouselContainer span.select_label {
	float: left;
	margin: 5px 5px 0 0;
}

.carouselContainer .selectBox {
	float: left;
}

.viewer {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 444px;
	height: 160px;
	float: left;
}

.defaultPopup .viewer {
  width:434px;
}

.viewer .leftBlind, .viewer .rightBlind {
	height: 175px;
	width: 15px;
	top: 0px;
	z-index: 11;
	position: absolute;
}

.viewer .rightBlind {
	background: url('/images/widget.right.blind.png') repeat-y;
	right: -1px;
}

.viewer .leftBlind {
	background: url('/images/widget.left.blind.png') repeat-y;
	left: 0;
}

.container {
	position: relative;
	top: 0;
	z-index: 10;
	margin: 0;
	padding: 0;
	width: 5418px;
}

.container li.carousel_item.bumper {
	position: relative;
}

.container li.carousel_item.bumper img {
	width: 135px;
}

.container li.carousel_item {
  float: left;
  position:relative;
}

.container li.bumper div {
	position: absolute;
	width: 135px;
	height: 135px;
	background: #FFF;
	left: 10px;
	margin: 4px;
	text-align: center;
	top: 0px;
	cursor: pointer;
}

.viewSelector {
	position: absolute;
	right: -5px;
	top: 28px;
	width: 50px;
}

.viewSelector a {
	display: block;
	float: left;
	height: 22px;
	margin: 0pt;
	width: 23px;
}

.viewSelector a img {
	display: none;
}

.viewSelector a.view-medium {
	background: transparent url("/images/icon.view.covers.png?yergeau-rc1-5124-g0d7c4a1") no-repeat scroll 0 0;
}

.viewSelector a.view-medium:hover, .viewSelector a.view-small:hover {
	background-position: 0 -22px;
}

.viewSelector a.view-small {
	background: transparent url("/images/icon.view.small.png?yergeau-rc1-5124-g0d7c4a1") no-repeat scroll 0 0;
}

.viewSelector a.active {
	background-position: 0 -22px;
}

.listView {
	width: 100%;
	margin: 20px 0 0 0;
}

.listView .listItem {
	padding: 10px;
}

.listView .title {
	font-size: 1em;
}

.container li {
	display: block;
	float: left;
	margin: 15px 0 0 0;
	list-style: none;
	padding: 0 5px;
}

.container li img {
	display: block;
	opacity: 0.5;
	border: 0;
	border-width: 4px;
	border-style: solid;
	border-color: transparent;
}

.container li img.current {
	border-width: 4px;
	border-style: solid;
	opacity: 1;
	border-color: #dedede;
	margin-top: 0;
}

.navButton {
	margin-top: 75px;
	cursor: pointer;
	width: 15px;
	height: 20px;
	float: left;
}

.navButton_left {
	margin-right: 7px;
	background: url("/images/widget.arrow.left.gif") no-repeat;
}

.navButton_right {
	float:right;
	background: url("/images/widget.arrow.right.gif") no-repeat;
}

.bibInfoBlock {
	margin-top: 1em;
	text-align: center;
	width: 100%;
}

.bibInfoBlock p {
	margin: 0;
}

.bibInfoBlock .info {
	display: none;
	width: 450px;
	margin: 0 15px;
}

.bibInfoBlock .info.show {
	display: block;
}

.bibInfoBlock .dataPair .label, .bibInfoBlock .dataPair .value {
	float: none;
}

.bibInfoBlock span.subTitle, .bibInfoBlock span.title {
	display: block;
}

p.no_items {
	text-align: center;
	margin-top: 6.5em;
}

div.widget_filters select {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	width: 135px;
}

.carouselContainer form select.collection {
  width: 200px;
}

div#carouselType.tabContainer {
	margin-bottom: 1em;
	width: 100%;
}

div.widget_filters {
	width: 600px;
	margin: 0 auto;
}

div.widget_filters div.filterGroup {
	margin-left: 10px;
	float: left;
	background: #e2e2e2;
	border: 1px solid #ccc;
	padding: 5px;
	margin-top: 1em;
	width: 560px;
}

div.widget_filters .static_facets select#language_value {
	margin-right: 0px;
}

div.widget_filters .static_facets form.facet.single {
	margin: 0;
}

div.widget_filters span.filter_label {
	line-height: 23px;
	float: left;
	margin-right: 10px;
}

div#carouselType.tabContainer ul.subNav {
	font-size: 1.15em;
}

div#carouselType.tabContainer ul.subNav li.active {
	border-width: 1px 1px 2px;
}

div.carousel .lazy_loader {
	position:absolute;
	top:10%;
	left:10%;
	margin:10px auto;
}

.container li.bumper div.item_bumper {
	height: 75%;
	padding:10px;
	width:110px;
}.list {
	margin-bottom: 1em;
}

.bottom_list {
	margin-top: 1em;
}

.quantitySelector select, .quantitySelector label, .pageJump select, .pageJump label {
	vertical-align: middle;
}

#mylists td.select, .ui-combobox input {
width: 25px;
}

.viewSelect .ui-combobox .ui-combobox-input {
	width: 130px;
	display:inline-block;
}

  .listButtons {
    margin-top: 15px;
    position:relative;  
    margin-bottom:15px;
  }
  .listButtons .viewSelect {
    float:right;
  }
  
 .listButtons .sort_selector {
    position: absolute;
    top: -34px;
  }
  
.pagination input {
  width:  25px;
}

.pagination a.ui-button { 
  height: 18px;
  margin: 0;
  top: 5px;
  padding: 0px;
}

.pagination .currentPage {
  margin-top:8px;
}

.borrowing_list .pagination.paginate_top {
  width: 100%;
  margin-bottom:10px;
}

/* =select all/none
 ----------------------------------------------- */
.selectOptions {
	float: left;
}

.selectOptions span.label {
	display: inline;
}

.selectOptions a {
	text-decoration: underline;
}

/* =pagination
 ----------------------------------------------- */
.pageInfo {
	padding: 0 0 1em;
	line-height: 26px;
}

.pageInfo select {
	font-size: 0.916em;
}

.pageInfo p.total {
	margin: 0;
	float: left;
}

.pageInfo p.points {
	margin: 0 0 0 20px;
	float: left;
}

.pagination {
	margin: 0;
	line-height: 19px;
}

.pagination .currentPage {
	margin: 6px 15px 0 0;
	float: left;
}

.pagination fieldset {
	margin: 0;
	vertical-align: bottom;
	float: left;
}

.pagination fieldset label {
	display: inline;
}

.pagination .pageJump {
	margin: 0 0 0 60px;
	float: left;
}

.pagination .pageButtons {
	float: right;
	margin: 6px 0 0 0;
}

.paginate_top {
	width: 45%;
	margin: 0;
	float: right;
}


/* =sort, view and date range select
 ----------------------------------------------- */
.viewSelect {
	float: right;
	width: 335px;
	text-align: right;
}



/* =date range select
 ----------------------------------------------- */

#rangeSelect {
	float: left;
	margin-top: 0;
}



/* =sort select
 ----------------------------------------------- */
#sortSelector {
	float: right;
	margin-top: 0;
}


.borrowing_list .sort_selector {
  display: inline-block;
  float: right;
}

.viewSelect .ui-combobox .ui-combobox-input, .borrowing_list .sort_selector .ui-combobox .ui-combobox-input {
	border: none;
	background: #FFF;
	text-align: right;
	text-decoration: underline;
}

.viewSelect .ui-combobox .ui-combobox-toggle, .borrowing_list .sort_selector .ui-combobox .ui-combobox-toggle {
	background: #eee;
	height:1.3em;
	margin:0 3px -3px 0;
	
}


/* =view select
----------------------------------------------- */

#viewSelector {
	margin: 0 5px 0 10px;
	display: inline-block;
	font-size: 11px;
}

#viewSelector a {
	height: 23px;
	vertical-align: middle;
}


/* =list action buttons
 ----------------------------------------------- */
.listButtons, .searchListButtons {
	padding: 0 0 0.5em 0;
}

#trigger_print_list.open span.closed, #trigger_print_list.closed span.opened {
	display: none;
}

.listButtons input, .listButtons select {
	margin-top: 0;
}

.listButtons input {
	margin: 0 5px 0 0;
	display: inline;
}

.searchListButtons {
	position: absolute;
	top: 38px;
	right: 20px;
}

.searchListButtons #viewSelector {
  margin: 4px 4px 0 10px;
}

/* =generic list item
 ----------------------------------------------- */
div.list .listItem:last-child {
	border-width: 1px 0px 0px 0px;
}

div.list .listItem:first-child {
	border-width: 0px;
}

.listItem {
	border-width: 1px 0;
	border-style: solid;
	margin: 0 0 -1px 0;
	padding: 10px 10px;
	z-index: 1;
	position: relative;
}

.z_two {
	z-index: 2;
}

tr.listItem {
	position: static;
}

#bib-small .listItem {
	padding: 5px 10px;
}

.mainContent .listItem {
	width: 448px;
}

.listItem img.pin {
	display: none;
}

.listItem .label {
	font-weight: normal;
	margin: 0;
}

.listItem .col .label {
	margin-top: 0;
}

.listItem .col {
	float: left;
	width: 220px;
	margin: 0 10px 0 0;
}

.listItem .spinner {
	float: right;
	width: 16px;
	height: 16px;
	padding: 2px;
	border-width: 1px;
}
.listItem .spinner img {
	margin: 0px;
	vertical_align: top;
}

/* =list item action buttons
 ----------------------------------------------- */
.listItem .itemButtons {
	float: right;
	opacity: 0.55;
	width: 140px;
}

.listItem:hover .itemButtons, .hoverItem .itemButtons, .selectedItem .itemButtons {
	opacity: 1;
}

.editButton .dropDownContent, .saveToButton .dropDownContent {
	width: 150px;
}

.saveToButton hr {
	margin: 0.25em 0;
}

.saveToButton ul {
	max-height: 12em;
	overflow: auto;
}

/* =Arrangeable Lists
 ----------------------------------------------- */
.dragMe {
	text-align: right;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 20px;
	margin: 0 0 0 0;
	cursor: pointer;
    display: block;
    width: 20px;
    height: 40px;
    z-index: 999999;
}

/* =list fields
 ----------------------------------------------- */

/* selecter */
.listItem .itemsCheckbox {
	vertical-align: top;
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

.private {
	display: block;
	float: left;
}

#bib-medium .private {
	margin: 3em 0 0 -22px;
}

#bib-small .private {
	margin: 1.6em 0 0 -22px;
}

/* jacket cover */
.listItem .jacketCover {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	vertical-align: top;
}

/* info block */
#bib-medium .info {
	float: left;
	width: 460px;
}
#bib-small .info {
	float: left;
	width: 530px;
}

.mainContent #bib-medium .info {
	float: left;
	width: 220px;
}

/* info block without covers*/
.mainContent #bib-medium .noCover {
	float: left;
	width: 330px;
}

.mainContent #bib-small .info {
	float: left;
	width: 90%;
}

.mainContent #bib-medium .url {
	width: 325px;
	margin-left: 70px;
	float: none;
}

.mainContent .editable #bib-medium .url {
	width: 265px;
	float: left;
}

#bib-medium .ratingBlock {
	margin: 0;
}

#bib-medium .ratingBlock span.button {
	padding: 0;
	line-height: 13px;
}

#bib-medium .title {
	display: block;
}

#bib-medium .title_extension {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana, sans-serif;
}

#bib-small .title {
	font-size: 1em;
	display: block;
}

/* availability */
.item_available, .item_available_in_local_branch, .item_available_in_home_branch, .item_available_in_preferred_branch, .item_not_available, .item_on_order {
	margin: 0 2px;
}

/* call number */
.listItem .call_number {
	margin-top: 0.5em;
}

.listItem .item_download {
	display: block;
}

/* author */
#bib-medium .author {
	display: block;
}

.author {
	margin: 0 6px 0 0;
}

/* format */
.format {
	color: #666;
	display: block;
}

/* subtitle */

.subTitle {
	display: block;
}

#bib-medium .listItem .subTitle {
	font-size: 1.1em;
	font-weight: normal;
	display: block;
	line-height: 1.2;
	white-space: normal;
}

.category {
	display: block;
	font-weight: bold;
	margin: 0.25em 0;
}

.info div.dataPair {
	padding: 0;
}


/* teacher sets */
#bib-medium .subcontent_btn {
	text-decoration:underline;
	color: #666;
}
#bib-medium .subcontent ul {
	padding-left:10px;
}
#bib-medium .subcontent li {
	list-style-type:square;
}



/* =filter bar
 ----------------------------------------------- */
.activeFilters {
	padding: 0 15px 15px 15px;
}

.activeFilters a.button {
}

.filterList {
	padding: 10px;
}

.static_facets form.facet.checkbox {
	margin: 0 0 .75em 0;
}
.static_facets form.facet.single {
	margin: 0 0 .75em;
}

.boolean label, .boolean input {
	margin: 0;
}

.filterList h4 {
	margin: 0.5em 0;
}

.filterList ul li {
	margin: 0px;
}

.filterList ul li.collapsable {
	margin-left: 10px;
}

.filterList ul li.collapsable ul {
	margin-left: 0px;
}

.filterList ul li.collapsable ul li {
	margin-left: 0px;
}

.filterList ul li ul {
	list-style-type: none;
}

.filterList ul li ul li {
	margin-left: 0px;
}

.filterList ul li.micro_formats {
	margin: 0px;
}

.clearfix.expand_buttons {
	display: inline-block;
	float: right;
}

.expandBtn.more {
	display: inline-block;
	float: left;
}

.expand.open .expandBtn.more {
	display: none;
}

.filterList ul li.remaining_filters {
	display: none;
}

.filterList select {
	width: 160px;
	margin-bottom: 10px;
}

.filterList .multiple, .filterList .expand {
	margin-bottom: 1em;
}

.filterList .collapsed {
	margin-bottom: 0;
}

.facet div.hide_facet {
	display: none;
}

label.facet_label {
	font-weight: normal;
	display: inline;
	color: #000;
}

label.facet_label:hover {
	text-decoration: underline;
}

.appliedFilters ul li {
	margin-left: 6px;
}

.appliedFilters ul li {
	margin-left: 6px;
}

/* =edit bar
 ----------------------------------------------- */
.itemDetails .bibInfo {
	margin: 0.5em 0 0 0;
}

.itemDetailsContent {
	padding: 0 10px;
}

.itemDetailsContent p.noContent {
	margin: 0 0 0.5em 0;
}

.itemDetailsContent h3 {
	margin-bottom: 0.25em;
}

/* =holds
 ----------------------------------------------- */
.holdsRequestBlock {
	padding: 5px 0 5px 5px;
	border: 1px solid #fff;
}

.holdsRequestBlock h4 {
	margin: 0;
}

.holdsRequestBlock fieldset {
	margin: 0.25em 0 0.5em 0;
}

.holdsRequestBlock select {
	margin: 0.5em 0;
	width: 165px;
}

.holdsRequestBlock label {
	font-weight: bold;
}

.holdsRequestBlock .expiryDate {
	margin: 0;
	white-space: nowrap;
}

.holdsRequestBlock .expiryDate .day {
	display: inline;
}
.holdsRequestBlock .expiryDate .month {
	display: inline;
}

.holdsRequestBlock .expiryDate .year {
	display: inline;
}

.holdsRequestBlock .expiryDate .day select {
	width: auto;
}

.holdsRequestBlock .expiryDate .month select {
	width: auto;
}

.holdsRequestBlock .expiryDate .year select {
	width: auto;
}

/* =lists
 ----------------------------------------------- */
td.select {
	width: 15px;
}

td.select_option {
	width: 115px;
  max-width: 115px;
	font-size: 10px;
}

.modal-box td {
  line-height: 140%;
}

.searchlist_table td span.subTitle {
  padding: 5px 0;
}

td.select_option .messaging {
  max-width: 115px;
}

td.select_option a.button, td.select_option span.button {
	font-size: 10px;
}

td.private {
	width: 15px;
	float: none;
}

a.tOc {
	display: inline;
	margin: 0 0 0 5px;
}

.item_download a.button {
	font-size: 1em;
}

div.listItem.disabled {
	opacity: 0.5;
	overflow: hidden;
}

div.listItem div.disabled_overlay {
	display: none;
	background-color: rgba(100, 100, 100, 0.4);
	color: #FFF;
	font-size: 20px;
	height: 180px;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100000;
}

div.listItem.disabled div.disabled_overlay {
	display: block;
}

.z_two {
	z-index: 2;
}

/*= Update List Block
 ==========================================*/

#listContentUpdates {
	visibility: hidden;
	border: 1px solid #999;
	border-width: 1px 0;
	background-color: #eee;
	padding: 0px;
	opacity: 0;
	font-size: 14px;
	color: #000;
	text-align: center;
	-webkit-transition: linear all 0.3s;
	background-image: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(10%, #ddd), color-stop(90%, #ddd), to(#eee));
}

#listContentUpdates.show {
	visibility: visible;
	padding: 5px;
	opacity: 1;
	-webkit-transition: linear all 0.31s;
}

/*= Digital List Items
 ==========================================*/

.digital_col .format {
	float: left;
}

.digital_col .submit_button {
	float: left;
}

/*= List Content dividers
 ==========================================*/

.list_text_info {
  display: inline-block;
  float: left;
  width: 250px;
}

.list_text_info .total {
  margin: 0px;
}

.list_buttons_info {
  display: inline-block;
  float: right;
  width: 240px;
}

.borrowing_list .list_buttons_info #viewSelector {
margin: 0 5px 0 5px;
}
.borrowing_list .sort_selector {
  margin: 10px 0;
}
#accountStatus input.text {
	width: 90%;
}

#accountStatus fieldset {
  margin: 1em 0 0.5em 0;
}

#accountStatus .checkbox label {
	line-height: 1.2;
	display: block;
	float: left;
	width: 150px;
	margin: 2px 0 0 2px;
}

#accountStatus .checkbox input {
	float: left;
	width: 15px;
}

#accountStatus h3 a.logout {
	font-weight: normal;
	float: right;	
	text-decoration: underline;
	font-size: 0.916em;
}

#accountStatus ul li {
	padding: 7px 0;
	border-bottom-color: 1px;
	border-bottom-style: solid;
	font-weight: bold;
}

#accountStatus ul li a {
	float: left;
}

#accountStatus ul li a.help_icon {
	float: right;
	position: static;
}

#accountStatus ul li .total {
	font-size: 1.1em;
	margin: 0 0 0 5px;
	font-weight: bold;
}

#accountStatus ul li ol, #accountStatus ul li ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 7px 0;
	border: 0;
}

#accountStatus ul li ol li, #accountStatus ul li ul li {
	border: 0;
	padding: 5px;
	font-size: 0.916em;
	font-weight: normal;
}

#accountStatus ul li ol li .total {
	font-size: 1em;
}


div.DefaultStickyWin h1.header {
	color:#262626;
	font-size:1.25em;
}

div.DefaultStickyWin a.button {
	display: block;
	line-height: 19px;
	text-decoration: none;
	margin: 0;
	padding: 3px 0;
	font-size: 0.916em;
}


div.DefaultStickyWin a.button:hover {
	text-decoration: underline;
}

div.DefaultStickyWin a.button img {
	vertical-align: middle;
	margin-top: -2px;
	border: none;
}


div.DefaultStickyWin select, div.DefaultStickyWin input{
	margin-top: 0;
	vertical-align: middle;
}

div.DefaultStickyWin div.body {
	font-family: Arial, Helvetica;
	font-size: 12px;
}

div.DefaultStickyWin div.body td.select {
	width: 45px;
}

div.DefaultStickyWin select {
	width: 100px;
}

div.DefaultStickyWin input#popup_query {
	width: 260px;
}

div.DefaultStickyWin div.pageButtons{
	float: right;
}
body.omdc div#content {
  width: 960px;
}
body.omdc div.right{
  float:right;
  width:313px;
}

body.omdc div.main{
  width: 620px;
  *width: 647px;
}

body.omdc div.right div#ipodContest, body.omdc div.right div#gettingStarted, body.omdc div.right div#recent_videos,
body.omdc div.main div#runnersUp, body.omdc div.main div#currentNominees, body.omdc div.main div#recentComments {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  border-color:#999999;
  border-style:solid;
  border-width:0 0 1px;
  background-color: #FFF;
}

body.omdc div.right div h2 {
  margin: 0 0 0.25em;
}

body.omdc div.right div h3 {
  margin: 0 0 0.15em;
}


body.omdc div.right div div.dataPair .label{
  width: 20%;
}

body.omdc div.right div div.dataPair .value{
  width: 80%;
}

body.omdc div.right div hr {
  margin: 5px 0 3px 0;
}

body.omdc div#ipodContest {
  margin-top: 10px;
  background:url(/images/contest.ipod.jpg) no-repeat scroll left 10px #FFFFFF;
  padding:10px 31px 24px 92px;
  width: 188px;
}

body.omdc span.highlight, body.omdc a.highlight {
  color: #5799dc;
  text-decoration: underline;
}

body.omdc div.right div#gettingStarted {
  padding: 20px;
}

body.omdc div.right div#recent_videos {
  background-color: #f6f6f6;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
}

body.omdc div.right div#gettingStarted p {
  margin: 0;
  color: #aaa;
  width: 195px;
}

body.omdc div.right div#gettingStarted  div.dataPair{
  margin-bottom: 5px;
}


body.omdc div#bottomCap div#recentContributors, body.omdc div#bottomCap div#recentLists , body.omdc div#bottomCap div#recentTags {
  width: 273px;
  padding: 10px 20px;
  float: left;
  background-color: #f6f6f6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;	
}
body.omdc div#bottomCap div#recentContributors, body.omdc div#bottomCap div#recentLists{
  margin-right: 10px;
}

div#categoryTabs ul{
  float: right;
  margin-top: 5px;
}

div#categoryTabs ul li{
  float: left;
}

div#categoryTabs ul li a{
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 5px 15px 5px;
  margin: 0px 10px 0px -5px;
  background: #c2c2c2;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

div#categoryTabs ul li a.active{
  font-size: 1.2em;
  color: #404040;
  background: #FFF;
  font-weight: bold;
  z-index:1000;
}

ul.contributor_list {
  list-style-image: url(/images/icon.bullet.magnifying.glass.jpg);
  list-style-position: inside;
}

ul.list_list {
  list-style-image: url(/images/icon.bullet.list.jpg);
  list-style-position: inside;  
}

ul.tag_list {
  list-style-image: url(/images/icon.bullet.tag.jpg);
  list-style-position: inside;  
}

#bottomCap ul li {
  margin: 5px 0 0 0;
  font-size: 1.15em;
  color: #5799dc;
}

body.omdc div.main div#currentNominees{
  background-color: #7e7e7e;
  padding: 10px;
  margin: 0 10px 0 0;
  float: left;
  width: 617px;
}

body.omdc div.main div#currentNominees h2 {
  margin: 0;
  color: #FFF;
  float: left;
}

body.omdc div.main div#recentComments{
  margin: 10px 10px 0 0;
  padding: 10px;
  float: left;
  width: 617px;
}

body.omdc div.main div#recentComments div.comment_container {
  padding: 0 108px;
  min-height: 60px;
}

body.omdc div.main div#recentComments li div.jacketCover {
  float: left;
  margin: 0 10px 0 0;
	background: transparent;
}
body.omdc div.main div#recentComments li div.info {
  float: left;
  width: 316px;
  color: #404040;
  font-size: 13px;
  text-decoration: none;
}
body.omdc div.main div#recentComments li div.info span.title {
  font-size: 13px;
}
body.omdc div.main div#recentComments li div.info span.comment{
  font-style: italic;
} 

body.omdc div.main div#recentComments li div.info span.date_created {
  display: block;
  color: #909090;
}

body.omdc div.main  div#runnersUp {
  background-color: #f6f6f6;
  padding: 10px;
  margin: 10px 10px 10px 0;
  float: left;
  border: none;
  width: 617px;
}

div.bib_snippit {
  float: left;
  width: 280px;
  margin: 0 10px 5px 0;
  height: 90px;
}

div.bib_snippit div.jacketCover {
  float: left;
  margin : 0 10px 0 0;
}

div.bib_snippit div.info {
  float: left;
  width: 200px;
}

div.bib_snippit div.info .title a {
  display: block;
}

div.comment_container {
  position: relative;
}

img.upper_quotation{
  position: absolute;
  top: 0;
  left: 0;
}

img.lower_quotation{
  position: absolute;
  bottom: 0;
  right: 0;
}

div#jacketCoversContainer {
  background-image: url(/images/background.jacket.cover.container.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #fff;
  padding: 10px 10px 17px;
  position: relative;
}
div#jacketCoversContainer img#arrowPointer {
  width: 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
} 

div#jacketCoversContainer img.jacketCover.medium {
  vertical-align: middle;
  width: 50px;
  margin: 0 3px;
  opacity: 0;
  cursor: pointer;
}

div#userActions {
  height: 32px;
  line-height:32px;
  width: 442px;
  padding: 0 5px;
  position: relative;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#userActions span.userActionBlock {
  position: absolute;
  top: 0;
  left: 120px;
  display: none;
  width: 320px;
}

div#userActions a.button {
  color: #fff;
  display: inline;
  font-size: 1em;
}

div#userActions span.userActionBlock .ratingBlock {
  float: left;
  margin-top: 8px;
}

div#infoContainer {
  color: #FFF;
  background-color: #333333;
  padding: 5px;
}

div#itemInfo {
  padding: 5px;
  float: right;
  background-color: #515151;
  width: 140px;
  height: 225px;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

div#itemInfo div.itemInfoBlock {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
}

div#itemInfo div.itemInfoBlock .title{
  display: block;
  font-size: 1em;
}

div#itemInfo div.itemInfoBlock a img{
  margin: 0 22px;
}

div#itemInfo div.itemInfoBlock a.button img{
  margin: 0 5px 0 0;
}

div#itemInfo div.itemInfoBlock a {
  color: #FFF;
}


div#feedData {
  height: 178px;
  padding: 20px 75px 0;
  width: 300px;
  margin: 0 5px 5px 0;
  position: relative;
}

div#feedData div#recentUserRating {
  width: 125px;
  height: 24px;
  background: url(/images/icon.big.star.bg.png);
}
div#feedData div#recentUserRating div#currentUserRating {
  height: 24px;
  width: 0%;
  background: url(/images/icon.big.star.png);
}

div#feedData div#recentUserComment{
  font-size: 1.75em;
  line-height: 1.25em;
  font-family: Serif;
  margin-top: 10px;
}

div#feedData div#recentUserName {
  font-size: 1.25em;
}

div#feedData div#recentUserName em {
  font-size: 1.5em;
}

.no_items {
  text-align: center;
  margin-top: 60px;
}

.three_col .secondary .content {
	overflow: hidden;
}

form.list {
	width: 480px;
}

#accountStatus {
	padding: 5px 5px;
}
div.callToAction {
	margin-bottom: 10px;
}

div.bigNum{
	font-size: 4em;
	float: left;
	line-height: 1em;
}

div.feature_content {
	float: left;
	width: 160px;
}

div.secondary h1{
	font-size: 1.25em;
	margin-bottom: 0;
}

div.secondary p.subtitle {
	font-style: oblique;
}

#bib-medium .info {
	float: left;
	width: 285px;
}

#bib-medium .listItem .itemButtons {
	width: 105px;
}

.extra_content {
  font-size: 95%;
  position: absolute;
  right: 15px;
  z-index: 5000;
}

#facet_form_distinction_category {
	margin: 0;
}

a.feature, span.feature {
	font-size: 1.1em;
}

/* info block */
#recentlyShared, #availableForLater {
  padding: 20px 10px;
}

#recentlyShared .info{
	float: left;
	width: 370px;
}

#personalDashboard ul.subNav {
  margin-bottom: 0px;
}


#personalDashboard div.tabContainerContent {
  border-left: 1px solid #999;
  margin-bottom: 20px;
}

#availableForLater .info {
  float: left;
  width: 230px;
}

.recent_rating div.col {
  width: 125px;
}

.recent_rating div.col h4 {
  margin: 0px;
}

.recommend_date {
  color: #999;
}

a.login_button {
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #d81116;
  background-image: url(/images/button_gradient.png);
	background-repeat: repeat-x;
	padding: 10px 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 21px;
  border: 1px inset rgba(100,100,100,0.3);
  border-radius: 1px;
  text-decoration: none;
}

a.login_button:hover {
  color: #ffffff;
}

.doe_matched_accounts_content {
  font-size: 14px; font-weight: bold;
  line-height: 20px;
}
.doe_matched_accounts_content img {
  margin-right:10px;
}