.clearfix {
   display: inline-block;

 }

.clearfix {
	display: block;
}

.checkbox label, .radio label {
	vertical-align: middle;
}

/* =browser
----------------------------------------------- */
.container li img {
	filter: alpha(opacity = 50);
}

/* =list item action buttons
----------------------------------------------- */

.listItem td {
	border-width: 1px 0;
	border-style: solid;
}

.listItem .itemButtons {
  width: 120px;
}


#bib-medium .private {
	margin: 3em 0 0 -25px;
}

#bib-small .private {
	margin: 1.65em 0 0 -25px;
}

/* =tag editor
----------------------------------------------- */
.tagEditor .autocompleter-choices {
  margin: 5px 0 0 10px;
}

.disabledButton img {
  filter: alpha(opacity=30);
}

/* =item page
----------------------------------------------- */
div#printContent div.dataPair {
  clear: both;
}
div.dataPair .value {
  width:64%;
}

div.dataPair .label{
   width:30%;
}

div.popupContent .div.dataPair .value {
  width:64%;
}

div.popupContent .div.dataPair .label {
  width:30%;
}

div.listItem.disabled div.disabled_overlay {
	filter:alpha(opacity=40);
	background-color:  #777;
	height:180px;
}

#advanced_search div.open{
	display: block;
	height: auto;
	overflow: auto;
}

#advanced_search div.constraintBlock {
	height: auto;
	overflow: auto;
	display: none;
}

#advanced_search div.queryConstructor {
	display: block;
}

#advanced_search div.queryConstructor.hide{
	display: none;
}

#biblioMasterMessage {
	background:#000000;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000090,endColorstr=#00000090);
    zoom: 1;
}
